@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;500&family=Montserrat:wght@300;400;500&display=swap');
@mixin flexer ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-items: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #276363;
}

body {
    header {
        nav {
            height: 80px;
            .navbar-brand {
                img {
                    opacity: 0.65;
                    width: 50px;
                    height: auto;
                    margin-right: 0.5rem;
                }
                .site-title {
                    font-weight: 600;
                    color: rgb(148, 167, 172);
                    font-size: 1.4rem;
                    text-shadow: 0 0 5px rgba(150, 190, 150, 0.3);
                }
                
            }
            ul {
                li.nav-item {
                    margin-left: 0.5rem;
                    .nav-link.active {
                        font-weight: 500;
                        color: gray;
                    }
                }
                
            }
            .user {
                @include flexer(row);
                .avatar {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    overflow: hidden;
                    margin-right: 5px;
                    border-radius: 180px;
                    box-shadow: 0 0 5px rgb(230, 230, 230);
                    border: 1px solid rgb(212, 211, 211);
                    img {
                        width: 100%;
                    }
                }
                .name {
                    text-shadow: 0 0 5px rgba(214, 214, 214, 0.993);
                }
                a {
                    margin-left: 15px;
                }
            }
        }
    }
    .main {
        display: flex;
        flex-direction: row;
        margin: 2.5rem 2.5rem;
        .left-col {
            width: 70%;
            padding: 0 2rem;
            .classroom-info {
                background-image: linear-gradient(to left, rgba(231, 231, 231, 0.3), rgb(234, 240, 247));
                // box-shadow: 2px 2px 0px rgba(185, 203, 214, 0.2), inset -2px -2px 5px rgb(233, 233, 233);
                // box-shadow: 0 0 5px rgba(219, 219, 219, 0.267);
                border: 2px solid rgb(230, 230, 230);
                border-radius: 10px;
                padding: 1.5rem 2rem;
                margin-bottom: 1.5rem;
                .title {
                    font-size: 1.5rem;
                    color: #558a8a;
                    font-weight: 500;
                    // text-shadow: 0 0 5px rgb(159, 216, 189);
                }
                .num-students {
                    color: #427474;
                    font-size: 1.1rem
                }
                .share-link {
                    margin-top: 0.5rem;
                    button {
                        @include flexer(row);
                        border: 0;
                        padding: 0;
                        background-color: transparent;
                        color: rgb(91, 158, 136);
                        position: relative;
                        i {
                            margin-left: 10px;
                            font-size: 1.2rem;
                            border-radius: 5px;
                        }
                        .copy-info {
                            position: absolute;
                            left: 105%;
                            background-color: rgba(136, 216, 188, 0.3);
                            color: rgb(31, 156, 115);
                            padding: 2px 10px;
                            border-radius: 5px;
                        }
                    }
                    
                }
            }
            .postbox {
                padding: 0.8rem 0.5rem 0.7rem;
                background-color: #b2caca34;
                border-radius: 10px;
                .form {
                    .inset-float-textinput {
                        position: relative;
                        textarea {
                            width: 100%;
                            padding: 1.5rem 1rem 0.5rem;
                            background-color: #fcfcfc;
                            border-radius: 5px;
                            border: 0;
                            height: 5rem;
                            color: rgb(126, 126, 126);
                            resize: none;
                            &:focus {
                                outline: 2px solid rgb(1, 161, 108);
                                border-color: rgb(1, 161, 108);
                                box-shadow: 0 0 5px rgb(161, 161, 161);
                            }
                            &:focus ~ label {
                                color: rgb(1, 161, 108);
                                background-color: #fcfcfc;
                            }
                            &::placeholder {
                                color: rgb(158, 160, 159);
                            }
                            &::selection {
                                background-color: rgb(36, 206, 149);
                                color: white;
                            }
                        }
                        label {
                            position: absolute;
                            font-size: 0.7rem;
                            top: 0.2rem;
                            left: 1rem;
                            color: rgb(0, 128, 107)
                        }
                    }
                    .form-actions {
                        @include flexer(row);
                        justify-content: space-between;
                        margin-top: 0.3rem;
                        .submit-container {
                            @include flexer(row);
                            button {
                                position: relative;
                                border-radius: 5px;
                                background-color: #84adadce;
                                color: rgb(255, 255, 255);
                                padding: 0.3rem 2rem;
                                border: 0;
                                transition: all 0.3s;
                                box-shadow: 0 0 5px rgb(206, 205, 205);
                                &:hover {
                                    background-color: #7aa5a5;
                                }
                                #loader {
                                    position: absolute;
                                    right: 100%;
                                    top: -1.4rem;
                                }
                            }
                        }
                        .attachement-container {
                            label {
                                background-color: rgba(138, 179, 164, 0.4);
                                color: rgb(90, 116, 116);
                                margin-left: 0;
                                margin-right: 0.5rem;
                                i {
                                    color: #649292;
                                }
                            }
                            .selected-file {
                                color: #649292;
                            }
                        }
                    }
                }
            }
            .recent-posts {
                margin-top: 2rem;
                .post-container {
                    .post-item {
                        @include flexer(row);
                        padding: 0.9rem 1.2rem;
                        // box-shadow: 0 0 3px rgba(173, 173, 221, 0.349);
                        margin-bottom: 1rem;
                        border-radius: 10px;
                        background-color: aliceblue;
                        border: 1px solid transparent;
                        &:hover {
                            border-color: rgba(0, 102, 255, 0.3);
                        }
                        .icon {
                            background-color: rgb(97, 131, 245);
                            overflow: hidden;
                            border-radius: 180px;
                            i {
                                color: white;
                                font-size: 1.5rem;
                                padding: 0.5rem;
                            }
                        }
                        .contents {
                            margin-left: 1.1rem;
                            flex-grow: 100;
                            color: rgb(99, 129, 143);
                            a.title {
                                font-size: 1.1rem;
                                text-decoration: none;
                                color: rgb(134, 134, 134);
                                transition: all 0.5s;
                                &:hover {
                                    color: rgb(0, 102, 255);
                                    text-decoration: dotted;
                                }
                            }
                            .post-time {
                                font-size: 0.8rem;
                            }
                            .info {
                                @include flexer(row);
                                margin-top: 0.3rem;
                                .info-item {
                                    @include flexer(row);
                                    
                                    margin-right: 1rem;
                                    // padding: 0.1rem 1rem;
                                    border-radius: 20px;
                                    i {
                                        margin-right: 0.3rem;
                                        font-size: 1.1rem;
                                        color: rgb(106, 146, 199);
                                    }
                                    span {
                                        color: rgb(106, 146, 199);
                                    }
                                }
                                
                            }
                        }
                        .options {
                            border-radius: 180px;
                            border: 0;
                            position: relative;
                            .options-container {
                                position: absolute;
                                @include flexer(column);
                                right: 115%;
                                top: 50%;
                                transform: translateY(-50%);
                                border-radius: 10px;
                                overflow: hidden;
                                box-shadow: 0 0 5px rgba(201, 201, 201, 0.1);
                                a {
                                    padding: 0.2rem 1rem;
                                    color: gray;
                                    display: block;
                                    background-color: #dde7ee;
                                    width: 100%;
                                    text-decoration: none;
                                    &:hover {
                                        background-color: #c7d6e2;
                                    }
                                }
                            }
                            button {
                                border: 0;
                                background-color: transparent;
                                border-radius: 180px;
                                padding: 0;
                                i {
                                    cursor: pointer;
                                    border-radius: 180px;
                                    color: rgb(175, 175, 175);
                                    padding: 0.3rem;
                                    font-size: 1.4rem;
                                    background-color: rgba(197, 207, 214, 0.3);
                                    transition: all 300ms;
                                    &:hover {
                                        background-color: rgba(197, 207, 214, 0.6);
                                    }
                                }
                            }
                        }
                    }
                }
                .paginator {
                    transition: opacity 500ms;
                    .inner {
                        @include flexer(column);
                        ul {
                            list-style-type: none;
                            padding: 0;
                            
                            li {
                                display: inline;
                                padding: 0 2px;
                                .current-page {
                                    background-color: rgb(127, 182, 182);
                                    box-shadow: 0 0 5px rgb(209, 233, 231);
                                    color: white;
                                    transition: 0.2s;
                                    border-radius: 7px;
                                    padding: 8px 20px;
                                }
                                button.paginator-btn {
                                    background-color: #e4eeee;
                                    color: gray;
                                    transition: 0.2s;
                                    border: 0;
                                    border-radius: 7px;
                                    padding: 6px 12px;
                                    cursor: pointer !important;
                                    &:hover {
                                        background-color: rgb(98, 165, 165);
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-col {
            width: 30%;
            padding: 0 1rem;
            .upcoming {
                .content {
                    ul {
                        padding: 0;
                        list-style-type: none;
                        li {
                            .list-item {
                                @include flexer(row);
                                padding: 2px 5px;
                                border-radius: 5px;
                                // background-color: rgba(234, 243, 240, 0.6);
                                border: 1px solid transparent;
                                transition: all 300ms;
                                i {
                                    font-size: 1.5rem;
                                    margin-right: 0.5rem;
                                    padding: 0.3rem;
                                    border-radius: 5px;
                                }
                                .info {
                                    color: rgb(75, 109, 99);
                                    .label-title {
                                        color: inherit;
                                        text-decoration: none;
                                    }
                                    a.label-title {
                                        transition: all 300ms;
                                        &:hover {
                                            text-shadow: 0 0 5px rgba(207, 223, 223, 0.6);
                                        }
                                    }
                                    .time {
                                        font-size: 0.7rem;
                                    }
                                }
                            }
                            .test {
                                i {
                                    background-color: rgb(199, 224, 216);
                                    color: rgb(80, 150, 126);
                                }
                                &:hover {
                                    background-color: rgba(147, 179, 160, 0.1);
                                }
                            }
                            .assignment {
                                i {
                                    background-color: rgba(199, 206, 224, 0.678);
                                    color: rgb(80, 113, 150);
                                }
                                &:hover {
                                    background-color: rgba(147, 157, 179, 0.1);
                                }
                            }
                        }
                    }
                }
            }
            .live-tests {
                .content {
                    ul {
                        list-style-type: none;
                        padding: 0;
                        li {
                            margin-bottom: 1.5rem;
                            .test-item {
                                @include flexer(column);
                                i {
                                    font-size: 2rem;
                                    margin-right: 0.5rem;
                                    padding: 0.3rem;
                                    border-radius: 5px;
                                    background-color: rgb(199, 224, 216);
                                    color: rgb(80, 150, 126);
                                }
                                .info {
                                    width: 100%;
                                    margin-top: 5px;
                                    .label-title {
                                        color: inherit;
                                        text-decoration: none;
                                        display: block;
                                        text-align: center;
                                        font-size: 1.1rem;
                                        color: gray;
                                    }
                                    a.label-title {
                                        transition: all 300ms;
                                        &:hover {
                                            color: rgb(104, 192, 148)
                                        }
                                    }
                                    .stat {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        padding: 3px;
                                        margin-top: 0.5rem;
                                        border-radius: 10px;
                                        width: 100%;
                                        background-image: linear-gradient(to bottom right, rgba(194, 191, 191, 0.2), rgba(177, 237, 248, 0.384));
                                        div {
                                            @include flexer(row);
                                            font-size: 0.9rem;
                                            i {
                                                font-size: 1.2rem;
                                                background-color: transparent;
                                                margin-right: 0;
                                            }
                                            span {
                                                color: rgb(99, 144, 165);
                                            }
                                            span.value {
                                                font-weight: 500;
                                            }
                                        }
                                    }
                                    .action {
                                        a {
                                            display: block;
                                            text-align: center;
                                            text-decoration: none;
                                            padding: 3px;
                                            margin-top: 0.5rem;
                                            border-radius: 20px;
                                            background-color: inherit;
                                            border: 2px solid rgb(150, 190, 177);
                                            box-shadow: 0 0 5px rgba(200, 233, 222, 0.5);
                                            width: 100%;
                                            // background-image: linear-gradient(to bottom right, rgba(194, 191, 191, 0.4), rgba(177, 248, 242, 0.5));
                                            color: rgb(5, 172, 69);
                                            transition: all 300ms;
                                            &:hover {
                                                color: #ffffff;
                                                background-color: rgb(150, 190, 177);
                                                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .links {
                background-color: rgba(202, 224, 214, 0.2);
                a {
                    @include flexer(row);
                    justify-content: center;
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    transition: all 300ms;
                    i {
                        font-size: 1.2rem;
                        margin-right: 0.5rem;
                    }
                }
                a.create-test {
                    background-color: rgb(49, 180, 139);
                    box-shadow: 0 0 5px rgb(202, 202, 202);
                    margin-bottom: 0.5rem;
                    i, span {
                        color: rgb(232, 255, 247);
                    }
                    &:hover {
                        background-color: rgb(18, 136, 99);
                    }
                }
                a.create-work {
                    background-color: rgb(53, 119, 177);
                    box-shadow: 0 0 5px rgb(145, 154, 163);
                    i, span {
                        color: rgb(238, 242, 255);
                    }
                    &:hover {
                        background-color: rgb(40, 93, 139);
                    }
                }
            }
        }
        .create-assignment-container {
            width: 100%;
            padding: 0 5%;
            .page-title {
                font-size: 1.2rem;
                text-align: center;
                color: #649292;
                margin-bottom: 2rem;
                // text-shadow: 0 0 5px rgb(231, 231, 231);
            }
            form {
                .inset-float-textinput {
                    position: relative;
                    margin-bottom: 2rem;
                    textarea {
                        width: 100%;
                        padding: 1.5rem 1rem 0.5rem;
                        border-radius: 5px;
                        border: 1px solid rgb(182, 182, 182);
                        height: 12rem;
                        &:focus {
                            outline: 2px solid rgb(1, 161, 108);
                            border-color: rgb(1, 161, 108);
                            box-shadow: 0 0 5px rgb(161, 161, 161);
                        }
                        &:focus ~ label {
                            color: rgb(1, 161, 108);
                        }
                        &::placeholder {
                            color: rgb(158, 160, 159);
                        }
                        &::selection {
                            background-color: rgb(36, 206, 149);
                            color: white;
                        }
                    }
                    label {
                        position: absolute;
                        font-size: 0.7rem;
                        top: 0.2rem;
                        left: 1rem;
                    }
                }
                .other-fields {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .deadline {
                        position: relative;
                        i {
                            position: absolute;
                            right: 5px;
                            font-size: 1.5rem;
                            top: 50%;
                            transform: translateY(-55%);
                            border-radius: 5px;
                            color: rgb(69, 155, 126);
                            padding: 2px;
                        }
                        input {
                            border-radius: 5px;
                            border: 0;
                            padding: 5px 20px 5px 10px;
                            background-color: rgba(183, 207, 198, 0.1);
                            border: 1px solid rgb(216, 216, 216);
                            transition: all 200ms;
                            color: #276363;
                            &::placeholder {
                                font-size: 0.9rem
                            }
                            &:focus {
                                outline: 2px solid rgb(1, 161, 108);
                                border-color: rgb(1, 161, 108);
                                box-shadow: 0 0 5px rgb(161, 161, 161);
                                background-color: white; 
                            }
                        }
                        label {
                            color: #276363;
                        }
                    }
                }
                .submit-container {
                    @include flexer(row);
                    justify-content: end;
                    margin-top: 1.5rem;
                    border-top: 1px dashed green;
                    button {
                        margin-top: 0.5rem;
                        border-radius: 5px;
                        background-color: #649292;
                        color: rgb(255, 255, 255);
                        padding: 0.7rem 2rem;
                        border: 0;
                        transition: all 0.3s;
                        &:hover {
                            background-color: #7aa5a5;
                        }
                    }
                }
            }
        }
        .post-detail {
            padding: 0 7%;
            .post-body {
                // background-color: rgba(240, 248, 255, 0.5);
                .description {
                    font-size: 1.2rem;
                    color: #276363;
                }
                .attachments {
                    margin-top: 1.5rem;
                    border-radius: 10px;
                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        background-color: rgba(208, 221, 226, 0.2);
                        padding: 1rem 1.5rem 1.5rem;
                        border-radius: 10px;
                        .label {
                            @include flexer(row);
                            margin-bottom: 0.7rem;
                            i {
                                color: #438879;
                                font-size: 1.5rem;
                            }
                            span {
                                color: #66977b;
                                font-family: 'Gemunu Libre', sans-serif;
                                font-size: 1.1rem
                            }
                        }
                        li {
                            @include flexer(row);
                            border-radius: 5px;
                            margin-bottom: 0.5rem;
                            .file-item {
                                padding: 0.3rem 1rem;
                                border-radius: 10px;
                                background-color: rgba(107, 155, 174, 0.2);
                                @include flexer(row);
                                .filename {
                                    color: #276363;
                                }
                                a {
                                    margin-left: 1rem;
                                    border-radius: 5px;
                                    background-color: rgba(92, 167, 196, 0.774);
                                    padding: 2px 7px;
                                    i {
                                        text-align: center;
                                        color: white;
                                    }
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .post-info {
                    color: #276363;
                    .post-time {
                        margin-top: 0.3rem;
                        @include flexer(row);
                        i {
                            font-size: 1.2rem;
                            color: rgb(155, 179, 192);
                            margin-right: 5px;
                        }
                        .time {
                            font-size: 0.9rem;
                            font-family: 'Gemunu Libre', sans-serif;
                            color: rgb(168, 183, 196);
                        }
                    }
                }
            }
            .comments {
                background-color: rgba(239, 248, 255, 0.3);
                border-top: 5px solid rgba(194, 218, 218, 0.6);
                // box-shadow: 0 0 5px rgb(224, 224, 224);
                padding-top: 0.5rem;
                margin-top: 3rem;
                overflow: hidden;
                border-radius: 10px;
                .heading {
                    @include flexer(row);
                    margin-bottom: 1rem;
                    padding-left: 1rem;
                    i {
                        font-size: 1.4rem;
                        margin-right: 10px;
                        color: #6d9797;
                    }
                }
                .comments-container {
                    border-radius: 5px;
                    padding: 1rem;
                    ul.comments-list {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        li {
                            .comment {
                                border-radius: 10px;
                                margin-bottom: 1.5rem;
                                .comment-inner, .reply {
                                    @include flexer(row);
                                    background-color: hsla(180, 16%, 91%, 0.8);
                                    // box-shadow: 0 0 5px rgba(223, 223, 223, 0.445);
                                    // border: 1px solid rgb(196, 196, 196);
                                    padding: 10px;
                                    border-radius: 10px;
                                    .avatar {
                                        border-radius: 180px;
                                        border: 1px solid rgb(187, 187, 187);
                                        overflow: hidden;
                                        min-width: 40px;
                                        max-width: 40px;
                                        min-height: 40px;
                                        max-height: 40px;
                                        align-self: flex-start;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    .comment-body {
                                        margin-left: 0.5rem;
                                        .username {
                                            font-weight: 500;
                                        }
                                        .user-teacher {
                                            &::after {
                                                content: "Teacher";
                                                color: white;
                                                display: inline-block;
                                                padding: 0 5px;
                                                border-radius: 5px;
                                                font-size: 0.9rem;
                                                font-family: 'Gemunu Libre', sans-serif;
                                                position: relative;
                                                left: 5px;
                                                background-color: #2763638f;
                                                box-shadow: 0 0 5px rgba(106, 167, 146, 0.3);;
                                            }
                                        }
                                        .time {
                                            font-size: 0.7rem;
                                            margin-bottom: 5px;
                                            color: gray;
                                        }
                                        .comment-text {
                                            font-size: 0.9rem;
                                        }
                                        .reply-btn {
                                            button {
                                                float: right;
                                                background-color: inherit;
                                                border: 0;
                                                @include flexer(row);
                                                i {
                                                    font-size: 1.2rem;
                                                }
                                                span {
                                                    font-family: 'Gemunu Libre', sans-serif; 
                                                }
                                            }
                                        }
                                    }
                                }
                                .comment-inner {
                                    padding-bottom: 5px;
                                }
                                .replies {
                                    ul.reply-list {
                                        list-style-type: none;
                                        padding-left: 10%;
                                        li {
                                            .reply {
                                                margin-top: 0.5rem;
                                            }
                                        }
                                    }
                                }
                                .reply-input {
                                    padding-left: 10%;
                                    margin-top: 0.5rem;
                                    input {
                                        border: 0;
                                        border-radius: 5px;
                                        border: 1px solid rgb(197, 214, 208);
                                        padding-left: 10px;
                                        // border-top: 2px solid rgb(176, 197, 190);
                                        // border-left: 2px solid rgb(176, 197, 190);
                                        // box-shadow: 0 0 5px rgba(214, 214, 214, 0.61);
                                        background-color: inherit;
                                        &:focus {
                                            border-color: rgb(1, 161, 108);
                                            outline: 0;
                                        }
                                    }
                                    button {
                                        padding-right: 0
                                    }
                                }
                            }
                        }
                    }
                    .comment-input, .reply-input {
                        @include flexer(row);
                        padding: 0 1rem;
                        margin-top: 2rem;
                        input {
                            border: 3px solid rgb(176, 197, 190);
                            padding: 5px 20px;
                            border-radius: 180px;
                            flex-grow: 100;
                            transition: all 300ms;
                            &:focus {
                                border-color: rgb(1, 161, 108);
                                outline: 0;
                            }
                            &:focus ~ button {
                                i {
                                    color: rgb(1, 161, 108);
                                }
                            }
                        }
                        button {
                            border: 0;
                            background-color: inherit;
                            display: flex;
                            i {
                                transition: all 300ms;
                                font-size: 1.8rem;
                            }
                        }
                    }
                    .comment-input {
                        padding: 0;
                        input {
                            &:focus + button {
                                background-color: rgb(1, 161, 108);
                                i {
                                    color: white;
                                }
                            }
                        }
                        button {
                            background-color: rgb(176, 197, 190);
                            padding: 7px;
                            border-radius: 180px;
                            margin: 0 10px 0 10px;
                            transition: all 300ms;
                            i {
                                font-size: 1.5rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .classrooms-dashboard {
            width: 100%;
            position: relative;
            .classes-section {
                .heading {
                    @include flexer(column);
                    border-radius: 5px 5px 0 3px;
                    padding: 0 0 5px 10px;
                    i {
                        font-size: 2.2rem;
                    }
                    span {
                        font-size: 1.3rem;
                    }
                }
                .classrooms-container {
                    margin-top: 1rem;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 24% 24% 24% 24%;
                    justify-content: center;
                    column-gap: 1%;
                    row-gap: 1rem;
                    a.classroom {
                        display: block;
                        text-decoration: none;
                        border-radius: 10px;
                        border: 1px solid rgba(221, 220, 220, 0.623);
                        overflow: hidden;
                        transition: all 300ms;
                        .classroom-heading {
                            padding: 1.5rem;
                            @include flexer(column);
                            .title {
                                font-size: 1.3rem;
                                font-weight: 500;
                                color: hsla(167, 37%, 34%, 0.8);
                                text-align: center;
                                // text-shadow: 0 0 5px rgb(207, 243, 240);
                            }
                            .course {
                                font-family: 'Gemunu Libre', sans-serif;
                                font-size: 1rem;
                                color: #7e9fa0;
                            }
                            .owner {
                                @include flexer(row);
                                width: 100%;
                                margin-top: 5px;
                                i {
                                    font-size: 1.3rem;
                                    color: rgba(56, 133, 168, 0.7);
                                    margin-right: 5px;
                                }
                                span {
                                    color: rgb(102, 142, 160);
                                }
                            }
                        }
                        .info {
                            padding: 1rem 1rem;
                            background-color: white;
                            .i-item {
                                @include flexer(row);
                                i {
                                    font-size: 1.4rem;
                                    margin-right: 5px;
                                    color: #8ca79c;
                                }
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                            .event-info {
                                margin-top: 5px;
                            }
                        }
                        &:hover {
                            box-shadow: 0 0 10px rgba(192, 192, 192, 0.3);
                        }
                    }
                }
            }
            .my-teachings {
                .heading {
                    i {
                        color: rgb(79, 199, 159);
                        text-shadow: 0 0 5px rgba(165, 248, 220, 0.3);
                    }
                    span {
                        color: rgb(73, 168, 137);
                        text-shadow: 0 0 5px rgb(243, 252, 249);
                    }
                }
                .classrooms-container {
                    a.classroom {
                        .classroom-heading {
                            box-shadow: 0 0 5px rgba(224, 224, 224, 0.4), inset 3px 3px 5px rgba(163, 206, 192, 0.4);
                            background-image: linear-gradient(to right, rgba(99, 185, 167, 0.5), rgb(213, 236, 228));
                        }
                    }
                }
            }
            .my-learnings {
                margin-top: 1rem;
                .heading {
                    i {
                        color: rgb(107, 172, 209);
                        text-shadow: 0 0 5px rgba(165, 248, 220, 0.3);
                    }
                    span {
                        color: rgb(102, 146, 172);
                        text-shadow: 0 0 5px rgb(243, 252, 249);
                    }
                }
                .classrooms-container {
                    a.classroom {
                        .classroom-heading {
                            background-image: linear-gradient(to right, rgba(135, 177, 197, 0.3), rgb(236, 241, 250));
                            box-shadow: 0 0 5px rgba(224, 224, 224, 0.4), inset 3px 3px 5px rgba(163, 183, 206, 0.2);
                        }
                    }
                }
            }
            .create-classroom-link {
                position: fixed;
                top: 90vh;
                right: 10px;
                background-color: transparent;
                padding: 5px;
                a {
                    text-decoration: none;
                    i {
                        font-size: 3.5rem;
                        color: hsla(180, 41%, 39%, 0.8);
                        text-shadow: 2px 2px 5px rgba(156, 195, 201, 0.3);
                        transition: all 300ms;
                    }
                    &:hover {
                        i {
                            text-shadow: 3px 3px 10px rgba(156, 195, 201, 0.7);
                        }
                    }
                }
            }
        }
        .create-classroom {
            width: 100%;
            padding: 0 10%;
            .heading {
                @include flexer(row);
                margin-bottom: 2rem;
                i {
                    font-size: 1.5rem;
                    margin-right: 10px;
                    color: rgb(122, 211, 181);
                }
                .title {
                    color: rgb(113, 196, 168);
                    font-size: 1.2rem;
                }
            }
            .form {
                width: 100%;
                .field-container {
                    margin-bottom: 1rem;
                }
                .inset-float-textinput {
                    position: relative;
                    input {
                        width: 100%;
                        padding: 1.5rem 1rem 0.5rem;
                        border-radius: 5px;
                        border: 1px solid rgb(182, 182, 182);
                        font-size: 1rem;
                        &:focus {
                            outline: 2px solid rgb(1, 161, 108);
                            border-color: rgb(1, 161, 108);
                            box-shadow: 0 0 5px rgb(161, 161, 161);
                        }
                        &:focus ~ label {
                            color: rgb(1, 161, 108);
                        }
                        &::placeholder {
                            color: rgb(158, 160, 159);
                        }
                        &::selection {
                            background-color: rgb(36, 206, 149);
                            color: white;
                        }
                    }
                    label {
                        position: absolute;
                        font-size: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 1rem;
                        transition: all 200ms;
                    }
                    .inp_input:focus ~ .inp_label, 
                    .inp_input:not(:placeholder-shown).inp_input:not(:focus) ~ .inp_label {
                        top: 0.6rem;
                        font-size: 0.7rem;
                        color: #3b8f65;
                    }
                }
            }
            .success {
                background-color: #e8f1ee;
                box-shadow: 0 0 5px rgba(236, 236, 236, 0.8);
                padding: 2rem 2rem 1.5rem;
                border-radius: 10px;
                @include flexer(column);
                i.icon {
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }
                .classroom-name {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                    a {
                        text-decoration: none;
                        color: #276363;
                        text-shadow: 0 0 5px rgba(69, 116, 102, 0.2);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .share-link {
                    margin-top: 0.5rem;
                    button {
                        @include flexer(row);
                        border: 0;
                        padding: 5px 20px;
                        background-color: rgb(83, 218, 123);
                        box-shadow: 0 0 5px rgba(140, 172, 150, 0.2);
                        border: 1px solid rgb(73, 226, 2);
                        border-radius: 5px;
                        color: rgb(41, 126, 100);
                        position: relative;
                        transition: all 300ms;
                        &:hover {
                            box-shadow: 0 0 10px rgba(140, 172, 150, 0.5);
                        }
                        i {
                            margin-left: 10px;
                            font-size: 1.2rem;
                            border-radius: 5px;
                        }
                        .copy-info {
                            position: absolute;
                            left: 105%;
                            background-color: rgba(136, 216, 188, 0.8);
                            color: rgb(31, 156, 115);
                            padding: 2px 10px;
                            border-radius: 5px;
                        }
                    }
                    
                }
            }
        }
    }
}


// general components

.title-box {
    border-radius: 10px;
    // box-shadow: 0 0 10px rgba(204, 204, 204, 0.2);
    overflow: hidden;
    margin-bottom: 2rem;
    border: 2px solid rgba(153, 153, 153, 0.2);
    .title {
        background-color: #dfe9e65b;
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 1.1rem;
        color: rgb(110, 160, 118);
        text-align: center;
    }
    .content {
        margin: 1rem;
        .no-content {
            padding: 1rem 0;
            .icon {
                i {
                    font-size: 3rem;
                    color: gray;
                }
            }
            .info {
                font-size: 1.2rem;
                color: gray;
            }
        }
    }
}

.input-file {
    @include flexer(row);
    overflow: hidden;
    input[type="file"] {
        display: none;
    }
    input[type="file"]:active + label {
        background-color: rgb(1, 161, 108);
        color: rgb(231, 231, 231) !important;
        i {
            color: rgb(231, 231, 231) !important;
        }
    }
    label {
        @include flexer(row);
        background-color: rgba(183, 207, 198, 0.1);
        border: 1px solid rgb(216, 216, 216);
        color: #276363;
        text-align: center;
        padding: 0.3rem 1rem;
        cursor: pointer;
        transition: all 0.3s;
        margin-left: 0.5rem;
        border-radius: 5px;
        i {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            transition: 0.3s all;
            color: rgb(69, 155, 126);
        }
        &:hover {
            background-color: rgba(138, 179, 164, 0.4);
        }
        
    }
    .selected-file {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #276363;
    }
}

.btn-1 {
    float: right;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #4d7385;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms;
    &:hover {   
        background-color: #799eaf;
    }
}

.btn-1-outlined {
    display: inline-block;
    border: 2px solid #76919e;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    background-color: inherit;
    color: #76919e;
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms;
    text-decoration: none;
    font-weight: 500;
    &:hover {
        background-color: #76919e;
        color: white;
        box-shadow: 3px 3px 5px rgb(216, 216, 216);
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  