<!DOCTYPE html>
<html lang="en">
<head> {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="{% static 'styles/viewresult.css' %}">
    <title>Test detail</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand flexer-row ms-4" href="{% url 'classroom:homepage' %}">
                  <div class="site-title">OpenClassroom</div>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tests</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Assignments</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Student
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Student list</a></li>
                      <li><a class="dropdown-item" href="#">Student groups</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Files</a>
                  </li>
                </ul>
                <div class="user ms-auto me-4">
                  <div class="avatar">
                    <img src="{{ request.user.account.avatar_url }}" alt="avatar">
                  </div>
                  <span class="name">{{ request.user.first_name }}</span>
                  <a href="{% url 'accounts:user_logout' %}" class="btn-1-outlined">Logout</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="main">
        <div class="test">
          <div class="test-title">{{ test.title }}<a href="" class="edit"><i class='bx bxs-edit'></i></a> </div>
          <div class="info">
            <div class="num-ques"><span class="label">Number of questions:&nbsp;</span><span class="value">{{ test.num_questions }}</span></div>
            <div class="total-marks"><span class="label">Total marks:&nbsp;</span><span class="value">{{ test.total_marks }}</span></div>
          </div>
          <!-- <div class="created"><span class="time">10/23/2022, 10:34:32 pm</span></div> -->
          <div class="action">
            <div class="switch-label" id="switch-info">{% if test.expired %}Test is Inactive{% else %}Test is Live{% endif %}</div>
            <div class="switch">
              <input type="checkbox" name="" id="switch1" {% if not test.expired %}checked="checked"{% endif %}>
              <label for="switch1"></label>
            </div>
          </div>
        </div>
        <div class="table-container">
            <div class="heading">Answer Sheets</div>
            <div class="inner" id="table-content">
            </div>
            <div class="loader" id="loader"><i class='bx bx-loader-circle'></i><span>Loading</span></div>
        </div>
        
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script src="{% static 'scripts/test_detail.js' %}"></script>
<script>
  const api_url = "{% url 'exam_api:test_answersheets' test.id %}"
  const test_id = "{{ test.id }}"
</script>
</body>
</html>

