<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'accounts/styles/auth.css' %}">
    <title>FlippedClassroom Signup</title>
</head>
<body>
    <div class="container signup">
        <div class="form">
            <div class="heading">
                <div class="site-title">FlippedClassroom</div>
            </div> {% csrf_token %}
            <div class="field-container name">
                <div class="first_name inset-float-textinput">
                    <input class="inp_input" type="text" id="first_name" placeholder=" ">
                    <label class="inp_label" for="first_name">First Name</label>
                </div>
                <div class="last_name inset-float-textinput">
                    <input class="inp_input" type="text" id="last_name" placeholder=" ">
                    <label class="inp_label" for="last_name">Last Name</label>
                </div>
            </div>
            
            <div class="field-container inset-float-textinput email">
                <input class="inp_input" type="email" id="email" placeholder=" ">
                <label class="inp_label" for="email">Email</label>
            </div>
            <div class="field-container inset-float-textinput password">
                <input class="inp_input" type="password" id="password1" placeholder=" ">
                <label class="inp_label" for="password1">Password</label>
                <i class='bx bx-hide password-toggle' id="p1-toggle" data-inp="password1"></i>
            </div>
            <div class="field-container inset-float-textinput password">
                <input class="inp_input" type="password" id="password2" placeholder=" ">
                <label class="inp_label" for="password2">Retype Password</label>
                <i class='bx bx-hide password-toggle' id="p2-toggle" data-inp="password2"></i>
            </div>
            <div class="actype-info">
                <i class='bg bx bxs-user-detail'></i>
                <div class="actype-con">
                    <div class="label me-2">I am a</div>
                    <div class="inp-con">
                        <div class="inp-inner me-2">
                            <input type="radio" name="actype" id="actype-student" checked="">
                            <label for="actype-student">Student</label>
                        </div>
                        <div class="inp-inner">
                            <input type="radio" name="actype" id="actype-teacher">
                            <label for="actype-teacher">Teacher</label>
                        </div>
                    </div>
                </div>
                <div class="field-container institution inset-float-textinput-no-border" id="inst-name-con" style="display: none">
                    <input class="inp_input" type="text" id="institution" placeholder=" ">
                    <label class="inp_label" for="institution">Institution</label>
                </div>
                <div class="field-container institution inset-float-textinput-no-border" id="inst-id-con" style="display: none">
                    <input class="inp_input" type="text" id="inst-id" placeholder=" ">
                    <label class="inp_label" for="inst-id">Institutional ID</label>
                </div>
            </div>
            <div class="field-container input-file">
                <input type="file" class="input-img" id="dp">
                <label for="dp"><i class='bx bx-image-add' ></i><span>Select avatar</span></label>
                <div class="selected-file" id="selected-file">No file selected</div>
            </div>
            <div class="field-container submit">
                <div class="error-info" id="error-info-container" style="display: none;"><i class='bx bx-info-circle'></i><span id="error-info-text"></span></div>
                <div class="signup-info" id="signup-info" style="display: none;"></div>
                <button class="btn-1" id="submit">Sign Up</button>
            </div>
            <div class="login-info">
                <span>Have an account?</span><a href="{% url 'accounts:user_login_get' %}">Login here</a>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="{% static 'accounts/scripts/signup.js' %}"></script>
<script>
    const signup_url = "{% url 'accounts:user_signup_post' %}"
    const avatar_set_url = "{% url 'accounts:set_avatar' %}"
    const success_url = "{% url 'classroom:homepage' %}"
</script>
</body>
</html>