{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'accounts/styles/user_profile.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>{{account.user_first_name}}'s profile</title>{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="profile-card card p-3 shadow-lg">
        <div class="content">
            {% if request.user == account.user %}
            <a href="{% url 'accounts:edit_profile' %}" class="profile-edit-btn shadow-sm"><i class='bx bx-pencil'></i><span class="label">Edit Profile</span></a>
            {% endif %}
            <div class="avatar me-3" style="background-image: url('{{account.avatar_url}}');"></div>
            <div class="info ml-3 w-100 p-4">
                <div class="name mb-0 mt-0 h4">{{account.user_full_name}}</div>
                <div class="id-no-con"><span class="label me-2">ID:</span><span class="id-no">{{account.institutional_id}}</span></div>
                <div class="instituition">{{account.institution}}</div>
                <div class="no-classrooms"><span class="label me-2">Classrooms:</span><span class="cls-no">{{account.num_classrooms}}</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



