{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'accounts/styles/user_profile.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Update password</title>{% endblock title %}

{% block content %}
<div class="edit-profile-con container bg-white mt-4 shadow-lg p-4">
    <div class="info mt-2 mb-3">
        <div class="heading-con">
            <div class="heading">Update password</div>
        </div>
    </div>
    <div class="inp-con">
        <div class="first_name inset-float-textinput mb-3" id="current_pass_con">
            <input class="inp_input" type="text" id="current_password" data-parentid="current_pass_con" placeholder=" ">
            <label class="inp_label" for="current_password">Current password</label>
        </div>
        <div class="last_name inset-float-textinput mb-3" id="new_pass_con">
            <input class="inp_input" type="password" id="new_password" data-parentid="new_pass_con" placeholder=" ">
            <label class="inp_label" for="new_password">New password</label>
        </div>
        <div class="field-container institution inset-float-textinput mb-3" id="new_pass_repeat_con">
            <input class="inp_input" type="password" id="new_pass_repeat" data-parentid="new_pass_repeat_con" placeholder=" ">
            <label class="inp_label" for="new_pass_repeat">Retype new password</label>
        </div>
        
        <div class="field-container submit">
            <div class="error-info" id="error-info-container" style="display: none;"><i class='bx bx-info-circle'></i><span id="error-info-text"></span></div>
            <button class="btn-1 shadow-sm" id="update-pass-btn">Update</button>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'accounts/scripts/update_pass.js' %}"></script>
<script>
    const update_password_api = "{% url 'accounts:update_password_api' %}";
    const csrftoken = "{{csrf_token}}";
    const login_url = "{% url 'accounts:user_login_get' %}"
</script>
{% endblock script %}


