{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'accounts/styles/user_profile.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Update password</title>{% endblock title %}

{% block content %}
<div class="edit-profile-con container mt-4 shadow-lg p-4">
    <div class="info mt-2 mb-3">
        <div class="heading">Update password</div>
    </div>
    <div class="inp-con">
        <div class="first_name inset-float-textinput mb-3">
            <input class="inp_input" type="text" id="first_name" placeholder=" ">
            <label class="inp_label" for="first_name">Current password</label>
        </div>
        <div class="last_name inset-float-textinput mb-3">
            <input class="inp_input" type="text" id="last_name" placeholder=" ">
            <label class="inp_label" for="last_name">New password</label>
        </div>
        <div class="field-container error institution inset-float-textinput mb-3">
            <input class="inp_input" type="text" id="institution" placeholder=" ">
            <label class="inp_label" for="institution">Retype new password</label>
        </div>
        
        <div class="field-container submit">
            <div class="error-info" id="error-info-container" style="display: none;"><i class='bx bx-info-circle'></i><span id="error-info-text"></span></div>
            <button class="btn-1 shadow-sm" disabled="" id="submit">Update</button>
        </div>
    </div>
</div>
{% endblock content %}


