<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="{% static 'weeklies/styles/weekly.css' %}">
  <title>classroom name - week 1 </title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-xl bg-light">
      <div class="container-fluid">
        <div class="navbar-brand flexer-row ms-4" href="#">
          <div class="site-title">OpenClassroom</div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Weeklies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <div class="user">
            <div class="avatar">
              <img src="/images/dp3.jpg" alt="">
            </div>
            <span class="name">First Name</span>
            <a href="" class="btn-1-outlined">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="main">
    <div class="top-panel">
      <div class="classroom">
        <div class="classroom-name"><a href="">Classroom Name</a></div>
      </div>
    </div>
    <div class="bottom-panel">
      <div class="week-info">
        <span class="text">Week</span><span class="num">1</span>
      </div>
      <div class="tab-container">
        <div class="tab-buttons">
          <button class="active" data-tab_id="tab1" id="tab-btn1">Pre Class</button>
          <button data-tab_id="tab2" id="tab-btn2">In Class</button>
          <button data-tab_id="tab3" id="tab-btn3">Post Class</button>
          <button data-tab_id="tab4" id="tab-btn4">Discussion</button>
        </div>
        <div class="tab-contents-container">
          <div class="tab-body active" id="tab1">
            <div class="tab-content">
              <div class="left-col">
                <div class="pre-class-info">
                  <div class="info-text" id="pre-class-info-text" data-descr-editor="pre_cls-description-editor">
                    <div class="info" id="info-text-raw">Lorem adipisicing elitelit. Natus a sunt dolore ut provident pariatur earum harum autem ea animi. t consectetur adipisicing elit. Quos ddfdfdd</div>
                  </div>
                </div>
                
                <div class="pre-class-files content-card">
                  <div class="title">
                    <i class='bx bx-paperclip'></i>
                    <div class="title-text">Files</div>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        <i class='bx bxs-file-pdf'></i>
                        <a href="">filename.pdf</a>
                      </li>
                      <li>
                        <i class='bx bx-slideshow' ></i>
                        <a href="">filename.pptx</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-image'></i>
                        <a href="">filename.jpg</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-doc'></i>
                        <a href="">filename.docx</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-archive'></i>
                        <a href="">filename.zip</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-txt'></i>
                        <a href="">filename.txt</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-blank' ></i>
                        <a href="">filename.extension</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="no-content">
                    <i class='bx bx-info-circle'></i>
                    <div class="info">No files yet</div>
                  </div> -->
                </div>

                <!-- <div class="pre-class-tutorials content-card">
                  <div class="title">
                    <i class='bx bxl-youtube' ></i>
                    <div class="title-text">Video Tutorials</div>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="vid-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in!</div>
                        <div class="video-container">
                          <iframe src="https://www.youtube.com/embed/kVuoa9ntPgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <div class="right-col">
                <div class="live-tests title-box">
                  <div class="title">Ongoing Tests</div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="test-item">
                          <i class='bx bx-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 1</div>
                            <div class="action">
                              <a href="">Participate</a>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="weekly-tests title-box">
                  <div class="title">Test</div>
                  <div class="content">
                    <!-- <ul>
                      <li>
                        <div class="test test-upcoming list-item">
                          <i class='bx bxs-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, molestias?</div>
                            <div class="held-on"><span class="sub-title">Schedule:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                          </div>
                        </div>
                      </li>

                      <li>
                        <div class="test test-upcoming list-item">
                          <i class='bx bxs-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 2</div>
                            <div class="held-on"><span class="sub-title">Schedule:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                          </div>
                        </div>
                      </li>

                      <li>
                        <a href="">
                          <div class="test list-item">
                            <i class='bx bx-edit-alt'></i>
                            <div class="info">
                              <div class="label-title">Test on electrical circuits 1</div>
                              <div class="held-on"><span class="sub-title">held on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                            </div>
                          </div>
                        </a>
                      </li>

                        <li>
                          <a href="">
                            <div class="test list-item">
                              <i class='bx bx-edit-alt'></i>
                              <div class="info">
                                <div class="label-title">Test on electrical circuits 1</div>
                                <div class="held-on"><span class="sub-title">held on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
                        
                      </ul> -->
                    <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tests</span></div>
                  </div>
                </div>
                <div class="weekly-tasks title-box">
                  <div class="title">Assigned Task</div>
                  <div class="content">
                    <ul>
                        <li>
                          <a href="">
                            <div class="assignment due list-item">
                              <i class='bx bxs-briefcase'></i>
                              <div class="info">
                                <div class="label-title">assignment title</div>
                                <div class="deadline"><span class="sub-title">Due:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a href="">
                            <div class="assignment list-item">
                              <i class='bx bx-briefcase' ></i>
                              <div class="info">
                                <div class="label-title">assignment title</div>
                                <div class="deadline"><span class="sub-title">Sumitted:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    <!-- <div class="no-content"><i class='bx bx-info-circle'></i><span>No upcoming events</span></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-body" id="tab2">
            <div class="tab-content">
              <div class="left-col">
                <div class="in-class-info">
                  <div class="info-text" id="in-class-info-text" data-descr-editor="in_cls-description-editor">
                    <div class="info" id="in-class-info-text-raw">Lorem adipisicing elitelit. Natus a sunt dolore ut provident pariatur earum harum autem ea animi. t consectetur adipisicing elit. Quos ddfdfdd</div>
                  </div>
                </div>
                
                <div class="in-class-files content-card">
                  <div class="title">
                    <i class='bx bx-paperclip'></i>
                    <div class="title-text">Files</div>
                  </div>
                  <!-- <div class="content">
                    <ul>
                      <li>
                        <i class='bx bxs-file-pdf'></i>
                        <a href="">filename.pdf</a>
                      </li>
                      <li>
                        <i class='bx bx-slideshow' ></i>
                        <a href="">filename.pptx</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-image'></i>
                        <a href="">filename.jpg</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-doc'></i>
                        <a href="">filename.docx</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-archive'></i>
                        <a href="">filename.zip</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-txt'></i>
                        <a href="">filename.txt</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-blank' ></i>
                        <a href="">filename.extension</a>
                      </li>
                    </ul>
                  </div> -->
                  <div class="no-content">
                    <i class='bx bx-info-circle'></i>
                    <div class="info">No files</div>
                  </div>
                </div>

                <!-- <div class="in-class-tutorials content-card">
                  <div class="title">
                    <i class='bx bxl-youtube' ></i>
                    <div class="title-text">Video Tutorials</div>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="vid-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in!</div>
                        <div class="video-container">
                          <iframe src="https://www.youtube.com/embed/kVuoa9ntPgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <div class="right-col">
                <div class="live-tests title-box">
                  <div class="title">Ongoing Tests</div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="test-item">
                          <i class='bx bx-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 1</div>
                            <div class="action">
                              <a href="">Participate</a>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="weekly-tests title-box">
                  <div class="title">Test</div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="test test-upcoming list-item">
                          <i class='bx bxs-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, molestias?</div>
                            <div class="held-on"><span class="sub-title">Schedule:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                          </div>
                        </div>
                      </li>

                      <li>
                        <div class="test test-upcoming list-item">
                          <i class='bx bxs-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 2</div>
                            <div class="held-on"><span class="sub-title">Schedule:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                          </div>
                        </div>
                      </li>

                      <li>
                        <a href="">
                          <div class="test list-item">
                            <i class='bx bx-edit-alt'></i>
                            <div class="info">
                              <div class="label-title">Test on electrical circuits 1</div>
                              <div class="held-on"><span class="sub-title">held on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                            </div>
                          </div>
                        </a>
                      </li>

                        <li>
                          <a href="">
                            <div class="test list-item">
                              <i class='bx bx-edit-alt'></i>
                              <div class="info">
                                <div class="label-title">Test on electrical circuits 1</div>
                                <div class="held-on"><span class="sub-title">held on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
                        
                      </ul>
                    <!-- <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tests</span></div> -->
                  </div>
                </div>
                <div class="weekly-tasks title-box">
                  <div class="title">Assigned Task</div>
                  <div class="content">
                    <ul>
                        <li>
                          <a href="">
                            <div class="assignment due list-item">
                              <i class='bx bxs-briefcase'></i>
                              <div class="info">
                                <div class="label-title">assignment title</div>
                                <div class="deadline"><span class="sub-title">Due:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a href="">
                            <div class="assignment list-item">
                              <i class='bx bx-briefcase' ></i>
                              <div class="info">
                                <div class="label-title">assignment title</div>
                                <div class="deadline"><span class="sub-title">Sumitted:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    <!-- <div class="no-content"><i class='bx bx-info-circle'></i><span>No upcoming events</span></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-body" id="tab3">
            <div class="tab-content">
              <div class="left-col">
                <div class="post-class-info">
                  <div class="info-text" id="post-class-info-text" data-descr-editor="post_cls-description-editor">
                    <div class="info" id="post-class-info-text-raw">Lorem adipisicing  elitelitelitelitelitelitelitelitelitelitelitelit elitelit. Natus a sunt dolore ut provident pariatur earum harum autem ea animi. t consectetur adipisicing elit. Quos ddfdfdd</div>
                  </div>
                </div>
                
                <div class="post-class-files content-card">
                  <div class="title">
                    <i class='bx bx-paperclip'></i>
                    <div class="title-text">Files</div>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        <i class='bx bxs-file-pdf'></i>
                        <a href="">filename.pdf</a>
                      </li>
                      <li>
                        <i class='bx bx-slideshow' ></i>
                        <a href="">filename.pptx</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-image'></i>
                        <a href="">filename.jpg</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-doc'></i>
                        <a href="">filename.docx</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-archive'></i>
                        <a href="">filename.zip</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-txt'></i>
                        <a href="">filename.txt</a>
                      </li>
                      <li>
                        <i class='bx bxs-file-blank' ></i>
                        <a href="">filename.extension</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="no-content">
                    <i class='bx bx-info-circle'></i>
                    <div class="info">No files yet</div>
                  </div> -->
                </div>
  
                <!-- <div class="post-class-tutorials content-card">
                  <div class="title">
                    <i class='bx bxl-youtube' ></i>
                    <div class="title-text">Video Tutorials</div>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="vid-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in!</div>
                        <div class="video-container">
                          <iframe src="https://www.youtube.com/embed/kVuoa9ntPgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <div class="right-col">
                <div class="live-tests title-box">
                  <div class="title">Ongoing Tests</div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="test-item">
                          <i class='bx bx-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 1</div>
                            <div class="action">
                              <a href="">Participate</a>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="weekly-tests title-box">
                  <div class="title">Test</div>
                  <div class="content">
                    <ul>
                      <li>
                        <div class="test test-upcoming list-item">
                          <i class='bx bxs-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, molestias?</div>
                            <div class="held-on"><span class="sub-title">Schedule:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                          </div>
                        </div>
                      </li>
  
                      <li>
                        <div class="test test-upcoming list-item">
                          <i class='bx bxs-edit-alt'></i>
                          <div class="info">
                            <div class="label-title">Test on electrical circuits 2</div>
                            <div class="held-on"><span class="sub-title">Schedule:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                          </div>
                        </div>
                      </li>
  
                      <li>
                        <a href="">
                          <div class="test list-item">
                            <i class='bx bx-edit-alt'></i>
                            <div class="info">
                              <div class="label-title">Test on electrical circuits 1</div>
                              <div class="held-on"><span class="sub-title">held on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                            </div>
                          </div>
                        </a>
                      </li>
  
                        <li>
                          <a href="">
                            <div class="test list-item">
                              <i class='bx bx-edit-alt'></i>
                              <div class="info">
                                <div class="label-title">Test on electrical circuits 1</div>
                                <div class="held-on"><span class="sub-title">held on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
                        
                      </ul>
                    <!-- <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tests</span></div> -->
                  </div>
                </div>
                <div class="weekly-tasks title-box">
                  <div class="title">Assigned Task</div>
                  <div class="content">
                    <ul>
                        <li>
                          <a href="">
                            <div class="assignment due list-item">
                              <i class='bx bxs-briefcase'></i>
                              <div class="info">
                                <div class="label-title">assignment title</div>
                                <div class="deadline"><span class="sub-title">Due:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
  
                        <li>
                          <a href="">
                            <div class="assignment list-item">
                              <i class='bx bx-briefcase' ></i>
                              <div class="info">
                                <div class="label-title">assignment title</div>
                                <div class="deadline"><span class="sub-title">Sumitted:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    <!-- <div class="no-content"><i class='bx bx-info-circle'></i><span>No upcoming events</span></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-body" id="tab4">
            <!-- <div class="posts-container">
              <div class="post">
                <div class="post-inner">
                  <div class="top-panel">
                    <div class="post-time"><span class="sub-title">Posted</span><span class="time">9:31pm, 12 Dec 2022</span></div>
                  </div>
                  <div class="bottom-panel">
                    <div class="user">
                      <div class="username">Enzo</div>
                      <div class="teacher-badge"></div>
                      <div class="avatar"><img src="images/dp2.jpg" alt=""></div>
                    </div>
                    <div class="post-body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quia?</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsum voluptates porro facilis ex fugit quidem dolore quae laboriosam natus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post">
                <div class="post-inner">
                  <div class="top-panel">
                    <div class="post-time"><span class="sub-title">Posted</span><span class="time">9:31pm, 12 Dec 2022</span></div>
                  </div>
                  <div class="bottom-panel">
                    <div class="user">
                      <div class="username">MSI Rony</div>
                      <div class="registration">2018338514</div>
                      <div class="avatar"><img src="images/dp4.jpg" alt=""></div>
                    </div>
                    <div class="post-body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quia?</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsum voluptates porro facilis ex fugit quidem dolore quae laboriosam natus.</p>
                    </div>
                  </div>
                  <a class="edit" href=""><i class='bx bx-pencil'></i></a>
                </div>
              </div>
            </div> -->
            <div class="no-posts">
              <i class='bx bxs-info-square'></i>
              <span>No Posts Yet</span>
            </div>
            <div class="create-post">
              <textarea class="replyinput" placeholder="Write something" name="" id=""></textarea>
              <div class="btn-container">
                <button class="btn-iconized">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
    <script src="{% static 'weeklies/scripts/weekly_detail.js' %}"></script>
</body>

</html>