{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'weeklies/styles/weekly.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>classroom name - week {{ weekly.weeknum }} </title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' weekly.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' weekly.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' weekly.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' weekly.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="top-panel">
  <div class="classroom">
    <div class="classroom-name"><a href="{% url 'classroom:classroom_detail' weekly.classroom.id %}">{{ weekly.classroom.name }}</a></div>
  </div>
  <div class="topic">
    {% if weekly.topic %}
    <div class="inner">
      <i class='bx bx-paperclip'></i><span class="topic-name">{{weekly.topic}}</span>
    </div>
    {% endif %}
  </div>
</div>
<div class="bottom-panel">
  <div class="week-info">
    <span class="text">Week</span><span class="num">{{ weekly.weeknum }}</span>
  </div>
  <div class="tab-container">
    <div class="tab-buttons">
      <button class="active" data-tab_id="tab1" id="tab-btn1">Pre Class</button>
      <button data-tab_id="tab2" id="tab-btn2">In Class</button>
      <button data-tab_id="tab3" id="tab-btn3">Post Class</button>
      <button data-tab_id="tab4" id="tab-btn4">Discussion</button>
    </div>
    <div class="tab-contents-container">
      <div class="tab-body active" id="tab1">
        <div class="tab-content">
          <div class="left-col">
            <div class="pre-class-info">
              <div class="info-text">
                {% if weekly.pre_class_instruction %}
                <div class="info">{{ weekly.pre_class_instruction }}</div>
                {% endif %}
              </div>
            </div>
            
            <div class="pre-class-files content-card">
              <div class="title">
                <i class='bx bx-paperclip'></i>
                <div class="title-text">Files</div>
              </div>
              {% if weekly.hasPreClassFiles %}
              <div class="content">
                <ul>
                  {% for preclassfile in weekly.preClassFiles %}
                  {% if preclassfile.must_study %}
                  <li class="muststudy">
                    <i class="{{ preclassfile.css_class }}"></i>
                    <a href="{% url 'weeklies:downloadweeklyfile' preclassfile.weekly.id preclassfile.id  %}?contentcode=0" target="blank" download>{{ preclassfile.filename }}</a>
                  </li>
                  {% else %}
                  <li>
                    <i class="{{ preclassfile.css_class }}"></i>
                    <a href="{% url 'weeklies:downloadweeklyfile' preclassfile.weekly.id preclassfile.id  %}?contentcode=0" target="blank" download>{{ preclassfile.filename }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <div class="no-content">
                <i class='bx bx-info-circle'></i>
                <div class="info">No files yet</div>
              </div>
              {% endif %}
            </div>
            
            <div class="pre-class-tutorials content-card">
              <div class="title">
                <i class='bx bxl-youtube' ></i>
                <div class="title-text">Video Tutorials</div>
              </div>
              <div class="content">
                <ul id="preClsTutoList">
                  {% for pretuto in weekly.preClassTuto  %}
                  <li>
                    {% if pretuto.description %}<div class="vid-info">{{ pretuto.description }}</div>{% endif %}
                    <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/{{ pretuto.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="preClsNoTuto">
                {% if not weekly.hasPreClassTuto %}
                <div class="no-content">
                  <i class='bx bx-info-circle'></i>
                  <div class="info">No Tutorials</div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="right-col">
            {% if pre_class_ongoing_tests %}
            <div class="live-tests title-box">
              <div class="title">Ongoing Tests</div>
              <div class="content">
                <ul>
                  {% for test in pre_class_ongoing_tests %}
                  <li>
                    <div class="test-item">
                      <i class='bx bx-edit-alt'></i>
                      <div class="info">
                        <div class="label-title">{{ test.title }}</div>
                        <div class="ending-time">
                          <i class='bx bx-timer'></i>
                          <div class="time-con">
                            <span class="label">Ending in:</span>
                            <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                          </div>
                        </div>
                        <div class="action">
                          <a href="{% url 'weekly_test:take_test' test.id %}">Participate</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            
            <div class="weekly-tests title-box">
              <div class="title">Test</div>
              <div class="content">
                {% if weekly.has_pre_class_tests %}
                <ul>
                  {% for upcoming_test in weekly.preClassUpcomingTest %}
                  <li>
                    <div class="test test-upcoming list-item">
                      <i class='bx bxs-edit-alt'></i>
                      <div class="info">
                        <div class="label-title">{{ upcoming_test.title }}</div>
                        <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="test_{{upcoming_test.id}}">{{ upcoming_test.schedule|date:"c" }}</span></div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% for prev_test in weekly.preClassPreviousTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_test' prev_test.id %}">
                      <div class="test list-item">
                        <i class='bx bx-edit-alt'></i>
                        <div class="info">
                          <div class="label-title">{{ prev_test.title }}</div>
                          <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="test_{{upcoming_test.id}}">{{ prev_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tests</span></div> 
                {% endif %}
              </div>
            </div>
            <div class="weekly-tasks title-box">
              <div class="title">Assigned Task</div>
              <div class="content">
                {% if weekly.has_pre_class_tasks %}
                <ul>
                  {% for task in weekly.preClassOngoingTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment due list-item">
                        <i class='bx bxs-briefcase'></i>
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Due:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for task in weekly.preClassPreviousTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment list-item">
                        <i class='bx bx-briefcase' ></i>
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tasks</span></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-body" id="tab2">
        <div class="tab-content">
          <div class="left-col">
            <div class="in-class-info">
              <div class="info-text">
                {% if weekly.in_class_instruction %}
                <div class="info">{{ weekly.in_class_instruction }}</div>
                {% endif %}
              </div>
            </div>  
            <div class="in-class-files content-card">
              <div class="title">
                <i class='bx bx-paperclip'></i>
                <div class="title-text">Files</div>
              </div>
              {% if weekly.hasInClassFiles %}
              <div class="content">
                <ul>
                  {% for inclassfile in weekly.inClassFiles %}
                  {% if inclassfile.must_study %}
                  <li class="muststudy">
                    <i class="{{ inclassfile.css_class }}"></i>
                    <a href="{% url 'weeklies:downloadweeklyfile' inclassfile.weekly.id inclassfile.id  %}?contentcode=1" target="blank" download>{{ inclassfile.filename }}</a>
                  </li>
                  {% else %}
                  <li>
                    <i class="{{ inclassfile.css_class }}"></i>
                    <a href="{% url 'weeklies:downloadweeklyfile' inclassfile.weekly.id inclassfile.id  %}?contentcode=1" target="blank" download>{{ inclassfile.filename }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <div class="no-content">
                <i class='bx bx-info-circle'></i>
                <div class="info">No files yet</div>
              </div>
              {% endif %}
            </div>

            <div class="in-class-tutorials content-card">
              <div class="title">
                <i class='bx bxl-youtube' ></i>
                <div class="title-text">Video Tutorials</div>
              </div>
              <div class="content">
                <ul id="inClsTutoList">
                  {% for intuto in weekly.inClassTuto  %}
                  <li>
                    {% if intuto.description %}<div class="vid-info">{{ intuto.description }}</div>{% endif %}
                    <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/{{ intuto.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="inClsNoTuto">
                {% if not weekly.hasInClassTuto %}
                <div class="no-content">
                  <i class='bx bx-info-circle'></i>
                  <div class="info">No Tutorials</div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="right-col">
            {% if in_class_ongoing_tests %}
            <div class="live-tests title-box">
              <div class="title">Ongoing Tests</div>
              <div class="content">
                <ul>
                  {% for test in in_class_ongoing_tests %}
                  <li>
                    <div class="test-item">
                      <i class='bx bx-edit-alt'></i>
                      <div class="info">
                        <div class="label-title">{{ test.title }}</div>
                        <div class="ending-time">
                          <i class='bx bx-timer'></i>
                          <div class="time-con">
                            <span class="label">Ending in:</span>
                            <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                          </div>
                        </div>
                        <div class="action">
                          <a href="{% url 'weekly_test:take_test' test.id %}">Participate</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="weekly-tests title-box">
              <div class="title">Test</div>
              <div class="content">
                {% if weekly.has_in_class_tests %}
                <ul>
                  {% for upcoming_test in weekly.inClassUpcomingTest %}
                  <li>
                    <div class="test test-upcoming list-item">
                      <i class='bx bxs-edit-alt'></i>
                      <div class="info">
                        <div class="label-title">{{ upcoming_test.title }}</div>
                        <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="test-{{upcoming_test.id}}">{{ upcoming_test.schedule|date:"c" }}</span></div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% for prev_test in weekly.inClassPreviousTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_test' prev_test.id %}">
                      <div class="test list-item">
                        <i class='bx bx-edit-alt'></i>
                        <div class="info">
                          <div class="label-title">{{ prev_test.title }}</div>
                          <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="test-{{prev_test.id}}">{{ prev_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tests</span></div> 
                {% endif %}
              </div>
            </div>
            <div class="weekly-tasks title-box">
              <div class="title">Assigned Task</div>
              <div class="content">
                {% if weekly.has_in_class_tasks %}
                <ul>
                  {% for task in weekly.inClassOngoingTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment due list-item">
                        <i class='bx bxs-briefcase'></i>
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Due:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for task in weekly.inClassPreviousTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment list-item">
                        <i class='bx bx-briefcase' ></i>
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tasks</span></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-body" id="tab3">
        <div class="tab-content">
          <div class="left-col">
            <div class="post-class-info">
              <div class="info-text">
                {% if weekly.post_class_instruction %}
                <div class="info">{{ weekly.post_class_instruction }}</div>
                {% endif %}
              </div>
            </div>
            
            <div class="post-class-files content-card">
              <div class="title">
                <i class='bx bx-paperclip'></i>
                <div class="title-text">Files</div>
              </div>
              {% if weekly.hasPostClassFiles %}
              <div class="content">
                <ul>
                  {% for postclassfile in weekly.postClassFiles %}
                  {% if postclassfile.must_study %}
                  <li class="muststudy">
                    <i class="{{ postclassfile.css_class }}"></i>
                    <a href="{% url 'weeklies:downloadweeklyfile' postclassfile.weekly.id postclassfile.id  %}?contentcode=2" target="blank" download>{{ postclassfile.filename }}</a>
                  </li>
                  {% else %}
                  <li>
                    <i class="{{ postclassfile.css_class }}"></i>
                    <a href="{% url 'weeklies:downloadweeklyfile' postclassfile.weekly.id postclassfile.id  %}?contentcode=2" target="blank" download>{{ postclassfile.filename }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <div class="no-content">
                <i class='bx bx-info-circle'></i>
                <div class="info">No files yet</div>
              </div>
              {% endif %}
            </div>

            <div class="post-class-tutorials content-card">
              <div class="title">
                <i class='bx bxl-youtube' ></i>
                <div class="title-text">Video Tutorials</div>
              </div>
              <div class="content">
                <ul id="postClsTutoList">
                  {% for posttuto in weekly.postClassTuto  %}
                  <li>
                    {% if posttuto.description %}<div class="vid-info">{{ posttuto.description }}</div>{% endif %}
                    <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/{{ posttuto.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="postClsNoTuto">
                {% if not weekly.hasPostClassTuto %}
                <div class="no-content">
                  <i class='bx bx-info-circle'></i>
                  <div class="info">No Tutorials</div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="right-col">
            {% if post_class_ongoing_tests %}
            <div class="live-tests title-box">
              <div class="title">Ongoing Tests</div>
              <div class="content">
                <ul>
                  {% for test in post_class_ongoing_tests %}
                  <li>
                    <div class="test-item">
                      <i class='bx bx-edit-alt'></i>
                      <div class="info">
                        <div class="label-title">{{ test.title }}</div>
                        <div class="ending-time">
                          <i class='bx bx-timer'></i>
                          <div class="time-con">
                            <span class="label">Ending in:</span>
                            <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                          </div>
                        </div>
                        <div class="action">
                          <a href="{% url 'weekly_test:take_test' test.id %}">Participate</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="weekly-tests title-box">
              <div class="title">Test</div>
              <div class="content">
                {% if weekly.has_post_class_tests %}
                <ul>
                  {% for upcoming_test in weekly.postClassUpcomingTest %}
                  <li>
                    <div class="test test-upcoming list-item">
                      <i class='bx bxs-edit-alt'></i>
                      <div class="info">
                        <div class="label-title">{{ upcoming_test.title }}</div>
                        <div class="held-on"><span class="sub-title">Schedule:</span><span class="time"  id="test-{{upcoming_test.id}}">{{ upcoming_test.schedule|date:"c" }}</span></div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% for prev_test in weekly.postClassPreviousTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_test' prev_test.id %}">
                      <div class="test list-item">
                        <i class='bx bx-edit-alt'></i>
                        <div class="info">
                          <div class="label-title">{{ prev_test.title }}</div>
                          <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="test-{{prev_test.id}}">{{ prev_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tests</span></div> 
                {% endif %}
              </div>
            </div>
            <div class="weekly-tasks title-box">
              <div class="title">Assigned Task</div>
              <div class="content">
                {% if weekly.has_post_class_tasks %}
                <ul>
                  {% for task in weekly.postClassOngoingTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment due list-item">
                        <i class='bx bxs-briefcase'></i>
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Deadline:</span><span class="time" id="deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for task in weekly.postClassPreviousTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment list-item">
                        <i class='bx bx-briefcase' ></i>
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><i class='bx bx-info-circle'></i><span>No Tasks</span></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-body" id="tab4">
        {% if weekly.has_forum_post %}
        <div class="posts-container" id="forum_post_container">
          {% for post in weekly.forum_posts %}
          <div class="post">
            <div class="post-inner">
              <div class="top-panel">
                <div class="post-time"><span class="sub-title">Posted</span><span class="time" id="post-{{post.id}}">{{ post.added|date:"c" }}</span></div>
              </div>
              <div class="bottom-panel">
                <div class="user">
                  <div class="username">{{ post.author.account.user_full_name }}</div>
                  {% if post.author in post.weekly.classroom.teachers.all %}<div class="teacher-badge"></div>{% else %}<div class="registration">{{post.author.account.institutional_id}}</div>{% endif %}
                  <div class="avatar"><img src="{{ post.author.account.avatar_url }}" alt=""></div>
                </div>
                <div class="post-body">{{ post.postcontent }}</div>
              </div>
              {% if request.user == post.author %}<a class="edit" href="{% url 'weeklies:edit_post' post.weekly.id post.id %}"><i class='bx bx-pencil'></i></a>{% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="posts-container" id="forum_post_container"></div>
        <div class="no-posts" id="no-forum-posts">
          <i class='bx bxs-info-square'></i>
          <span>No Posts Yet</span>
        </div>
        {% endif %}
        <div class="create-post">
          <textarea class="replyinput" placeholder="Write something" name="" id="post_text_inp"></textarea>
          <div class="btn-container">
            <button class="btn-iconized" id="create_post_btn">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
<script>
  const weekly_create_post_url = "{% url 'weeklies:create_post'  weekly.classroom.id weekly.id  %}"
  const csrftoken = "{{csrf_token}}"
</script>
<script src="{% static 'weeklies/scripts/weekly_detail.js' %}"></script>
<script src="{% static 'classroom/scripts/localtimes.js' %}"></script>
{% endblock script %}