{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'weeklies/styles/weekly.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/loaders.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/commons.css' %}">
{% endblock style %}
{% block title %}<title>{{weekly.classroom.name}} Week-{{weekly.weeknum}}</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' weekly.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' weekly.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' weekly.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' weekly.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="fileupload-info-con p-3 shadow-lg rounded bg-white" style="display: none;" id="fileupload-info-con">
  <div class="content" id="ongoing-upload-status">
    <div class="title text-center mb-1">Uploading File</div>
    <div id="fileuploadprogress" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      <div id="fileuploadprogress_bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
    </div>
    <div id="fileupload_percentage" class="percentage text-center">0%</div>
  </div>
  <div class="error-info" style="display: none;" id="fileuploaderror-info">
    <i class='bx bx-info-circle'></i>
    <div class="error-text">File upload failed</div>
  </div>
</div>
{% comment %} file modal {% endcomment %}
<div id="modal" class="filemodal">
  <div class="modal-content shadow-lg">
    <div class="btn-con">
      <div class="download-btn-con shadow-sm">
        <a href="" id="filemodal-href" download><i class='bx bx-download'></i><span>Download</span></a>
      </div>
      <button class="btn btn-secondary btn-sm" id="closemodal">Close</button>
    </div>
    <div class="filename mb-2" id="filemodal-filename"></div>
    <div class="file-con">
      <embed src="" id="filemodal-embed" type="">
    </div>
  </div>
</div>

<div class="top-panel">
  <div class="classroom">
    <div class="classroom-name"><a href="{% url 'classroom:classroom_detail' weekly.classroom.id %}">{{ weekly.classroom.name }}</a></div>
  </div>
  <div class="topic">
    {% if weekly.topic %}
    <div class="inner">
      <i class='bx bx-paperclip'></i><span class="topic-name">{{weekly.topic}}</span>
    </div>
    {% endif %}
    <div class="edit">
      <a href="{% url 'weeklies:edit_weekly' weekly.id %}"><i class='bx bx-pencil'></i></a>
    </div>
  </div>
</div>
<div class="bottom-panel">
  <div class="week-info">
    <span class="text">Week</span><span class="num">{{ weekly.weeknum }}</span>
  </div>
  <div class="tab-container">
    <div class="tab-buttons">
      <button class="active" data-tab_id="tab1" id="tab-btn1"><i class='bx bxs-left-arrow'></i><span>Pre Class</span></button>
      <button data-tab_id="tab2" id="tab-btn2"><i class='bx bxs-square'></i><span>In Class</span></button>
      <button data-tab_id="tab3" id="tab-btn3"><i class='bx bxs-right-arrow'></i><span>Post Class</span></button>
      <button data-tab_id="tab4" id="tab-btn4"><span>Discussion</span> {% if weekly.has_forum_post %}<span class="post-count">{{weekly.forum_posts.count}}</span>{% endif %} </button>
    </div>
    <div class="tab-contents-container">
      
      <div class="tab-body active" id="tab1">
        <div class="tab-content">
          <div class="left-col">
            <div class="pre-class-info">
              {% if weekly.pre_class_instruction %}
              <div class="info-text" id="pre-class-info-text" data-descr-editor="pre_cls-description-editor">
                <div class="info" id="preClsInfoCon"><span id="pre-cls-info-text-raw">{{ weekly.pre_class_instruction }}</span><button class="des-edit edit" id="pre-class-info-edit"><i class='bx bx-pencil'></i></button></div>
              </div>
              <div class="descr_adder_btn_con" id="pre_cls_descr_adder_btn_con" style="display: none">
                <button class="btn-iconized des-adder" id="pre_cls_des_adder" data-editorId="pre_cls-description-editor"><i class='bx bxs-message-square-add'></i><span>Add Description</span></button>
              </div>
              {% else %}
              <div class="info-text" id="pre-class-info-text" data-descr-editor="pre_cls-description-editor" style="display: none;">
                <div class="info" id="preClsInfoCon"><span id="pre-cls-info-text-raw"></span><button class="des-edit edit" id="pre-class-info-edit"><i class='bx bx-pencil'></i></button></div>
              </div>
              <div class="descr_adder_btn_con" id="pre_cls_descr_adder_btn_con">
                <button class="btn-iconized des-adder" id="pre_cls_des_adder" data-editorId="pre_cls-description-editor"><i class='bx bxs-message-square-add'></i><span>Add Description</span></button>
              </div>
              {% endif %}
              <div class="description-editor" id="pre_cls-description-editor" style="display: none;">
                <div class="inset-float-textinput">
                  <textarea class="editor-textarea" name="description" id="pre-descr"></textarea>
                  <label for="post-descr">Description</label>
                  <div class="submit-container">
                    <button class="submit-btn" id="pre-class-info-save-btn">Save</button>
                    <button class="editor-close-btn close-btn" id="close-description-editor" data-infoTextId="pre-class-info-text" data-rawText="pre-cls-info-text-raw" data-adderId="pre_cls_descr_adder_btn_con"><i class='bx bx-window-close'></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="pre-class-files content-card">
              <div class="title">
                <i class='bx bx-paperclip'></i>
                <div class="title-text">Files</div>
              </div>
              {% if weekly.hasPreClassFiles %}
              <div class="content">
                <ul>
                  {% for preclassfile in weekly.preClassFiles %}
                  {% if preclassfile.must_study %}
                  <li class="muststudy">
                    <i class="{{ preclassfile.css_class }}"></i>
                    <a class="week-content-file" href="{% url 'weeklies:downloadweeklyfile' preclassfile.weekly.id preclassfile.id  %}?contentcode=0" target="blank">{{ preclassfile.filename }}</a>
                  </li>
                  {% else %}
                  <li>
                    <i class="{{ preclassfile.css_class }}"></i>
                    <a class="week-content-file" href="{% url 'weeklies:downloadweeklyfile' preclassfile.weekly.id preclassfile.id  %}?contentcode=0" target="blank">{{ preclassfile.filename }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <div class="no-content">
                <img src="{% static 'weeklies/images/folder.png' %}">
                <div class="info">No files yet</div>
              </div>
              {% endif %}
              <div class="add-content" id="pre-class-upload-btn-con">
                <button class="files-add-btn" id="pre-class-upload-btn" data-uploaderId="pre-class-fileUpload"><i class='bx bx-upload'></i><span>Upload Files</span></button>
              </div>
              <div class="fileUpload" id="pre-class-fileUpload" style="display: none;">
                <div class="attachement-container input-file">
                  <input class="cls-input-files" type="file" id="pre-cls-input-files" data-fileCountLabel="preClsFileNoCount" multiple="multiple">
                  <label for="pre-cls-input-files"><i class='bx bx-paperclip'></i>Select Files</label>
                  <div class="selected-file" id="preClsFileNoCount">No files selected</div>
                </div>
                <div class="switch-container">
                  <div class="switch">
                    <input type="checkbox" id="preClassMustStudy">
                    <label for="preClassMustStudy"></label>
                  </div>
                  <div class="switch-label">Mark as must study</div>
                </div>
                <div class="submit-container">
                  <button class="submit-btn" id="preClsFileUpBtn">Upload</button>
                </div>
              </div>
            </div>
            <div class="pre-class-tutorials content-card">
              <div class="title">
                <i class='bx bxl-youtube' ></i>
                <div class="title-text">Video Tutorials</div>
              </div>
              <div class="content">
                <ul id="preClsTutoList">
                  {% for pretuto in weekly.preClassTuto  %}
                  <li>
                    {% if pretuto.description %}<div class="vid-info">{{ pretuto.description }}</div>{% endif %}
                    <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/{{ pretuto.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="preClsNoTuto">
                {% if not weekly.hasPreClassTuto %}
                <div class="no-content">
                  <img src="{% static 'weeklies/images/video.png' %}">
                  <div class="info">No Tutorials</div>
                </div>
                {% endif %}
              </div>
              <div class="add-content" id="PreClsAddVideosTogglerBtn-Con">
                <button class="addVideosTogglerBtn" id="PreCls-addVideosTogglerBtn" data-videoAdderId="preClassVideoAdder"><i class='bx bxs-video-plus'></i><span>Add Videos</span></button>
              </div>
              <div class="addvideo" id="preClassVideoAdder" style="display: none;">
                <div class="video-url info-input">
                  <input type="text" class="textinput" id="pre_cls_vid_url" placeholder=" ">
                  <label for="pre_cls_vid_url" class="textinput__label">YouTube URL</label>
                </div>
                <div class="video-info info-input">
                  <input type="text" class="textinput" id="pre_cls_vid_info" placeholder=" ">
                  <label for="pre_cls_vid_info" class="textinput__label">Tutorial Information</label>
                </div>
                <div class="submit-container">
                  <button class="submit-btn" id="preClassTutoAdd">Add</button>
                  <button class="vidAdderCloseBtn close-btn" id="preClassVideoAdderClose" data-addVideosTogglerBtnCon-Id="PreClsAddVideosTogglerBtn-Con"><i class='bx bx-window-close'></i></button>
                </div>
              </div>
            </div> 
          </div>
          <div class="right-col">
            {% if weekly.has_pre_class_ongoing_test %}
            <div class="live-tests title-box">
              <div class="grad-top"><div class="grad-con"></div></div>
              <div class="title">Ongoing Tests</div>
              <div class="content tests">
                <ul>
                  {% for test in weekly.preClassOngoingTest %}
                  <li>
                    <div class="test-item">
                      <i class='bx bx-edit-alt'></i>
                      <div class="info">
                        <a href="{% url 'weekly_test:view_test' test.id %}" class="label-title">{{ test.title }}</a>
                        <div class="ending-time">
                          <i class='bx bx-timer'></i>
                          <div class="time-con">
                            <span class="label">Ending in:</span>
                            <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                          </div>
                        </div>
                        <div class="stat">
                          <div class="issued"><i class='bx bx-user-check'></i><span>Issued:&nbsp;</span><span class="value"
                              id="test0-issued">{{ test.issued_answer_sheets.count }}</span></div>
                          <div class="submitted"><i class='bx bx-check-double'></i><span>Submitted:&nbsp;</span><span
                              class="value" id="test0-issued">{{ test.submitted_answer_sheets.count }}</span></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="weekly-tests title-box">
              <div class="title">Test</div>
              <div class="content">
                {% if weekly.has_pre_class_tests %}
                <ul>
                  {% for upcoming_test in weekly.preClassUpcomingTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_ques' upcoming_test.id %}">
                      <div class="test test-upcoming list-item">
                        <img src="{% static 'classroom/images/test.svg' %}">
                        <div class="info">
                          <div class="label-title">{{ upcoming_test.title }}</div>
                          <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="test-{{upcoming_test.id}}">{{ upcoming_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for prev_test in weekly.preClassPreviousTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_test' prev_test.id %}">
                      <div class="test list-item">
                        <img src="{% static 'classroom/images/test.svg' %}">
                        <div class="info">
                          <div class="label-title">{{ prev_test.title }}</div>
                          <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="test-{{prev_test.id}}">{{ prev_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><img src="{% static 'classroom/images/exam.png' %}"><span>No upcoming or previous Tests</span></div>
                {% endif %}
              </div>
            </div>
            <div class="weekly-tasks title-box">
              <div class="title">Assigned Task</div>
              <div class="content">
                {% if weekly.has_pre_class_tasks %}
                <ul>
                  {% for task in weekly.preClassOngoingTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment due list-item">
                        <img src="{% if task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Deadline:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for task in weekly.preClassPreviousTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment list-item">
                        <img src="{% if task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><img src="{% static 'classroom/images/task.png' %}" alt=""><span>No Tasks</span></div>
                {% endif %}
              </div>
            </div>
            <div class="links title-box">
              <div class="content">
                <a class="create-test" href="{% url 'weekly_test:create_question' weekly.id %}?contentcode=0"><i class='bx bx-edit-alt'></i><span>Take Test</span></a>
                <a class="create-work" href="{% url 'classroom:tasks:create_task' weekly.classroom.id %}?weekly={{weekly.id}}&contentcode=0"><i class='bx bx-briefcase'></i><span>Assign Task</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-body" id="tab2">
        <div class="tab-content">
          <div class="left-col">
            <div class="in-class-info">
              {% if weekly.in_class_instruction %}
              <div class="info-text" id="in-class-info-text" data-descr-editor="in_cls-description-editor">
                <div class="info" id="inClsInfoCon"><span id="in-cls-info-text-raw">{{ weekly.in_class_instruction }}</span><button class="des-edit edit" id="in-class-info-edit"><i class='bx bx-pencil'></i></button></div>
              </div>
              <div class="descr_adder_btn_con" id="in_cls_descr_adder_btn_con" style="display: none">
                <button class="btn-iconized des-adder" id="in_cls_des_adder" data-editorId="in_cls-description-editor"><i class='bx bxs-message-square-add'></i><span>Add Description</span></button>
              </div>
              {% else %}
              <div class="info-text" id="in-class-info-text" data-descr-editor="in_cls-description-editor" style="display: none;">
                <div class="info" id="inClsInfoCon"><span id="in-cls-info-text-raw"></span><button class="des-edit edit" id="in-class-info-edit"><i class='bx bx-pencil'></i></button></div>
              </div>
              <div class="descr_adder_btn_con" id="in_cls_descr_adder_btn_con">
                <button class="btn-iconized des-adder" id="in_cls_des_adder" data-editorId="in_cls-description-editor"><i class='bx bxs-message-square-add'></i><span>Add Description</span></button>
              </div>
              {% endif %}
              <div class="description-editor" id="in_cls-description-editor" style="display: none;">
                <div class="inset-float-textinput">
                  <textarea class="editor-textarea" name="description" id="in-descr"></textarea>
                  <label for="post-descr">Description</label>
                  <div class="submit-container">
                    <button class="submit-btn" id="in-class-info-save-btn">Save</button>
                    <button class="editor-close-btn close-btn" id="in-cls-close-description-editor" data-infoTextId="in-class-info-text" data-rawText="in-cls-info-text-raw" data-adderId="in_cls_descr_adder_btn_con"><i class='bx bx-window-close'></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="in-class-files content-card">
              <div class="title">
                <i class='bx bx-paperclip'></i>
                <div class="title-text">Files</div>
              </div>
              {% if weekly.hasInClassFiles %}
              <div class="content">
                <ul>
                  {% for inclassfile in weekly.inClassFiles %}
                  {% if inclassfile.must_study %}
                  <li class="muststudy">
                    <i class="{{ inclassfile.css_class }}"></i>
                    <a class="week-content-file" href="{% url 'weeklies:downloadweeklyfile' inclassfile.weekly.id inclassfile.id  %}?contentcode=1" target="blank">{{ inclassfile.filename }}</a>
                  </li>
                  {% else %}
                  <li>
                    <i class="{{ inclassfile.css_class }}"></i>
                    <a class="week-content-file" href="{% url 'weeklies:downloadweeklyfile' inclassfile.weekly.id inclassfile.id  %}?contentcode=1" target="blank">{{ inclassfile.filename }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <div class="no-content">
                <img src="{% static 'weeklies/images/folder.png' %}">
                <div class="info">No files yet</div>
              </div>
              {% endif %}
              <div class="add-content" id="in-class-upload-btn-con">
                <button class="files-add-btn" id="in-class-upload-btn" data-uploaderId="in-class-fileUpload"><i class='bx bx-upload'></i><span>Upload Files</span></button>
              </div>
              <div class="fileUpload" id="in-class-fileUpload" style="display: none;">
                <div class="attachement-container input-file">
                  <input class="cls-input-files" type="file" id="in-cls-input-files" data-fileCountLabel="inClsFileNoCount" multiple="multiple">
                  <label for="in-cls-input-files"><i class='bx bx-paperclip'></i>Select Files</label>
                  <div class="selected-file" id="inClsFileNoCount">No files selected</div>
                </div>
                <div class="switch-container">
                  <div class="switch">
                    <input type="checkbox" id="inClassMustStudy">
                    <label for="inClassMustStudy"></label>
                  </div>
                  <div class="switch-label">Mark as must study</div>
                </div>
                <div class="submit-container">
                  <button class="submit-btn" id="inClsFileUpBtn">Upload</button>
                </div>
              </div>
            </div>
            <div class="in-class-tutorials content-card">
              <div class="title">
                <i class='bx bxl-youtube' ></i>
                <div class="title-text">Video Tutorials</div>
              </div>
              <div class="content">
                <ul id="inClsTutoList">
                  {% for intuto in weekly.inClassTuto  %}
                  <li>
                    {% if intuto.description %}<div class="vid-info">{{ intuto.description }}</div>{% endif %}
                    <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/{{ intuto.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="inClsNoTuto">
                {% if not weekly.hasInClassTuto %}
                <div class="no-content">
                  <img src="{% static 'weeklies/images/video.png' %}">
                  <div class="info">No Tutorials</div>
                </div>
                {% endif %}
              </div>
              <div class="add-content" id="inClsAddVideosTogglerBtn-Con">
                <button class="addVideosTogglerBtn" id="inCls-addVideosTogglerBtn" data-videoAdderId="inClassVideoAdder"><i class='bx bxs-video-plus'></i><span>Add Videos</span></button>
              </div>
              <div class="addvideo" id="inClassVideoAdder" style="display: none;">
                <div class="video-url info-input">
                  <input type="text" class="textinput" id="in_cls_vid_url" name="name_test-title" placeholder=" ">
                  <label for="in_cls_vid_url" class="textinput__label">YouTube URL</label>
                </div>
                <div class="video-info info-input">
                  <input type="text" class="textinput" id="in_cls_vid_info" placeholder=" ">
                  <label for="in_cls_vid_info" class="textinput__label">Tutorial Information</label>
                </div>
                <div class="submit-container">
                  <button class="submit-btn" id="inClassTutoAdd">Add</button>
                  <button class="vidAdderCloseBtn close-btn" id="inClassVideoAdderClose" data-addVideosTogglerBtnCon-Id="inClsAddVideosTogglerBtn-Con"><i class='bx bx-window-close'></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="right-col">
            {% if weekly.has_in_class_ongoing_test %}
            <div class="live-tests title-box">
              <div class="grad-top"><div class="grad-con"></div></div>
              <div class="title">Ongoing Tests</div>
              <div class="content tests">
                <ul>
                  {% for test in weekly.inClassOngoingTest %}
                  <li>
                    <div class="test-item">
                      <i class='bx bx-edit-alt'></i>
                      <div class="info">
                        <a href="{% url 'weekly_test:view_test' test.id %}" class="label-title">{{ test.title }}</a>
                        <div class="ending-time">
                          <i class='bx bx-timer'></i>
                          <div class="time-con">
                            <span class="label">Ending in:</span>
                            <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                          </div>
                        </div>
                        <div class="stat">
                          <div class="issued"><i class='bx bx-user-check'></i><span>Issued:&nbsp;</span><span class="value"
                              id="test0-issued">{{ test.issued_answer_sheets.count }}</span></div>
                          <div class="submitted"><i class='bx bx-check-double'></i><span>Submitted:&nbsp;</span><span
                              class="value" id="test0-issued">{{ test.submitted_answer_sheets.count }}</span></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="weekly-tests title-box">
              <div class="title">Test</div>
              <div class="content">
                {% if weekly.has_in_class_tests %}
                <ul>
                  {% for upcoming_test in weekly.inClassUpcomingTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_ques' upcoming_test.id %}">
                      <div class="test test-upcoming list-item">
                        <img src="{% static 'classroom/images/test.svg' %}">
                        <div class="info">
                          <div class="label-title">{{ upcoming_test.title }}</div>
                          <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="test-{{upcoming_test.id}}">{{ upcoming_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for prev_test in weekly.inClassPreviousTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_test' prev_test.id %}">
                      <div class="test list-item">
                        <img src="{% static 'classroom/images/test.svg' %}">
                        <div class="info">
                          <div class="label-title">{{ prev_test.title }}</div>
                          <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="test-{{prev_test.id}}">{{ prev_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><img src="{% static 'classroom/images/exam.png' %}"><span>No upcoming or previous Tests</span></div>
                {% endif %}
              </div>
            </div>
            <div class="weekly-tasks title-box">
              <div class="title">Assigned Task</div>
              <div class="content">
                {% if weekly.has_in_class_tasks %}
                <ul>
                  {% for task in weekly.inClassOngoingTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment due list-item">
                        <img src="{% if task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Deadline:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for task in weekly.inClassPreviousTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment list-item">
                        <img src="{% if task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="task_deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><img src="{% static 'classroom/images/task.png' %}"><span>No Tasks</span></div>
                {% endif %}
              </div>
            </div>
            <div class="links title-box">
              <div class="content">
                <a class="create-test" href="{% url 'weekly_test:create_question' weekly.id %}?contentcode=1"><i class='bx bx-edit-alt'></i><span>Take Test</span></a>
                <a class="create-work" href="{% url 'classroom:tasks:create_task' weekly.classroom.id %}?weekly={{weekly.id}}&contentcode=1"><i class='bx bx-briefcase'></i><span>Assign Task</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-body" id="tab3">
        <div class="tab-content">
          <div class="left-col">
            <div class="post-class-info">
              {% if weekly.post_class_instruction %}
              <div class="info-text" id="post-class-info-text" data-descr-editor="post_cls-description-editor">
                <div class="info" id="postClsInfoCon"><span id="post-cls-info-text-raw">{{ weekly.post_class_instruction }}</span><button class="des-edit edit" id="post-class-info-edit"><i class='bx bx-pencil'></i></button></div>
              </div>
              <div class="descr_adder_btn_con" id="in_cls_descr_adder_btn_con" style="display: none">
                <button class="btn-iconized des-adder" id="in_cls_des_adder" data-editorId="in_cls-description-editor"><i class='bx bxs-message-square-add'></i><span>Add Description</span></button>
              </div>
              {% else %}
              <div class="info-text" id="post-class-info-text" data-descr-editor="post_cls-description-editor" style="display: none;">
                <div class="info" id="postClsInfoCon"><span id="post-cls-info-text-raw"></span><button class="des-edit edit" id="post-class-info-edit"><i class='bx bx-pencil'></i></button></div>
              </div>
              <div class="descr_adder_btn_con" id="post_cls_descr_adder_btn_con">
                <button class="btn-iconized des-adder" id="post_cls_des_adder" data-editorId="post_cls-description-editor"><i class='bx bxs-message-square-add'></i><span>Add Description</span></button>
              </div>
              {% endif %}
              <div class="description-editor" id="post_cls-description-editor" style="display: none;">
                <div class="inset-float-textinput">
                  <textarea class="editor-textarea" name="description" id="post-descr"></textarea>
                  <label for="post-descr">Description</label>
                  <div class="submit-container">
                    <button class="submit-btn" id="post-class-info-save-btn">Save</button>
                    <button class="editor-close-btn close-btn" id="post-cls-close-description-editor" data-infoTextId="post-class-info-text" data-rawText="post-cls-info-text-raw" data-adderId="post_cls_descr_adder_btn_con"><i class='bx bx-window-close'></i></button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="post-class-files content-card">
              <div class="title">
                <i class='bx bx-paperclip'></i>
                <div class="title-text">Files</div>
              </div>
              {% if weekly.hasPostClassFiles %}
              <div class="content">
                <ul>
                  {% for postclassfile in weekly.postClassFiles %}
                  {% if postclassfile.must_study %}
                  <li class="muststudy">
                    <i class="{{ postclassfile.css_class }}"></i>
                    <a class="week-content-file" href="{% url 'weeklies:downloadweeklyfile' postclassfile.weekly.id postclassfile.id  %}?contentcode=2" target="blank">{{ postclassfile.filename }}</a>
                  </li>
                  {% else %}
                  <li>
                    <i class="{{ postclassfile.css_class }}"></i>
                    <a class="week-content-file" href="{% url 'weeklies:downloadweeklyfile' postclassfile.weekly.id postclassfile.id  %}?contentcode=2" target="blank">{{ postclassfile.filename }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <div class="no-content">
                <img src="{% static 'weeklies/images/folder.png' %}">
                <div class="info">No files yet</div>
              </div>
              {% endif %}
              <div class="add-content" id="post-class-upload-btn-con">
                <button class="files-add-btn" id="post-class-upload-btn" data-uploaderId="post-class-fileUpload"><i class='bx bx-upload'></i><span>Upload Files</span></button>
              </div>
              <div class="fileUpload" id="post-class-fileUpload" style="display: none;">
                <div class="attachement-container input-file">
                  <input class="cls-input-files" type="file" id="post-cls-input-files" data-fileCountLabel="postClsFileNoCount" multiple="multiple">
                  <label for="post-cls-input-files"><i class='bx bx-paperclip'></i>Select Files</label>
                  <div class="selected-file" id="postClsFileNoCount">No files selected</div>
                </div>
                <div class="switch-container">
                  <div class="switch">
                    <input type="checkbox" id="postClassMustStudy">
                    <label for="postClassMustStudy"></label>
                  </div>
                  <div class="switch-label">Mark as must study</div>
                </div>
                <div class="submit-container">
                  <button class="submit-btn" id="postClsFileUpBtn">Upload</button>
                </div>
              </div>
            </div>

            <div class="post-class-tutorials content-card">
              <div class="title">
                <i class='bx bxl-youtube' ></i>
                <div class="title-text">Video Tutorials</div>
              </div>
              <div class="content">
                <ul id="postClsTutoList">
                  {% for posttuto in weekly.postClassTuto  %}
                  <li>
                    {% if posttuto.description %}<div class="vid-info">{{ posttuto.description }}</div>{% endif %}
                    <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/{{ posttuto.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="postClsNoTuto">
                {% if not weekly.hasPostClassTuto %}
                <div class="no-content">
                  <img src="{% static 'weeklies/images/video.png' %}">
                  <div class="info">No Tutorials</div>
                </div>
                {% endif %}
              </div>
              <div class="add-content" id="postClsAddVideosTogglerBtn-Con">
                <button class="addVideosTogglerBtn" id="postCls-addVideosTogglerBtn" data-videoAdderId="postClassVideoAdder"><i class='bx bxs-video-plus'></i><span>Add Videos</span></button>
              </div>
              <div class="addvideo" id="postClassVideoAdder" style="display: none;">
                <div class="video-url info-input">
                  <input type="text" class="textinput" id="post_cls_vid_url" name="name_test-title" placeholder=" ">
                  <label for="post_cls_vid_url" class="textinput__label">YouTube URL</label>
                </div>
                <div class="video-info info-input">
                  <input type="text" class="textinput" id="post_cls_vid_info" placeholder=" ">
                  <label for="post_cls_vid_info" class="textinput__label">Tutorial Information</label>
                </div>
                <div class="submit-container">
                  <button class="submit-btn" id="postClassTutoAdd">Add</button>
                  <button class="vidAdderCloseBtn close-btn" id="postClassVideoAdderClose" data-addVideosTogglerBtnCon-Id="postClsAddVideosTogglerBtn-Con"><i class='bx bx-window-close'></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="right-col">
            {% if weekly.has_post_class_ongoing_test %}
            <div class="live-tests title-box">
              <div class="grad-top"><div class="grad-con"></div></div>
              <div class="title">Ongoing Tests</div>
              <div class="content tests">
                <ul>
                  {% for test in weekly.postClassOngoingTest %}
                  <li>
                    <div class="test-item">
                      <i class='bx bx-edit-alt'></i>
                      <div class="info">
                        <a href="{% url 'weekly_test:view_test' test.id %}" class="label-title">{{ test.title }}</a>
                        <div class="ending-time">
                          <i class='bx bx-timer'></i>
                          <div class="time-con">
                            <span class="label">Ending in:</span>
                            <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                          </div>
                        </div>
                        <div class="stat">
                          <div class="issued"><i class='bx bx-user-check'></i><span>Issued:&nbsp;</span><span class="value"
                              id="test0-issued">{{ test.issued_answer_sheets.count }}</span></div>
                          <div class="submitted"><i class='bx bx-check-double'></i><span>Submitted:&nbsp;</span><span
                              class="value" id="test0-issued">{{ test.submitted_answer_sheets.count }}</span></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="stats-container title-box">
              <div class="title">Week 1 Statistics</div>
                <div class="content overall">
                <canvas id="weekly_stats_chart" style="display: none;"></canvas>
                <div class="loader-con" id="chart-loader" style="display: none;">
                  <div class="loader">
                    <div class="lds-hourglass"></div>
                  </div>
                  <div class="info">Loading Statistics</div>
                </div>
                <div class="info-con">
                  <img src="{% static 'classroom/images/ranking/alert.svg' %}" alt="">
                  <div class="info">API Disabled</div>
                </div>
              </div>
            </div>
            <div class="weekly-tests title-box">
              <div class="title">Test</div>
              <div class="content">
                {% if weekly.has_post_class_tests %}
                <ul>
                  {% for upcoming_test in weekly.postClassUpcomingTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_ques' upcoming_test.id %}">
                      <div class="test test-upcoming list-item">
                        <img src="{% static 'classroom/images/test.svg' %}">
                        <div class="info">
                          <div class="label-title">{{ upcoming_test.title }}</div>
                          <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="test-{{upcoming_test.id}}">{{ upcoming_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for prev_test in weekly.postClassPreviousTest %}
                  <li>
                    <a href="{% url 'weekly_test:view_test' prev_test.id %}">
                      <div class="test list-item">
                        <img src="{% static 'classroom/images/test.svg' %}">
                        <div class="info">
                          <div class="label-title">{{ prev_test.title }}</div>
                          <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="test-{{prev_test.id}}">{{ prev_test.schedule|date:"c" }}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><img src="{% static 'classroom/images/exam.png' %}"><span>No upcoming or previous Tests</span></div>
                {% endif %}
              </div>
            </div>
            <div class="weekly-tasks title-box">
              <div class="title">Assigned Task</div>
              <div class="content">
                {% if weekly.has_post_class_tasks %}
                <ul>
                  {% for task in weekly.postClassOngoingTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment due list-item">
                        <img src="{% if task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Deadline:</span><span class="time" id="deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                  {% for task in weekly.postClassPreviousTask %}
                  <li>
                    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}">
                      <div class="assignment list-item">
                        <img src="{% if task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
                        <div class="info">
                          <div class="label-title">{{task.title}}</div>
                          <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="deadline_{{task.id}}">{{task.deadline|date:"c"}}</span></div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <div class="no-content"><img src="{% static 'classroom/images/task.png' %}" alt=""><span>No Tasks</span></div>
                {% endif %}
              </div>
            </div>
            <div class="links title-box">
              <div class="content">
                <a class="create-test" href="{% url 'weekly_test:create_question' weekly.id %}?contentcode=2"><i class='bx bx-edit-alt'></i><span>Take Test</span></a>
                <a class="create-work" href="{% url 'classroom:tasks:create_task' weekly.classroom.id %}?weekly={{weekly.id}}&contentcode=2"><i class='bx bx-briefcase'></i><span>Assign Task</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-body" id="tab4">
        {% if weekly.has_forum_post %}
        <div class="posts-container" id="forum_post_container">
          {% for post in weekly.forum_posts %}
          <div class="post">
            <div class="post-inner">
              <div class="top-panel">
                <div class="post-time"><span class="sub-title">Posted</span><span class="time" id="post-{{post.id}}">{{ post.added|date:"c" }}</span></div>
              </div>
              <div class="bottom-panel">
                <div class="user">
                  <div class="username">{{ post.author.account.user_full_name }}</div>
                  {% if post.author in post.weekly.classroom.teachers.all %}<div class="teacher-badge"></div>{% else %}<div class="registration">{{post.author.account.institutional_id}}</div>{% endif %}
                  <div class="avatar"><img src="{{ post.author.account.avatar_url }}" alt=""></div>
                </div>
                <div class="post-body">{{ post.postcontent }}</div>
              </div>
              {% if request.user == post.author %}<a class="edit" href="{% url 'weeklies:edit_post' post.weekly.id post.id %}"><i class='bx bx-pencil'></i></a>{% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="posts-container" id="forum_post_container"></div>
        <div class="no-posts" id="no-forum-posts">
          <i class='bx bxs-info-square'></i>
          <span>No Posts Yet</span>
        </div>
        {% endif %}
        <div class="create-post">
          <textarea class="replyinput" placeholder="Write something" name="" id="post_text_inp"></textarea>
          <div class="btn-container">
            <button class="btn-iconized" id="create_post_btn">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% csrf_token %}
{% endblock content %}

{% block script %}
  <script src="{% static 'weeklies/scripts/weekly_detail.js' %}"></script>
  <script src="{% static 'weeklies/scripts/weekly_editor.js' %}"></script>
  <script>
    const weekly_update_url = "{% url 'weeklies:update_weekly' weekly.classroom.id weekly.id  %}"
    const weekly_tutorial_add_url = "{% url 'weeklies:add_tutorial' weekly.classroom.id weekly.id  %}"
    const weekly_file_upload_url = "{% url 'weeklies:uploadweeklyfiles' weekly.id  %}"
    const weekly_create_post_url = "{% url 'weeklies:create_post'  weekly.classroom.id weekly.id  %}"
  </script>
  <script src="{% static 'classroom/scripts/localtimes.js' %}"></script>
{% endblock script %}
