{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/style.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style %}
{% block title %}<title>Create task</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_ranking' classroom.id %}">Ranking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="create-assignment-container">
<div class="page-title">Assignment for {{ classroom.name }}&nbsp;{% if weeknum  %}Week-{{weeknum}}&nbsp;{{section}}{% endif %}</div>
<form action="" method="POST" id="create-assignment-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mark-input">
      <div class="task-marks">
        <input type="text" class="q-marks-input" id="task-marks" name="marks" value="100">
        <label for="task-marks">Points</label>
      </div>
    </div>
    <div class="inset-float-textinput-fluid title-field">
      <input class="inp_input" type="text" id="title" placeholder=" " name="title">
      <label class="inp_label" for="title">Assignment Title</label>
    </div>
    <div class="inset-float-textinput">
      <textarea name="description" id="post-descr"></textarea>
      <label for="post-descr">Instructions (optional)</label>
    </div>
    <div class="task-type shadow-sm bg-white">
      <div class="section-label">Task Type</div>
      <div class="inputs">
        <div class="individual inp-inner">
          <input type="radio" name="tasktype" id="tasktype-indiv" value="indiv" checked>
          <label for="tasktype-indiv">
            <i class='bx bx-user'></i>
            <span>Individual</span>
          </label>
        </div>
        <div class="groupwise inp-inner">
          <input type="radio" name="tasktype" id="tasktype-group" value="group">
          <label for="tasktype-group">
            <i class='bx bxs-group'></i>
            <span>Groupwise</span>
          </label>
        </div>
        <div class="num-member inp-inner" id="num-group-member-con" style="display: none;">
          <input type="text" id="num-group-member" name="num-group-member" placeholder="Number of members" required="">
          <div id="num-group-member-error" style="display: none;"></div>
        </div>
      </div>
    </div>
    <div class="other-fields">
      <div class="deadline">
        <label>Submission deadline:</label>
        <div class="input-container">
          <i class='bx bx-calendar' id="calendar-icon"></i>
          <input type="datetime-local" id="deadline-datetime" name="deadline-datetime" placeholder="Select date and time">
          <span class="error-msg" id="deadline-datetime-error-msg" style="display: none">*advance date and time required</span>
        </div>
      </div>
      <div class="attachement-container input-file">
        <div class="selected-file" id="postfiles-file">No files selected</div>
        <input type="file" id="post-files" name="post-file" multiple="multiple">
        <label for="post-files"><i class='bx bx-paperclip'></i>Attach Files</label>
      </div>
      
    </div>
    <div class="submit-container">
      <button type="submit" id="create_btn">Create</button>
    </div>
</form>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% load static %}
<script type="text/javascript" src="{% static 'tasks/scripts/create_task.js' %}"></script>
<script>
  let config = {
    altInput: true,
    altFormat: "d F Y, h:iK",
    dateFormat: "Z",
    enableTime: true,
  }
  flatpickr('#deadline-datetime', config);
  const num_students = {{ classroom.students.count }}
</script>
{% endblock script %}