{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'weeklies/styles/weekly.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Delete task</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' task.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' task.classroom.id %}">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_ranking' task.classroom.id %}">Ranking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' task.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' task.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}


{% block content %}
<div class="edit-weekly">
  <div class="home-links">
    <a href="{% url 'classroom:classroom_detail' task.classroom.id %}">{{task.classroom.name|truncatechars:15}}</a>
    <i class='bx bxs-chevron-right' ></i>
    <a class="current" href="{% url 'weeklies:weeklydetail' task.classroom.id task.weekly.weeknum %}">Week {{task.weekly.weeknum}}</a>
  </div>
  <div class="info-con shadow-lg">
    <i class='bg bx bx-briefcase-alt-2' ></i>
    <div class="info-text">Are you sure to delete this Task and all the data associated with it?</div>
  </div>
  <div class="action">
    <a href="{% url 'classroom:tasks:view_task' task.classroom.id task.id %}" class="ico-btn btn btn-secondary"><i class='bx bx-chevrons-left'></i><span>Go Back</span></a>
    <button id="delete-btn" class="ico-btn btn btn-danger"><i class='bx bx-trash-alt'></i><span>Delete</span></button>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'tasks/scripts/delete_task.js' %}"></script>
<script>
  const task_delete_url = "{% url 'classroom:tasks:delete_task_api' task.classroom.id task.id  %}";
  const weekly_url = "{% url 'weeklies:weeklydetail' task.classroom.id task.weekly.weeknum %}";
  const csrftoken = "{{csrf_token}}";
</script>
{% endblock script %}
