<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Silkscreen&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="margin: 0;background-color: #f5f5f5;">
    {% autoescape off %}
    <div class="pagetitle" style="background-color: rgba(76, 194, 194, 0.1);
    color: rgb(5, 176, 105);
    font-size: 25px;
    margin: 0;
    width: 100%;
    padding: 32px 0;
    font-family: 'Lato', sans-serif;
    text-align: center;">
        You've been assigned a new task in {{task.classroom.name}}
    </div>
    <div class="weekinfo" style="width: 100%;
    text-align: center;
    padding: 10px 0;
    color: rgb(0, 154, 205);
    font-size: 20px;
    font-family: 'Silkscreen', cursive;">
        Week {{task.weekly.weeknum}} {% if task.preclass %}PreClass{% elif task.inclass %}InClass{% elif task.postclass %}PostClass{% endif %}
    </div>
    <div class="info" style="text-align: center;
    margin: 1rem 7%;
    padding: 2rem 0;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    box-shadow: 5px 5px 10px gainsboro;">
        <div class="title">
            <span>Task Title:</span>
            <span>{{task.title}}</span>
        </div>
        <div class="type">
            <span>Type:</span>
            <span>{% if task.is_group_task %}Group Task{% else %}Individual Task{% endif %}</span>
        </div>
        <div class="points">
            <span>Points:</span>
            <span>{{task.marks}}</span>
        </div>
        <div class="deadline">
            <span>Deadline:</span>
            <span>{{task.deadline|date:"F j, Y H:i:s"}} UTC</span>
        </div>
        <div class="url-con" style="margin-top: 1.5rem;">
            <a href="{{ task_uri }}" style="background-color: #48cae4;
            font-family: 'Silkscreen', cursive;
            color: #fff;
            padding: 0.5rem 2rem;
            border-radius: 3px;
            text-decoration: none;">View Task</a>
        </div>
    </div>
    <div class="site-info" style="text-align: center;
    font-family: 'Silkscreen', cursive;
    color: #80a0a2;padding-bottom:16px">FlippedClassroom</div>
    {% endautoescape %}
</body>
</html>
