{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'tasks/styles/viewtask.css' %}">
{% endblock style %}
{% block title %}<title>View Task</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' task.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Weeklies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}

<div class="view-task-container teacher">
  <div class="left-col">
    <div class="task-info">
      <div class="task-title">{{ task.title }}</div>
      <div class="task-meta-info">
        {% if task.is_group_task %}
        <div class="task-type-group task-type">
          <i class='bx bxs-group'></i>
          <span>Group Task</span>
        </div>
        {% else %}
        <div class="task-type-indiv task-type">
          <i class='bx bx-user'></i>
          <span>Individual Task</span>
        </div>
        {% endif %}
        
        
        <div class="points">
          <i class='bx bxs-coin-stack'></i>
          <span class="point">{{ task.marks }}</span><span class="label">Points</span>
        </div>
        <div class="deadline">
          <i class='bx bx-time'></i>
          <span class="time" id="task{{task.id}}-deadline">{{ task.deadline|date:"c" }}</span>
        </div>
        
      </div>
      <div class="task-instruction">
        <div class="instruction-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum obcaecati quisquam hic ipsum ex incidunt nam enim? Voluptas, quasi alias?</div>
        <div class="attachments">
          <a href="" class="attachment-item">
            <i class='bx bxs-file-pdf'></i>
            <div class="filename">Sample format.pdf</div>
          </a>
          <a href="" class="attachment-item">
            <i class='bx bxs-file-pdf'></i>
            <div class="filename">Sample format.pdf</div>
          </a>
          <a href="" class="attachment-item">
            <i class='bx bxs-file-pdf'></i>
            <div class="filename">Sample format.pdf</div>
          </a>
          <a href="" class="attachment-item">
            <i class='bx bxs-file-pdf'></i>
            <div class="filename">Sample format.pdf</div>
          </a>
          <a href="" class="attachment-item">
            <i class='bx bxs-file-pdf'></i>
            <div class="filename">Sample format.pdf</div>
          </a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="right-col">
    <!-- <div class="my-work">
      <div class="title">My Work</div>
      <div class="info">
        <div class="due-date">
          <span class="time" id="taskID-due-time">7:33PM, 7 Jan 2023</span>
        </div>
        <div class="points"><span class="num-points">100</span>Points</div>
      </div>
      <div class="form">
        <div class="attachement-container">
          <input type="file" id="post-files" name="post-file" multiple="multiple">
          <label for="post-files"><i class='bx bx-upload'></i>Upload Work</label>
          <div class="status-text" id="postfiles-file-status" style="display: none;">2 files uploading</div>
        </div>
      </div>
      <div class="uploaded-work">
        <ul>
          <li>
            <a href="" class="attachment-item">
              <i class='bx bxs-file-pdf'></i>
              <div class="filename">Sample work.pdf</div>
            </a>
          </li>
          <li>
            <a href="" class="attachment-item">
              <i class='bx bxs-file-pdf'></i>
              <div class="filename">Sample work.pdf</div>
            </a>
          </li>
        </ul>
        <div class="submitted-by">Md. Saiful</div>
        <div class="obtained-score"><i class='bx bx-trophy'></i><span class="point">70</span>Points</div>
        <button class="action-btn unsubmit">Unsubmit</button>
      </div>
      <div class="teammates">
        <div class="title">Group Members</div>
        <ul>
          <li>
            <div class="dp">
              <img src="/images/dp2.jpg" alt="">
            </div>
            <div class="name">Md. Atikur Rahman Sifat</div>
            
          </li>
          <li>
            <div class="dp">
              <img src="/images/dp1.jpg" alt="">
            </div>
            <div class="name">Md. Atikur Rahman</div>
          </li>
        </ul>
      </div>
    </div> -->
    
    <div class="submissions">
      <div class="title">Submissions</div>
      <div class="contents">
        <a href="">
          <div class="submission">
            <div class="info">
              <div class="score">
                <div class="score-con">
                  <i class='bx bx-trophy'></i>
                  <div class="points"><span class="point">70</span>Points</div>
                </div>
              </div>
              <div class="submit-time">
                <i class='bx bx-timer'></i>
                <span class="time" id="taskId-submit-time">7:34PM, 7 Jan 2023</span>
              </div>
            </div>
            
            <div class="num-attachments"><span class="num">2</span>Attachments</div>
            <!-- <div class="group-members">
              <div class="title">Group Members</div>
              <ul>
                <li>
                  <div class="dp">
                    <img src="/images/dp2.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman Sifat</div>
                  
                </li>
                <li>
                  <div class="dp">
                    <img src="/images/dp1.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman</div>
                </li>
              </ul>
            </div> -->
            <div class="user">
              <div class="dp" style="background-image: url('/images/dp2.jpg')">
              </div>
              <div class="name">Md. Atikur Rahman Sifat</div>
            </div>
          </div>
        </a>
        <!-- <a href="">
          <div class="submission">
            <div class="info">
              <div class="score">
                <div class="unchecked">Unchecked</div>
              </div>
              <div class="submit-time done-late">
                <i class='bx bx-timer'></i>
                <span class="time" id="taskId-submit-time">7:34PM, 7 Jan 2023</span>
              </div>
            </div>
            
            <div class="num-attachments"><span class="num">2</span>Attachments</div>
            <div class="group-members">
              <div class="title">Group Members</div>
              <ul>
                <li>
                  <div class="dp">
                    <img src="/images/dp2.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman Sifat</div>
                  
                </li>
                <li>
                  <div class="dp">
                    <img src="/images/dp1.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman</div>
                </li>
              </ul>
            </div>
          </div>
        </a> -->

        <!-- <div class="unsubmitting">
          <div class="info">
            <i class='bx bx-calendar-exclamation'></i>
            <span>Assigned, not Submitted</span>
          </div>
          <div class="group-members">
            <div class="title">Group Members</div>
            <ul>
              <li>
                <div class="dp">
                  <img src="/images/dp2.jpg" alt="">
                </div>
                <div class="name">Md. Atikur Rahman Sifat</div>
                
              </li>
              <li>
                <div class="dp">
                  <img src="/images/dp1.jpg" alt="">
                </div>
                <div class="name">Md. Atikur Rahman</div>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="unsubmitting">
          <div class="info">
            <i class='bx bx-calendar-exclamation'></i>
            <span>Assigned, not Submitted</span>
          </div>
          <div class="user">
            <div class="dp" style="background-image: url('/images/dp2.jpg')">
            </div>
            <div class="name">Md. Atikur Rahman Sifat</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
