{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'tasks/styles/viewtask.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>View Task</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' task.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' task.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' task.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' task.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}
{% block content %}
<div class="view-task-container {% if is_teacher %}teacher{% else %}student{% endif %}">
  <div class="left-col">
    {% if task.is_weekly_task %}
    <div class="home-links">
      <a href="{% url 'classroom:classroom_detail' task.classroom.id %}">{{task.classroom.name}}</a>
      <i class='bx bxs-chevron-right' ></i>
      <a href="{% url 'weeklies:weeklydetail' task.classroom.id task.weekly.weeknum %}">Week {{task.weekly.weeknum}}</a>
      <i class='bx bxs-chevron-right' ></i>
      <a class="current" >{{task.weekly_section}}</a>
    </div>
    {% endif %}
    <div class="task-info">
      <div class="task-title">{{ task.title }} {% if is_teacher %}<a href="{% url 'classroom:tasks:delete_task_get' task.classroom.id task.id %}"><i class='bx bx-trash-alt'></i></a>{% endif %} </div>
      <div class="task-meta-info">
        {% if task.is_group_task %}
        <div class="task-type-group task-type">
          <i class='bx bxs-group'></i>
          <span>Group Task</span>
        </div>
        {% else %}
        <div class="task-type-indiv task-type">
          <i class='bx bx-user'></i>
          <span>Individual Task</span>
        </div>
        {% endif %}
        <div class="points">
          <i class='bx bxs-coin-stack'></i>
          <span class="point">{{ task.marks }}</span><span class="label">Points</span>
        </div>
        <div class="deadline">
          <i class='bx bx-time'></i>
          <span class="time" id="task{{task.id}}-deadline">{{ task.deadline|date:"c" }}</span>
        </div>
      </div>
      <div class="task-instruction">
        {% if task.instruction %}
        <div class="instruction-text">{{ task.instruction }}</div>
        {% endif %}
        <div class="attachments">
          {% for file in task.taskattachment_set.all %}
          <a href="{% url 'classroom:tasks:view_task_file' file.task.classroom.id file.id %}" class="attachment-item">
            <i class='{{ file.css_class }}'></i>
            <div class="filename">{{ file.filename|truncatechars:20 }}</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="right-col">
    {% if is_teacher %}
    <div class="submissions">
      <div class="title">Submissions</div>
      <div class="contents">
        {% for group in group_submissions  %}
        <a href="{% url 'classroom:tasks:view_work' group.work.task.classroom.id group.work.id %}">
          <div class="submission">
            <div class="info">
              <div class="score">
                {% if group.work.score %}
                <div class="score-con">
                  <i class='bx bx-trophy'></i>
                  <div class="points"><span class="point">{{ group.work.score }}</span>Points</div>
                </div>
                {% else %}
                <div class="unchecked">Unchecked</div>
                {% endif %}
              </div>
              <div class="submit-time {% if group.work.is_late %}done-late{% endif %}">
                <i class='bx bx-timer'></i>
                <span class="time" id="work{{group.work.id}}-submit-time">{{ group.work.submission_time|date:'c' }}</span>
              </div>
            </div>
            
            <div class="num-attachments"><span class="num">{{ group.work.num_attachments }}</span>Attachment{{ group.work.num_attachments |pluralize }}</div>
            <div class="group-members">
              <div class="title">Group Members</div>
              <ul>
                {% for member in group.members.all %}
                <li>
                  <div class="dp" style="background-image: url('{{ member.account.avatar_url }}')">
                  </div>
                  <div class="name">{{ member.account.user_full_name }}</div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </a>
        {% endfor %}
        {% for indiv_work in indiv_submissions  %}
        <a href="{% url 'classroom:tasks:view_work' indiv_work.task.classroom.id indiv_work.id %}">
          <div class="submission">
            <div class="info">
              <div class="score">
                {% if indiv_work.score %}
                <div class="score-con">
                  <i class='bx bx-trophy'></i>
                  <div class="points"><span class="point">{{ indiv_work.score }}</span>Points</div>
                </div>
                {% else %}
                <div class="unchecked">Unchecked</div>
                {% endif %}
              </div>
              <div class="submit-time {% if indiv_work.is_late %}done-late{% endif %}">
                <i class='bx bx-timer'></i>
                <span class="time" id="work{{indiv_work.id}}-submit-time">{{ indiv_work.submission_time|date:"c" }}</span>
              </div>
            </div>
            
            <div class="num-attachments"><span class="num">{{ indiv_work.num_attachments }}</span>Attachment{{ indiv_work.num_attachments|pluralize }}</div>
            <div class="user">
              <div class="dp" style="background-image: url('{{ indiv_work.submission_by.account.avatar_url }}')">
              </div>
              <div class="name">{{indiv_work.submission_by.account.user_full_name}}</div>
            </div>
          </div>
        </a>
        {% endfor %}
        {% for unsub_group in unsubmitting_groups %}
        <div class="unsubmitting">
          <div class="info">
            <i class='bx bx-calendar-exclamation'></i>
            <span>Assigned, not Submitted</span>
          </div>
          <div class="group-members">
            <div class="title">Group Members</div>
            <ul>
              {% for member in unsub_group.members.all %}
              <li>
                <div class="dp" style="background-image: url('{{ member.account.avatar_url }}')">
                </div>
                <div class="name">{{member.account.user_full_name}}</div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
        {% for unsub_indiv in unsubmitting_indiv  %}
        <div class="unsubmitting">
          <div class="info">
            <i class='bx bx-calendar-exclamation'></i>
            <span>Assigned, not Submitted</span>
          </div>
          <div class="user">
            <div class="dp" style="background-image: url('{{ unsub_indiv.account.avatar_url }}')">
            </div>
            <div class="name">{{unsub_indiv.account.user_full_name}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="my-work">
      <div class="title">My Work</div>
      <div class="info">
        <div class="due-date">
          <span class="time" id="{{task.id}}-due-time">{{ task.deadline|date:'c' }}</span>
        </div>
      </div>
      {% if work %}
      <div class="uploaded-work">
        <ul>
          {% for file in work.attachments %}
          <li>
            <a href="{% url 'classroom:tasks:view_work_file' file.work.task.classroom.id file.id %}" target="blank" class="attachment-item">
              <i class='{{ file.css_class }}'></i>
              <div class="filename">{{ file.filename|truncatechars:25 }}</div>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% if group %}<div class="submitted-by">{{ work.submission_by.account.user_full_name }}</div>{% endif %}
        {% if work.score %}
        <div class="obtained-score"><i class='bx bx-trophy'></i><span class="point">{{work.score}}</span>Points</div>
        {% else %}
        {% if work.is_submitted %}
        <div class="buttons-container">
          <button class="action-btn unsubmit" id="alt_sub_status_btn">Unsubmit</button>
          <button class="del-btn" id="work-del-btn" style="display: none;"><i class='bx bx-trash-alt'></i></button>
        </div>
        {% else %}
        <div class="buttons-container">
          <button class="action-btn submit" id="alt_sub_status_btn">Submit</button>
          <button class="del-btn" id="work-del-btn"><i class='bx bx-trash-alt'></i></button>
        </div>
        {% endif %}
        
        {% endif %}
      </div>
      {% else %}
      <div class="form">
        <div class="attachement-container">
          <input type="file" id="post-files" name="post-file" multiple="multiple">
          <label for="post-files"><i class='bx bx-upload'></i>Upload Work</label>
          <div class="status-text" id="postfiles-file-status" style="display: none;">files uploading</div>
        </div>
      </div>
      {% endif %}
      {% if group %}
      <div class="teammates">
        <div class="title">Group Members</div>
        <ul>
          {% for member in group.members.all %}
          <li>
            <div class="dp" style="background-image: url('{{ member.account.avatar_url }}')">
            </div>
            <div class="name">{{member.account.user_full_name}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'tasks/scripts/task.js' %}"></script>
<script type="text/javascript" src="{% static 'classroom/scripts/localtimes.js' %}"></script>
{% if not is_teacher %}
<script>
  const upload_work_url = "{% url 'classroom:tasks:upload_work' task.classroom.id task.id %}"
  {% if work %}
  const change_work_submission_status_api = "{% url 'classroom:tasks:change_work_submission_status' work.task.classroom.id work.id %}"
  const delete_work_api_url = "{% url 'classroom:tasks:delete_work' work.task.classroom.id work.id %}"
  {% endif %}
  let csrftoken = "{{ csrf_token }}"
</script>
{% endif %}
{% endblock script %}