<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="styles/viewtask.css">
    <title>view submission</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <div class="navbar-brand flexer-row ms-4" href="#">
                  <div class="site-title">OpenClassroom</div>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Class Tests</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Student
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Student list</a></li>
                      <li><a class="dropdown-item" href="#">Student groups</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Class Archives</a>
                  </li>
                </ul>
                <div class="user ms-auto me-4">
                  <div class="avatar">
                    <img src="/images/dp3.jpg" alt="">
                  </div>
                  <span class="name">First Name</span>
                  <a href="" class="btn-1-outlined">Logout</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="main">
        <div class="view-submission-container">
          <div class="info">
            <div class="home-links">
              <a href="">Classroom Name</a>
              <i class='bx bxs-chevron-right' ></i>
              <a href="">Week 1</a>
              <i class='bx bxs-chevron-right' ></i>
              <a href="" class="current">Task</a>
            </div>
            <div class="score-card">
              <div class="obtained-points">
                <div class="score-con">
                  <i class='bx bx-trophy'></i>
                  <div class="points"><span class="point">70</span>Points</div>
                </div>
                <!-- <div class="score-none">
                  <i class='bx bx-info-square'></i>
                  <span>Unchecked</span>
                </div> -->
              </div>
              <div class="task-points"><span class="num-points">100</span>Points</div>
            </div>
            <div class="task-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, quibusdam</div>
            <div class="task-type-capsule">
              <div class="group-task">
                <div class="task-type-group task-type">
                  <i class='bx bxs-group'></i>
                  <span>Group Task</span>
                </div>
              </div>
              <!-- <div class="individual-task">
                <div class="task-type-indiv task-type">
                  <i class='bx bx-user'></i>
                  <span>Individual Task</span>
                </div>
                <div class="student-info">
                  <div class="dp">
                    <img src="/images/dp2.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman Sifat</div>
                </div>
              </div> -->
            </div>
            <div class="time-and-action">
              <div class="submission-time">
                <span class="label">Submitted at:</span>
                <span class="time" id="taskID-st">7:34PM, 22 Jan 2023</span>
              </div>
              <div class="scoring-form">
                <input type="text" placeholder="score">
                <button class="btn btn-secondary">Save</button>
              </div>
            </div>
          </div>
          <div class="bottom-pane">
            <div class="submitted-contents">
              <div class="title"><i class='bx bx-file'></i><span>Submitted Files</span></div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      BDRAILWAY_TICKET202205112128331978925.pdf
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <embed src="/BDRAILWAY_TICKET202205112128331978925.pdf" type="">
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      cs_lr.pdf
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <embed src="cs_lr.pdf" type="">  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-members">
              <div class="title">Group Members</div>
              <ul>
                <li>
                  <div class="dp">
                    <img src="/images/dp2.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman Sifat</div>
                  
                </li>
                <li>
                  <div class="dp">
                    <img src="/images/dp1.jpg" alt="">
                  </div>
                  <div class="name">Md. Atikur Rahman</div>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>