{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'tasks/styles/viewtask.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>View work</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' work.task.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' work.task.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' work.task.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' work.task.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="view-submission-container">
  <div class="info">
    <div class="home-links">
      <a href="{% url 'classroom:classroom_detail' work.task.classroom.id %}">{{work.task.classroom.name}}</a>
      {% if work.task.weekly %}
      <i class='bx bxs-chevron-right' ></i>
      <a href="{% url 'weeklies:weeklydetail' work.task.weekly.classroom.id work.task.weekly.weeknum %}">Week {{work.task.weekly.weeknum}}</a>
      {% endif %}
      <i class='bx bxs-chevron-right' ></i>
      <a href="{% url 'classroom:tasks:view_task' work.task.classroom.id work.task.id %}" class="current">Task</a>
    </div>
    <div class="score-card">
      <div class="obtained-points" id="id-work-score-con">
        {% if work.score %}
        <div class="score-con">
          <i class='bx bx-trophy'></i>
          <div class="points"><span class="point">{{work.score}}</span>Point{{work.score|pluralize}}</div>
        </div>
        {% else %}
        <div class="score-none">
          <i class='bx bx-info-square'></i>
          <span>Unchecked</span>
        </div>
        {% endif %}
      </div>
      <div class="task-points"><span class="num-points">{{work.task.marks}}</span>Point{{work.task.marks|pluralize}}</div>
    </div>
    <div class="task-title">{{ work.task.title }}</div>
    <div class="task-type-capsule">
      {% if work.task.is_group_task %}
      <div class="group-task">
        <div class="task-type-group task-type">
          <i class='bx bxs-group'></i>
          <span>Group Task</span>
        </div>
      </div>
      {% else %}
      <div class="individual-task">
        <div class="task-type-indiv task-type">
          <i class='bx bx-user'></i>
          <span>Individual Task</span>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="time-and-action">
      <div class="submission-time">
        <span class="label">Submitted at:</span>
        <span class="time {{work.time_css}}" id="{{work.id}}-st">{{work.submission_time|date:"c"}}</span>
      </div>
      <div class="scoring-form">
        <input type="text" placeholder="score" id="work_score_inp">
        <button class="btn btn-secondary" id="update_score_btn">Save</button>
      </div>
    </div>
  </div>
  <div class="bottom-pane">
    <div class="submitted-contents">
      <div class="title"><i class='bx bx-file'></i><span>Submitted Files</span></div>
      <div class="accordion" id="accordion-{{work.id}}">
        {% for file in work.attachments %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{file.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{file.id}}" aria-expanded="false" aria-controls="collapse-{{file.id}}">
              {{file.filename}}
            </button>
          </h2>
          <div id="collapse-{{file.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{file.id}}" data-bs-parent="#accordion-{{work.id}}">
            <div class="accordion-body">
              <div class="download-btn-con">
                <a href="{{file.attached_file.url}}" download=""><i class='bx bx-download'></i><span>Download</span></a>
              </div>
              <embed src="{{file.attached_file.url}}" type="">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="right-col">
      {% if work.group %}
      <div class="group-members">
        <div class="title">Group Members</div>
        <ul>
          {% for member in work.group.members.all %}
          <li>
            <div class="dp" style="background-image: url('{{member.account.avatar_url}}');">
            </div>
            <div class="name">{{member.account.user_full_name}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="submitting-student">
        <div class="title">Submitted By</div>
        <div class="user">
          <div class="dp" style="background-image: url('{{work.submission_by.account.avatar_url}}');"></div>
          <div class="name">{{work.submission_by.account.user_full_name}}</div>
          <div class="inst-id">{{work.submission_by.account.institutional_id}}</div>
          <div class="inst">{{work.submission_by.account.institution}}</div>
        </div>
      </div>
      {% endif %}

      <div class="remarks-con shadow-sm">
        <div class="title">
          <i class='bx bx-list-check'></i>
          <span>Remarks</span>
        </div>
        <div class="content">
          {% if work.remarks %}
          <div class="remarks-text" id="remarks-text-con"> <span id="remarks-text-raw">{{work.remarks}}</span> <button class="des-edit edit" id="remarks-info-edit"><i class='bx bx-pencil'></i></button></div>
          <div class="descr_adder_btn_con" id="remarks_adder_btn_con" style="display: none;">
            <button class="btn-iconized des-adder" id="remarks_adder" data-editorId="remarks-adder-editor"><i class='bx bxs-message-square-add'></i><span>Add Remarks</span></button>
          </div>
          {% else %}
          <div class="remarks-text" style="display: none;" id="remarks-text-con"> <span id="remarks-text-raw"></span> <button class="des-edit edit" id="remarks-info-edit"><i class='bx bx-pencil'></i></button></div>
          <div class="descr_adder_btn_con" id="remarks_adder_btn_con">
            <button class="btn-iconized des-adder" id="remarks_adder" data-editorId="remarks-adder-editor"><i class='bx bxs-message-square-add'></i><span>Add Remarks</span></button>
          </div>
          {% endif %}
          <div class="description-editor" id="remarks-adder-editor" style="display: none;">
            <div class="inset-float-textinput">
              <textarea class="editor-textarea" name="description" id="pre-descr"></textarea>
              <label for="post-descr">Write remarks</label>
              <div class="submit-container">
                <button class="submit-btn" id="">Save</button>
                <button class="editor-close-btn close-btn" id="close-remarks-editor"><i class='bx bx-window-close'></i></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    
  </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'classroom/scripts/localtimes.js' %}"></script>
<script type="text/javascript" src="{% static 'tasks/scripts/view_work.js' %}"></script>
<script>
  const update_work_score_api = "{% url 'classroom:tasks:update_work_score' work.task.classroom.id work.id %}"
  let csrftoken = "{{ csrf_token }}"
  let marks = {{ work.task.marks }}
</script>
{% endblock script %}








