{% extends 'classroom/base.html' %}
{% block style %} {% load static %} {% load my_tags %}
<link rel="stylesheet" href="{% static 'classroom/styles/assessment.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/loaders.css' %}">
{% endblock style %}
{% block title %}<title>{{classroom.name}} Assessment</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_ranking' classroom.id %}">Ranking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}

{% if meta %}
<!-- loader -->
<div class="loader-container mt-5" id="loader-con" >
  <div class="loader d-flex justify-content-center">
    <div class="lds-facebook"><div></div><div></div><div></div></div>
  </div>
  <div class="infotext text-center">Loading Data</div>
</div>

<!-- list -->
<div class="assessment-list container my-4" id="assessment-list-con" style="display: none;">
  <div class="heading mb-3">
    <i class='bx bx-stats'></i>
    <span class="title">{{classroom.name}} Assessment Table</span>
  </div>
  <div class="assessment-table bg-white p-3 shadow">
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Registration No</th>
                  <th>Attendance ({{meta.get_attendance_marks}})</th>
                  <th>Class Test ({{meta.get_classtest_marks}})</th>
                  <th>Pre Class ({{meta.get_preclass_marks}})</th>
                  <th>In Class ({{meta.get_inclass_marks}})</th>
                  <th>Post Class ({{meta.get_postclass_marks}})</th>
                  <th>Total ({{meta.total_marks}})</th>
              </tr>
          </thead>
          <tbody id="assessments-tbody">
          </tbody>
      </table>
      <div class="submit mt-3">
        <button class="btn-1 shadow-sm" id="a-save-btn">Save</button>
      </div>
  </div>
  <div class="info mt-4">
    <div class="student-stats"><span class="num">{{meta.assessments.count}}</span> of the <span class="num">{{meta.classroom.students.count}}</span> students has been assessed</div>
    <div class="btn-container">
      <a href="{% url 'classroom:download_assessment_excel' classroom.id %}" class="download btn-a shadow-sm" download=""><i class='bx bx-table'></i><span>Download as Excel</span></a>
      <button class="edit-btn shadow-sm ms-2" id="rst-assessment-btn"><i class='bx bx-refresh'></i><span>Reset All</span></button>
    </div>
  </div>
  <a href="{% url 'classroom:view_assessment_printf' meta.classroom.id %}" class="print btn-a shadow ms-2" target="blank"><i class='bx bx-printer'></i><span>Print Format</span></a>
</div>
{% else %}
<div class="create-assessment container mt-4">
  <div class="title mb-4"><i class='bx bx-code me-1'></i><span>Define total marks</span></div>
  <form action="{% url 'classroom:create_assessment' classroom.id %}" method="POST"> {% csrf_token %}
    <div class="input-container">
        <div class="inset-float-textinput-fluid attendance-field mb-2">
            <input class="inp_input" type="text" name="attendance" id="attendance" placeholder=" " required="">
            <label class="inp_label" for="attendance">Attendance</label>
        </div>
        <div class="inset-float-textinput-fluid title-field mb-2">
            <input class="inp_input" type="text" name="classtest" id="classtest" placeholder=" " required="">
            <label class="inp_label" for="classtest">Class Test</label>
        </div>
        <div class="auto-fields p-3 rounded">
            <div class="fields-title mb-2"><i class='bx bx-refresh me-1'></i><span>Score to be generated from weekly activities</span></div>
            <div class="inset-float-textinput-fluid mb-2">
                <input class="inp_input" type="text" name="pre-cls-marks" id="pre-cls-marks" placeholder=" " required="">
                <label class="inp_label" for="pre-cls-marks">Weekly PreClass marks</label>
            </div>
            <div class="inset-float-textinput-fluid mb-2">
                <input class="inp_input" type="text" name="in-cls-marks" id="in-cls-marks" placeholder=" " required="">
                <label class="inp_label" for="in-cls-marks">Weekly InClass marks</label>
            </div>
            <div class="inset-float-textinput-fluid">
                <input class="inp_input" type="text" name="post-cls-marks" id="post-cls-marks" placeholder=" " required="">
                <label class="inp_label" for="post-cls-marks">Weekly PostClass marks</label>
            </div>
        </div>
        <div class="submit-con mt-3">
            <button type="submit" class="btn-1 shadow-sm">Create Assessments</button>
        </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock content %}

{% block script %}
<script>
  const assessments_url = "{% url 'classroom:get_assessments_api' classroom.id %}";
  const update_assessment_url = "{% url 'classroom:update_assessments' classroom.id %}";
  const delete_assessment_url = "{% url 'classroom:delete_assessment_meta' classroom.id %}";
  const csrftoken = "{{csrf_token}}";
</script>
<script src="{% static 'classroom/scripts/assessment.js' %}"></script>
{% endblock script %}