{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/assessment.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Assessment</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}

{% if meta %}
<div class="assessment-list container mt-4">
  <div class="heading mb-3">
    <i class='bx bx-stats'></i>
    <span class="title">{{classroom.name}} Assessment Report</span>
  </div>
  <div class="assessment-table p-3 shadow">
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Registration No</th>
                  <th>Attendance ({{meta.get_attendance_marks}})</th>
                  <th>Class Test ({{meta.get_classtest_marks}})</th>
                  <th>Group Tasks ({{meta.get_group_task_marks}})</th>
                  <th>Individual Tasks ({{meta.get_indiv_task_marks}})</th>
                  <th>Tests ({{meta.get_weekly_test_marks}})</th>
                  <th>Total ({{meta.total_marks}})</th>
              </tr>
          </thead>
          <tbody>
              {% for assessment in meta.assessment_set.all %}
              <tr>
                <td>{{assessment.student.account.user_full_name}}</td>
                <td>{{assessment.student.account.institutional_id}}</td>
                <td class="inp-con">
                    {% if assessment.attendance_score %}
                    <input type="text" class="score-inp" value="{{assessment.get_attendance_score}}">
                    {% else %}
                    <input type="text" class="score-inp empty">
                    {% endif %}
                </td>
                <td class="inp-con">
                  {% if assessment.classtest_score %}
                  <input type="text" class="score-inp" value="{{assessment.get_classtest_score}}">
                  {% else %}
                  <input type="text" class="score-inp empty">
                  {% endif %}
                </td>
                <td>{{assessment.group_task_score}}</td>
                <td>{{assessment.indiv_task_score}}</td>
                <td>{{assessment.weekly_tests_score}}</td>
                {% if assessment.total_score != None %}
                <td>{{assessment.total_score}}</td>
                {% else %}
                <td class="pending">Pending</td>
                {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="submit mt-3">
        <button class="btn-1">Save</button>
      </div>
  </div>
  <div class="info mt-4">
    <div class="student-stats"><span class="num">50</span> of the <span class="num">54</span> students has been assessed</div>
    <div class="btn-container">
      <a href="" class="download btn-a shadow-sm"><i class='bx bx-table'></i><span>Download as CSV</span></a>
      <button class="edit-btn shadow-sm ms-2"><i class='bx bx-refresh'></i><span>Reset All</span></button>
    </div>
  </div>
  <a href="{% url 'classroom:view_assessment_printf' meta.classroom.id %}" class="print btn-a shadow ms-2" target="blank"><i class='bx bx-printer'></i><span>Print Format</span></a>
</div>
{% else %}
<div class="create-assessment container mt-4">
  <div class="title mb-4"><i class='bx bx-code me-1'></i><span>Define total marks</span></div>
  <div class="input-container">
      <div class="inset-float-textinput-fluid attendance-field mb-2">
          <input class="inp_input" type="text" id="attendance" placeholder=" ">
          <label class="inp_label" for="attendance">Attendance</label>
      </div>
      <div class="inset-float-textinput-fluid title-field mb-2">
          <input class="inp_input" type="text" id="classtest" placeholder=" ">
          <label class="inp_label" for="classtest">Class Test</label>
      </div>
      <div class="auto-fields p-3 rounded">
          <div class="fields-title mb-2"><i class='bx bx-refresh me-1'></i><span>Score to be generated from classroom activities</span></div>
          <div class="inset-float-textinput-fluid mb-2">
              <input class="inp_input" type="text" id="tasks-group" placeholder=" ">
              <label class="inp_label" for="tasks-group">Weekly Group Task</label>
          </div>
          <div class="inset-float-textinput-fluid mb-2">
              <input class="inp_input" type="text" id="tasks" placeholder=" ">
              <label class="inp_label" for="tasks">Weekly Individual Task</label>
          </div>
          <div class="inset-float-textinput-fluid">
              <input class="inp_input" type="text" id="title" placeholder=" ">
              <label class="inp_label" for="title">Weekly Test</label>
          </div>
      </div>
      <div class="submit-con mt-3">
          <button class="btn-1 shadow-sm">Create Assessments</button>
      </div>
  </div>
</div>
{% endif %}
{% endblock content %}

