<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'classroom/styles/assessment_print.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <h2 class="title">{{meta.classroom.name}} Assessment Report</h2>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>SL. No.</th>
                    <th>Registration No.</th>
                    <th>Attendance ({{meta.get_attendance_marks}})</th>
                    <th>Class Test ({{meta.get_classtest_marks}})</th>
                    <th>Group Tasks ({{meta.get_group_task_marks}})</th>
                    <th>Individual Tasks ({{meta.get_indiv_task_marks}})</th>
                    <th>Tests ({{meta.get_weekly_test_marks}})</th>
                    <th>Total ({{meta.total_marks}})</th>
                </tr>
            </thead>
            <tbody>
                {% for a in meta.assessments %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ a.student.account.institutional_id }}</td>
                    {% if a.attendance_score != None %} 
                    <td>{{a.get_attendance_score}}</td>
                    {% else %}
                    <td>**</td>
                    {% endif %}
                    {% if a.classtest_score != None%} 
                    <td>{{a.get_classtest_score}}</td>
                    {% else %}
                    <td>**</td>
                    {% endif %}
                    {% if a.group_task_score != None%} 
                    <td>{{a.group_task_score}}</td>
                    {% else %}
                    <td>**</td>
                    {% endif %}
                    {% if a.indiv_task_score != None%} 
                    <td>{{a.indiv_task_score}}</td>
                    {% else %}
                    <td>**</td>
                    {% endif %}
                    {% if a.weekly_tests_score != None%} 
                    <td>{{a.weekly_tests_score}}</td>
                    {% else %}
                    <td>**</td>
                    {% endif %}
                    {% if a.total_score != None%} 
                    <td>{{a.total_score}}</td>
                    {% else %}
                    <td>**</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>