{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/assessment.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Assessment details</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="assessment-con container p-3 mt-3 mb-5">
  {% if assessment %}
  <div class="heading mb-3">
    <i class='bx bx-stats'></i>
    <span class="title">Student Assessment Report</span>
  </div>
  <div class="student-info">
      <div class="dp" style="background-image: url('{{assessment.student.account.avatar_url}}');"></div>
      <div class="info ms-4">
          <div class="name">{{assessment.student.account.user_full_name}}</div>
          <div class="inst-id">{{assessment.student.account.institutional_id}}</div>
          <div class="inst">{{assessment.student.account.institution}}</div>
      </div>
  </div>
  <div class="table-con mt-4 shadow-sm">
    <table>
      <tr class="score-row">
        <th>Attendance</th>
        <td>{{assessment.get_attendance_score}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.get_attendance_marks}}</span> )</span></td>
      </tr>
      <tr class="score-row">
        <th>Class test</th>
        <td>{{assessment.get_classtest_score}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.get_classtest_marks}}</span> )</span></td>
      </tr>
      <tr>
        <th>Group tasks completed</th>
        <td>{{assessment.num_group_work}}<span class="outof">(<span class="marks me-1">{{assessment.meta.classroom.num_group_tasks}}</span>assigned)</span></td>
      </tr>
      <tr>
        <th>Group work points</th>
        <td>{{assessment.group_task_points}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.classroom.group_tasks_total_marks}}</span> )</span></td>
      </tr>
      <tr class="score-row">
        <th>Group work score</th>
        <td>{{assessment.group_task_score}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.get_group_task_marks}}</span> )</span></td>
      </tr>
      
      <tr>
        <th>Individual tasks completed</th>
        <td>{{assessment.num_indiv_works}}<span class="outof">(<span class="marks me-1">{{assessment.meta.classroom.num_indiv_tasks}}</span>assigned)</span></td>
      </tr>
      <tr>
        <th>Individual work points</th>
        <td>{{assessment.indiv_task_points}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.classroom.indiv_tasks_total_marks}}</span> )</span></td>
      </tr>
      <tr class="score-row">
        <th>Individual work score</th>
        <td>{{assessment.indiv_task_score}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.get_indiv_task_marks}}</span> )</span></td>
      </tr>
      
      <tr>
        <th>Weekly Test participated</th>
        <td>{{assessment.num_participated_tests}}<span class="outof">(<span class="marks me-1">{{assessment.meta.classroom.num_tests}}</span>Taken)</span></td>
      </tr>
      <tr>
        <th>Weekly Test points</th>
        <td>{{assessment.weekly_tests_points}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.classroom.classroom_tests_total_marks}}</span> )</span></td>
      </tr>
      <tr class="score-row">
        <th>Weekly Test score</th>
        <td>{{assessment.weekly_tests_score}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.get_weekly_test_marks}}</span> )</span></td>
      </tr>
      <tr class="score-row-total">
        <th>Total Score</th>
        <td>{{assessment.total_score}}<span class="outof">(out of<span class="marks ms-1">{{assessment.meta.total_marks}}</span> )</span></td>
      </tr>
      <tr class="score-row-total">
        <th>Score (%)</th>
        <td>90%</td>
      </tr>
    </table>
  </div>
  {% else %}
  <div class="no-assessment">
    <i class='bx bx-stats'></i>
    <div class="info">Assessment is not available yet</div>
  </div>
  {% endif %}
</div>
{% endblock content %}

