<!DOCTYPE html>
<html lang="en"> {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="shortcut icon" href="{% static 'classroom/images/sl.svg' %}" type="image/x-icon">
    {% block style %}{% endblock style %}
    {% block title %}{% endblock title %}
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand flexer-row ms-4" href="{% url 'classroom:homepage' %}">
                <img src="{% static 'classroom/images/sl.svg' %}">
                <div class="site-title">Flipped Classroom</div>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                {% block nav %}{% endblock nav %}
                <div class="user ms-auto me-4">
                    <div class="avatar" style="background-image: url('{{ request.user.account.avatar_url }}');">
                    </div>
                    <a href="{% url 'accounts:view_profile' request.user.account.id %}" class="name">{{ request.user.account.user_first_name }}</a>
                    <a href="{% url 'accounts:user_logout' %}" class="btn-1-outlined">Logout</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="main">
      {% block content %}
      {% endblock content %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% block script %}{% endblock script %}
</body>
</html>