{% extends 'classroom/base.html' %}
{% block title %}<title>OpenClassroom</title>{% endblock title %}
{% block content %} {% load static %}
<div class="classrooms-dashboard">
  {% if classrooms %}
    {% if classrooms.my_teachings %}
    <div class="my-teachings classes-section">
      <div class="heading"><i class='bx bx-user-voice'></i><span>My Teachings</span></div>
      <div class="classrooms-container">
        {% for classroom in classrooms.my_teachings %}
        <a class="classroom" href="">
          <div class="classroom-heading">
            <div class="title">{{ classroom.name }}</div>
            <div class="course">{{ classroom.course }}</div>
          </div>
          <div class="info">
            <div class="num-students i-item">
              <i class='bx bx-group'></i><span>{{ classroom.num_students }} Students</span>
            </div>
            <div class="event-info i-item">
              <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
            </div>
          </div>
        </a>
        {% endfor %}
        
        
      </div>
    </div>
    {% endif %}
    {% if classrooms.my_learnings %}
    <div class="my-learnings classes-section">
      <div class="heading"><i class='bx bx-book'></i><span>My Learnings</span></div>
      <div class="classrooms-container">
        {% for classroom in classrooms.my_learnings %}
        <a class="classroom" href="">
          <div class="classroom-heading">
            <div class="title">{{ classroom.name }}</div>
            <div class="course">{{ classroom.course }}</div>
            <div class="owner"><i class='bx bx-user-voice'></i><span>{{ classroom.teacher_name }}</span></div>
          </div>
          <div class="info">
            <div class="last-post-info i-item">
              <i class='bx bx-history'></i><span>last posted: 7 Oct, 2022</span>
            </div>
            <div class="event-info i-item">
              <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
            </div>
          </div>
        </a>
        {% endfor %}
        
      </div>
    </div>
    {% endif %}
  {% else %}
  <div>No classrooms</div>
  {% endif %}
  <div class="create-classroom-link">
    <a href=""><i class='bx bxs-plus-circle'></i></a>
  </div>
</div>
{% endblock content %}

