{% extends 'classroom/base.html' %}
{% block style %} {% load static %} {% load my_tags %}
<link rel="stylesheet" href="{% static 'classroom/styles/style.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/loaders.css' %}">
{% endblock style %}
{% block title %}<title>{{classroom.name}}</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}
{% block content %}
<div class="left-col">
  <div class="classroom-info">
    <img class="bg" src="{{classroom.banner_url}}">
    <div class="title">{{ classroom.name }}</div>
    <div class="course">{{classroom.course}}</div>
    {% if classroom.quote  %}
    <div class="quote-con">
      <i class='bx bxs-quote-single-left'></i>
      <span class="quote">{{classroom.quote}}</span>
    </div>
    {% endif %}
    <div class="share-link">
      <button id="share-link">{{classroom.join_code}} <i class='bx bx-copy'></i><div id="copy-info" class="copy-info" style="display: none;">copied</div></button>
    </div>
  </div>
  <div class="weeklies title-box">
    <div class="title">Weekly Modules</div>
    <div class="content">
      {% if classroom.has_weeklies %}
      <ul>
        {% for weekly in classroom.weeklies %}
        <li>
          <a href="{% url 'weeklies:weeklydetail' weekly.classroom.id weekly.weeknum %}">
            <div class="week">
              <div class="week-no">
                <span class="weektext">Week</span>
                <span class="num">{{ weekly.weeknum }}</span>
              </div>
              <div class="icon">
                <i class='bx bxs-calendar-week'></i>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="no-content">
        <div class="icon-rotated"><i class='bx bx-calendar-week'></i></div>
        <div class="info">No Weeklies</div>
      </div>
      {% endif %}
      {% if request.user in classroom.teachers.all %}
      <div class="create-weekly">
        <div class="weekly-topic-inp-con" id="weekly-topic-inp-con" style="display: none;">
          <input type="text" placeholder="Weekly Topic (optional)" id="weekly-topic-input">
        </div>
        <div class="btns" id="create-weekly-btns-con">
          <button class="create" id="create-weekly-btn">Create Weekly Module</button>
          <button class="cancel" id="create-weekly-cancel-btn" style="display: none;">Cancel</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if request.user in classroom.teachers.all %}
  <div class="postbox" id="id_postbox" href="#">
    <div class="form">
      <div class="inset-float-textinput">
        <textarea name="description" id="post-descr"></textarea>
        <label for="post-descr">Post description</label>
        <div class="topic-input">
          <input type="text" placeholder="Topics (comma separated)" id="topics">
        </div>
      </div>
      <div class="form-actions">
        <div class="attachement-container input-file">
          <input type="file" id="post-files" name="post-file" multiple="multiple">
          <label for="post-files"><i class='bx bx-paperclip'></i>Attach Files</label>
          <div class="selected-file" id="postfiles-file">No files selected</div>
        </div>
        <div class="submit-container">
          <button type="submit" id="create-post">Post
            <div class="loader" id="loader" style="display: none;">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="recent-posts" id="recent-posts">
    <div class="loader">
      <div class="lds-ripple"><div></div><div></div></div>
      <div class="info text-muted">Loading Posts</div>
    </div>
  </div>

</div>
<div class="right-col">
  {% if teacher_tests %}
  <div class="live-tests title-box" id="live_tests">
    <div class="grad-top"><div class="grad-con"></div></div>
    <div class="title">Ongoing Tests</div>
    <div class="content">
      <ul>
        {% for test in teacher_tests %}
        <li>
          <div class="test-item live_test" id="test-{{test.id}}" data-testid="{{test.id}}">
            <i class='bx bx-edit-alt'></i>
            <div class="info">
              <a href="{% url 'weekly_test:view_test' test.id %}" class="label-title">{{ test.title }}</a>
              <div class="ending-time">
                <i class='bx bx-timer'></i>
                <div class="time-con">
                  <span class="label">Ending in:</span>
                  <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                </div>
              </div>
              <div class="stat">
                <div class="issued"><i class='bx bx-user-check'></i><span>Issued:&nbsp;</span><span class="value" id="issued-{{test.id}}">{{ test.num_answer_sheets }}</span></div>
                <div class="submitted"><i class='bx bx-check-double'></i><span>Submitted:&nbsp;</span><span class="value" id="submitted-{{test.id}}">{{ test.num_submitted_answer_sheets }}</span></div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if has_student_tests %}
  <div class="live-tests title-box" id="live_tests">
    <div class="grad-top"><div class="grad-con"></div></div>
    <div class="title">Ongoing Tests</div>
    <div class="content">
      <ul>
        {% for test in student_tests %}
        <li>
          <div class="test-item">
            <i class='bx bx-edit-alt'></i>
            <div class="info">
              <div class="label-title">{{ test.title }}</div>
              <div class="ending-time">
                <i class='bx bx-timer'></i>
                <div class="time-con">
                  <span class="label">Ending in:</span>
                  <span class="time" id="testid-{{test.id}}">{{test.expiration|date:"c"}}</span>
                </div>
              </div>
              <div class="action">
                <a href="{% url 'weekly_test:take_test' test.id %}">Participate</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        {% for test in unsubmitted_tests %}
        <li>
          <div class="test-item">
            <i class='bx bx-edit-alt'></i>
            <div class="info">
              <div class="label-title">{{ test.title }}</div>
              <div class="ending-time">
                <i class='bx bx-info-circle'></i>
                <div class="time-con">
                  <span class="label">Left Unsubmitted</span>
                </div>
              </div>
              <div class="action">
                <a href="{% url 'weekly_test:take_test' test.id %}">Resume</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if classroom.all_tasks.ongoing_task %}
  <div class="live-tasks title-box" id="live_tests">
    <div class="grad-top"><div class="grad-con"></div></div>
    <div class="title">Ongoing Tasks</div>
    <div class="content tasks">
      <ul>
        {% for on_task in classroom.all_tasks.ongoing_task  %}
        <li>
          <a href="{% url 'classroom:tasks:view_task' on_task.classroom.id on_task.id %}">
            <div class="assignment due list-item shadow-sm">
              <img src="{% if on_task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
              <div class="info">
                <div class="label-title">{{on_task.title}}<div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">{{on_task.weeknum_str}}</span><i class='{{on_task.section_icon_css}}'></i></span></div></div>
                <div class="points shadow mt-2 mb-1"><span class="num-points">{{on_task.marks}}</span><span class="label">Points</span></div>
                <div class="deadline"><span class="sub-title">Ending in:</span><span class="time" id="taskid-{{on_task.id}}">{{on_task.deadline|date:"c"}}</span></div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
  {% endif %}
  
  {% if request.user.account.is_student %}
  <div class="student-activity">
    <div class="title">
      <img src="{% static 'classroom/images/indiv.png' %}" alt="">
      <div class="title-text">My Activities</div>
    </div>
    {% get_test_participations request.user classroom as answ_sheets %}
    {% if answ_sheets %}
    <div class="tests mt-2" >
      <ul>
        {% for sheet in answ_sheets %}
        <li>
          <a href="#">
            <div class="test-item shadow">
              <img src="{% static 'classroom/images/test.svg' %}">
              <div class="info">
                <div class="label-title">{{sheet.test.title}} <div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">week {{sheet.test.weekly.weeknum}}</span><i class='{{sheet.test.section_icon_css}}'></i></span></div> </div>
                <div class="complete-time"><span class="sub-title">Submitted on:</span><span class="time" id="test-{{sheet.test.id}}-sheet">{{sheet.submit_time|date:'c'}}</span></div>
                <div class="score-con">
                  <div class="score-inner">
                    <div class="label">Score:</div>
                    {% if sheet.test.is_ongoing %}
                    <div class="test-ongoing"><i class='bx bx-info-circle'></i><div class="info">Test Ongoing</div></div>
                    {% else %}
                      {% if sheet.total_score %}
                      <div class="points-con"><span class="point">{{sheet.get_score}} /</span><span>{{sheet.test.total_marks}}</span></div>
                      {% else %}
                      <div class="test-pending"><img src="{% static 'classroom/images/wait.svg' %}" alt=""><div class="info">Result pending</div></div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
        
      </ul>
    </div>
    {% endif %}
    
    <div class="tasks">
      <ul>
        <li>
          <a href="#">
            <div class="task-item shadow">
              <img src="/images/test_icons/grp.png">
              <div class="info">
                <div class="label-title">sample test title <div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">week 1</span><i class='bx bxs-left-arrow'></i></span></div> </div>
                <div class="complete-time"><span class="sub-title">Submitted on:</span><span class="time">7:00PM, 17 Oct 2022</span></div>
                <div class="score-con">
                  <div class="score-inner">
                    <div class="label">Score:</div>
                    <!-- <div class="points-con"><span class="point">80 /</span><span>100</span></div> -->
                    <!-- <div class="test-ongoing"><i class='bx bx-info-circle'></i><div class="info">Test Ongoing</div></div> -->
                    <div class="task-pending"><img src="/images/test_icons/excl.svg" alt=""><div class="info">Unchecked</div></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="no-content mt-2 shadow rounded" style="display: none;">
      <img src="/images/test_icons/panda.png" alt="">
      <div class="info mt-3 text-muted">No activities</div>
    </div>
  </div>
  {% endif %}

  <div class="weekly-tests title-box">
    <div class="title">Weekly Test</div>
    <div class="content">
      {% if classroom.non_live_tests.has_nl_tests %}
      <ul>
        {% if request.user in classroom.teachers.all %}
        {% for up_test in classroom.non_live_tests.up_tests %}
        <li>
          <a href="{% url 'weekly_test:view_ques' up_test.id %}">
            <div class="test test-upcoming list-item">
              <img src="{% static 'classroom/images/test.svg' %}" alt="">
              <div class="info">
                <div class="label-title">{{up_test.title}}<div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">{{up_test.weeknum_str}}</span><i class='{{up_test.section_icon_css}}'></i></span></div> </div>
                <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="{{up_test.id}}">{{up_test.schedule|date:"c"}}</span></div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
        {% else %}
        {% for up_test in classroom.non_live_tests.up_tests %}
        <li>
          <div class="test test-upcoming list-item">
            <img src="{% static 'classroom/images/test.svg' %}" alt="">
            <div class="info">
              <div class="label-title">{{up_test.title}}<div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">{{up_test.weeknum_str}}</span><i class='{{up_test.section_icon_css}}'></i></span></div> </div>
              <div class="held-on"><span class="sub-title">Schedule:</span><span class="time" id="{{up_test.id}}">{{up_test.schedule|date:"c"}}</span></div>
            </div>
          </div>
        </li>
        {% endfor %}
        {% endif %}
        {% for prev_test in classroom.non_live_tests.prev_tests %}
        <li>
          <a href="{% url 'weekly_test:view_test' prev_test.id %}">
            <div class="test list-item">
              <img src="{% static 'classroom/images/test.svg' %}" alt="">
              <div class="info">
                <div class="label-title">{{prev_test.title}}<div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">{{prev_test.weeknum_str}}</span><i class='{{prev_test.section_icon_css}}'></i></span></div> </div>
                <div class="held-on"><span class="sub-title">held on:</span><span class="time" id="testid-{{prev_test.id}}">{{prev_test.schedule|date:"c"}}</span></div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}   
        </ul>
      {% else %}
      <div class="no-content"><img src="{% static 'classroom/images/exam.png' %}"><span>No upcoming or previous tests</span></div>
      {% endif %}
    </div>
  </div>

  <div class="weekly-tasks title-box">
    <div class="title">Previously Assigned Tasks</div>
    <div class="content">
      {% if classroom.all_tasks.prev_task %}
      <ul>
        {% for p_task in classroom.all_tasks.prev_task %}
        <li>
          <a href="{% url 'classroom:tasks:view_task' p_task.classroom.id p_task.id %}">
            <div class="assignment list-item">
              <img src="{% if p_task.is_group_task %}{% static 'classroom/images/grp.png' %}{% else %}{% static 'classroom/images/indiv.png' %}{% endif %}">
              <div class="info">
                <div class="label-title">{{p_task.title}}<div class="w-info-con"><span class="week-badge shadow-sm"><span class="w-num">{{p_task.weeknum_str}}</span><i class='{{p_task.section_icon_css}}'></i></span></div></div>
                <div class="deadline"><span class="sub-title">Closed:</span><span class="time" id="taskid-{{p_task.id}}">{{p_task.deadline|date:"c"}}</span></div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="no-content"><img src="{% static 'classroom/images/task.png' %}"><span>No Previous Tasks</span></div>
      {% endif %}
    </div>
  </div>

</div>
{% csrf_token %}
{% endblock content %}

{% block script %}
<script>
  const invitation_text = `{{ invitation_text }}`
  const classroom_id = "{{ classroom.id }}"
  const post_create_url = "{% url 'classroom:post_to_classroom' classroom.id %}"
  const weekly_create_url = "{% url 'weeklies:create_weekly' classroom.id %}"
  const ping_url = "{% url 'weekly_test_api:live_test_stats' classroom.id %}"
</script>
<script src="{% static 'classroom/scripts/classroom_dash.js' %}"></script>
<script src="{% static 'classroom/scripts/lping.js' %}"></script>
{% endblock script %}