{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/about.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>{{classroom.name}} About</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="meta-info shadow-sm">
  <div class="classroom-name">{{classroom.name}}</div>
  <div class="course">{{classroom.course}}</div>
  <i class='bg bx bx-math'></i>
  {% if request.user in classroom.teachers.all %}
  <a href="{% url 'classroom:edit_classroom' classroom.id %}" class="edit-btn shadow"><i class='bx bx-pencil'></i><span>Edit</span></a>
  {% endif %}
</div>
<div class="content">
  <div class="table-and-action">
    <div class="table-con">
      <table>
        <tr>
          <td class="label">Number of students</td>
          <td class="value">{{classroom.num_students}}</td>
        </tr>
        <tr>
          <td class="label">Weeklies</td>
          <td class="value">{{classroom.num_weeklies}}</td>
        </tr>
        <tr>
          <td class="label">General Posts</td>
          <td class="value">{{classroom.num_posts}}</td>
        </tr>
        <tr>
          <td class="label">Created</td>
          <td class="value"><span class="time" id="classroom-creation-time">{{classroom.created|date:"c"}}</span></td>
        </tr>
        <tr>
          <td class="label">Classroom Status</td>
          <td class="value {{classroom.active_status_css_class}}"><i class='bx bxs-circle'></i></td>
        </tr>
      </table>
    </div>
    <div class="btn-con">
      {% if request.user in classroom.teachers.all %}
      {% if classroom.active %}
      <button class="btn-1 deactivate" id="change_active_btn" data-active=true><i class='bx bx-stop-circle'></i><span>Deactivate Classroom</span></button>
      {% else %}
      <button class="btn-1 activate" id="change_active_btn" data-active=false><i class='bx bx-play-circle'></i><span>Activate Classroom</span></button>
      {% endif %}
      {% else %}
      <button class="btn-1" id="leave-btn" data-user-id={{request.user.id}}><i class='bx bx-exit'></i><span>Leave Classroom</span></button>
      {% endif %}
    </div>
  </div>
  <div class="join-code-con">
    <div id="join-code">
      <div class="title">Join URL</div>
    </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'classroom/scripts/qrcode.min.js' %}"></script>
<script src="{% static 'classroom/scripts/localtimes.js' %}"></script>
<script src="{% static 'classroom/scripts/about_classroom.js' %}"></script>
<script>
  var qrcode = new QRCode("join-code", "{% url 'classroom:join_classroom' classroom.id %}");
  const classroom_update_url = "{% url 'classroom:update_classroom' classroom.id  %}";
  const remove_student_url = "{% url 'classroom:remove_student' classroom.id %}";
  const csrftoken = "{{csrf_token}}"
</script>
{% endblock script %}


