{% extends 'classroom/base.html' %}
{% block title %}<title>OpenClassroom</title>{% endblock title %}
{% block content %} {% load static %}
<div class="classrooms-dashboard">
  <div class="my-teachings classes-section">
    <div class="heading"><i class='bx bx-user-voice'></i><span>My Teachings</span></div>
    <div class="classrooms-container">
      <a class="classroom" href="">
        <div class="classroom-heading">
          <div class="title">Classroom Name</div>
          <div class="course">EEE 705</div>
        </div>
        <div class="info">
          <div class="num-students i-item">
            <i class='bx bx-group'></i><span>54 Students</span>
          </div>
          <div class="event-info i-item">
            <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
          </div>
        </div>
      </a>
      <a class="classroom" href="">
        <div class="classroom-heading">
          <div class="title">Classroom Name</div>
          <div class="course">EEE 705</div>
        </div>
        <div class="info">
          <div class="num-students i-item">
            <i class='bx bx-group'></i><span>54 Students</span>
          </div>
          <div class="event-info i-item">
            <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
          </div>
        </div>
      </a>
      <a class="classroom" href="">
        <div class="classroom-heading">
          <div class="title">Classroom Name</div>
          <div class="course">EEE 705</div>
        </div>
        <div class="info">
          <div class="num-students i-item">
            <i class='bx bx-group'></i><span>54 Students</span>
          </div>
          <div class="event-info i-item">
            <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
          </div>
        </div>
      </a>
      <a class="classroom" href="">
        <div class="classroom-heading">
          <div class="title">Classroom Name</div>
          <div class="course">EEE 705</div>
        </div>
        <div class="info">
          <div class="num-students i-item">
            <i class='bx bx-group'></i><span>54 Students</span>
          </div>
          <div class="event-info i-item">
            <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
          </div>
        </div>
      </a>
      <a class="classroom" href="">
        <div class="classroom-heading">
          <div class="title">Classroom Name</div>
          <div class="course">EEE 705</div>
        </div>
        <div class="info">
          <div class="num-students i-item">
            <i class='bx bx-group'></i><span>54 Students</span>
          </div>
          <div class="event-info i-item">
            <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="my-learnings classes-section">
    <div class="heading"><i class='bx bx-book'></i><span>My Learnings</span></div>
    <div class="classrooms-container">
      <a class="classroom" href="">
        <div class="classroom-heading">
          <div class="title">Classroom Name Lorem ipsum dolor sit amet.</div>
          <div class="course">EEE 705</div>
          <div class="owner"><i class='bx bx-user-voice'></i><span>Lorem ipsum</span></div>
        </div>
        <div class="info">
          <div class="last-post-info i-item">
            <i class='bx bx-history'></i><span>last posted: 7 Oct, 2022</span>
          </div>
          <div class="event-info i-item">
            <i class='bx bx-calendar-event'></i><span>3 upcoming events</span>
          </div>
        </div>
      </a>
      
    </div>
  </div>
  <div class="create-classroom-link">
    <a href=""><i class='bx bxs-plus-circle'></i></a>
  </div>
</div>
{% endblock content %}

