{% extends 'classroom/base.html' %}
{% block title %}<title>OpenClassroom</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_tests' classroom.id %}">Tests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_classroom_assignment' classroom.id %}">Assignments</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Student
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'classroom:classroom_students' classroom.id %}">Student list</a></li>
      <li><a class="dropdown-item" href="{% url 'classroom:classroom_groups' classroom.id %}">Student groups</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_files' classroom.id %}">Files</a>
  </li>
</ul>
{% endblock nav %}
{% block content %}
<div class="left-col">
  <div class="classroom-info">
    <div class="title">{{ classroom.name }}</div>
    <div class="num-students">{{ classroom.course }}</div>
    <div class="share-link">
      <button id="share-link">copy join link <i class='bx bx-copy'></i><div id="copy-info" class="copy-info" style="display: none;">copied</div></button>
    </div>
  </div>
  {% if request.user in classroom.teachers.all %}
  <div class="postbox" id="id_postbox" href="#">
    <div class="form">
      <div class="inset-float-textinput">
        <textarea name="description" id="post-descr"></textarea>
        <label for="post-descr">Post description</label>
      </div>
      <div class="form-actions">
        <div class="attachement-container input-file">
          <input type="file" id="post-files" name="post-file" multiple="multiple">
          <label for="post-files"><i class='bx bx-paperclip'></i>Attach Files</label>
          <div class="selected-file" id="postfiles-file">No files selected</div>
        </div>
        <div class="submit-container">
          <button type="submit" id="create-post">Post
            <div class="loader" id="loader" style="display: none;">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="recent-posts" id="recent-posts" style="display: none;">
    
  </div>

</div>
<div class="right-col">
  {% if teacher_tests %}
  <div class="live-tests title-box" id="live_tests">
    <div class="title">Ongoing Tests</div>
    <div class="content">
      <ul>
        {% for test in teacher_tests %}
        <li>
          <div class="test-item">
            <i class='bx bx-edit-alt'></i>
            <div class="info">
              <a href="{% url 'exam:view_test' test.id %}" class="label-title">{{ test.title }}</a>
              <div class="stat">
                <div class="issued"><i class='bx bx-user-check'></i><span>Issued:&nbsp;</span><span class="value" id="{{test.id}}-issued">{{ test.num_answer_sheets }}</span></div>
                <div class="submitted"><i class='bx bx-check-double'></i><span>Submitted:&nbsp;</span><span class="value" id="{{test.id}}-submitted">{{ test.num_submitted_answer_sheets }}</span></div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if student_tests %}
  <div class="live-tests title-box" id="live_tests">
    <div class="title">Ongoing Tests</div>
    <div class="content">
      <ul>
        {% for test in student_tests %}
        <li>
          <div class="test-item">
            <i class='bx bx-edit-alt'></i>
            <div class="info">
              <div class="label-title">{{ test.title }}</div>
              <div class="action">
                <a href="{% url 'exam:take_test' test.id %}">Take the test</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  
  <div class="upcoming title-box">
    <div class="title">Upcoming</div>
    <div class="content">
      {% if classroom.upcoming_events.hasevents %}
      <ul>{% for exam in classroom.upcoming_events.exams %}
        <li>
          <div class="test list-item">
            <i class='bx bx-edit-alt'></i>
            <div class="info">
              <div class="label-title">{{ exam.title }}</div>
              <div class="time" id="{{exam.id}}_time">{{ exam.schedule|date:'c' }}</div>
            </div>
          </div>
        </li>{% endfor %}
        {% for assignment in classroom.upcoming_events.assignments %}
        <li>
          <div class="assignment list-item">
            <i class='bx bx-briefcase' ></i>
            <div class="info">
              <a href="{% url 'classroom:view_assignment' assignment.id %}" class="label-title">{{ assignment.title }}</a>
              <div class="deadline">Due: <span class="time" id="{{assignment.id}}_time">{{ assignment.submission_deadline|date:'c' }}</span></div>
            </div>
          </div>
        </li>{% endfor %}
      </ul>
      {% else %}
      <div class="no-content"><i class='bx bx-info-circle'></i><span>No upcoming events</span></div>
      {% endif %}
    </div>
  </div>
  {% if request.user in classroom.teachers.all %}
  <div class="links title-box">
    <div class="content">
      <a class="create-test" href="{% url 'exam:create_question' classroom.id %}"><i class='bx bx-edit-alt'></i><span>Create New Test</span></a>
      <a class="create-work" href="{% url 'classroom:create_assignment' classroom.id  %}"><i class='bx bx-briefcase'></i><span>Assign a Work</span></a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block script %}
{% load static %}
<script>
  const join_link = "{{ join_link }}"
  const classroom_id = "{{ classroom.id }}"
  const post_create_url = "{% url 'classroom:post_to_classroom' classroom.id %}"
</script>
<script src="{% static 'classroom/scripts/classroom_dash.js' %}"></script>
{% endblock script %}