{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/style.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Create classroom</title>{% endblock title %}

{% block content %}
<div class="create-classroom" id="id-create-classroom">
  <div class="heading">
    <i class='bx bx-add-to-queue'></i>
    <div class="title">Create New Classroom</div>
  </div>

  <div class="form">
    <div class="field-container inset-float-textinput">
      <input class="inp_input" type="text" id="classname" placeholder=" ">
      <label class="inp_label" for="classname">Classroom Name</label>
    </div>
    <div class="field-container inset-float-textinput">
      <input class="inp_input" type="text" id="course" placeholder=" ">
      <label class="inp_label" for="course">Course Name or Course Code</label>
    </div>
    <div class="submit">
      <button class="btn-1" id="id-create_btn">Create</button>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
{% load static %}
<script src="{% static 'classroom/scripts/create_classroom.js' %}"></script>
<script>
  csrftoken = "{{ csrf_token }}"
  create_classroom_url = "{% url 'classroom:create_classroom_api' %}"
  $(document).ready(
    $('#classname').focus()
  )
</script>
{% endblock script %}