{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/edit_classroom.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Edit classroom</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}
{% block content %}
<div class="edit-classroom">
  <div class="heading mb-1">
    <div class="title">Edit classroom information</div>
  </div>
  <div class="code-con mb-3">
    <div class="current-code">
      <i class='bx bx-barcode-reader'></i>
      <span class="label">Classroom Code:</span>
      <span class="code shadow-sm">{{classroom.join_code}}</span>
    </div>
    <button class="regen-btn">Regenerate</button>
  </div>       
  <div class="form mt-2" id="form-container">
    <div class="field-container inset-float-textinput mb-4">
      <input class="inp_input inp_required" type="text" id="classname" placeholder=" ">
      <label class="inp_label" for="classname">Classroom Name</label>
    </div>
    <div class="field-container inset-float-textinput">
      <input class="inp_input inp_required" type="text" id="course" placeholder=" ">
      <label class="inp_label" for="course">Course Code or Batch</label>
    </div>
    <div class="field-container inset-float-textinput">
      <input class="inp_input" type="text" id="quote" placeholder=" ">
      <label class="inp_label" for="quote">Quote</label>
    </div>
    <div class="field-container input-file">
      <input type="file" class="input-img" id="dp">
      <label for="dp"><i class='bx bx-image-add' ></i><span>New Banner</span></label>
      <div class="selected-file ms-2" id="selected-file">No file selected</div>
      {% if classroom.banner %}
      <button class="restore-btn" id="restore_to_default_btn"><i class='bx bx-refresh'></i><span>Set to default</span></button>
      {% endif %}
    </div>
    <div class="submit mt-5">
      <div class="lds-ellipsis" id="posting-loader" style="display: none;"><div></div><div></div><div></div><div></div></div>
      <button class="btn-1 shadow-sm" id="update-btn">Update</button>
    </div>
  </div>
  <div class="btn-con">
    <button class="btn delete shadow-sm"><i class='bx bx-trash-alt'></i><span>Delete Classroom</span></button>
    {% if classroom.active %}
    <button class="btn deactivate" id="change_active_btn" data-active=true><i class='bx bx-stop-circle'></i><span>Deactivate Classroom</span></button>
    {% else %}
    <button class="btn activate" id="change_active_btn" data-active=false><i class='bx bx-play-circle'></i><span>Activate Classroom</span></button>
    {% endif %}
  </div>
  <div class="success mt-4" id="success-container" style="display: none">
    <i class='bx bx-message-square-check icon'></i>
    <div class="classroom-name" id="new-classroom-name"></div>
    <div class="share-link">
      <a href="{% url 'classroom:classroom_detail' classroom.id %}" class="shadow-btn" id="share-link">Go Back</a>
    </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'classroom/scripts/edit_classroom.js' %}"></script> 
<script>
  const update_clssroom_api = "{% url 'classroom:update_classroom' classroom.id %}"
  const set_banner_api = "{% url 'classroom:set_banner' classroom.id %}"
  const set_banner_to_default_api = "{% url 'classroom:set_banner_to_default' classroom.id %}"
  const csrftoken = "{{ csrf_token }}"
  $(document).ready(function(){
    $('#classname').val("{{classroom.name}}");
    $('#course').val("{{classroom.course}}");
    {% if classroom.quote %}
    $('#quote').val("{{classroom.quote}}");

    {% endif %}
  })
</script>
{% endblock script %}