{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/edit_classroom.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Edit classroom</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">About</a>
  </li>
</ul>
{% endblock nav %}
{% block content %}
<div class="edit-classroom">
  <div class="heading mb-5">
    <div class="title">Edit classroom information</div>
  </div>

  <div class="form" id="form-container">
    <div class="field-container inset-float-textinput mb-4">
      <input class="inp_input" type="text" id="classname" placeholder=" ">
      <label class="inp_label" for="classname">Classroom Name</label>
    </div>
    <div class="field-container inset-float-textinput">
      <input class="inp_input" type="text" id="course" placeholder=" ">
      <label class="inp_label" for="course">Course Code or Batch</label>
    </div>
    <div class="submit mt-5">
      <button class="btn-1 shadow-sm" id="update-btn">Update</button>
    </div>
  </div>
  <div class="success" id="success-container" style="display: none">
    <i class='bx bx-message-square-check icon'></i>
    <div class="classroom-name" id="new-classroom-name"></div>
    <div class="share-link">
      <a href="{% url 'classroom:classroom_detail' classroom.id %}" class="shadow-btn" id="share-link">Go Back</a>
    </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'classroom/scripts/edit_classroom.js' %}"></script> 
<script>
  const update_clssroom_api = "{% url 'classroom:update_classroom' classroom.id %}"
  const csrftoken = "{{ csrf_token }}"
  $(document).ready(function(){
    $('#classname').val("{{classroom.name}}");
    $('#course').val("{{classroom.course}}");
  })
</script>
{% endblock script %}