{% extends 'classroom/base.html' %}
{% block title %}<title>OpenClassroom post detail</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Assignments</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Student
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Student list</a></li>
      <li><a class="dropdown-item" href="#">Student groups</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Files</a>
  </li>
</ul>
{% endblock nav %}
{% block content %}
<div class="post-detail">
  <div class="post-body">
      <div class="description">{{ classroompost.description }}</div>
      <div class="post-info">
          <div class="post-time"><i class='bx bx-time'></i><span class="time">{{ classroompost.posted }}</span></div>
      </div>
      {% if classroompost.has_attachments %}
      <div class="attachments">
          <ul>
              <div class="label"><i class='bx bx-paperclip'></i><span>Attachments</span></div>
              {% for attachemnt in classroompost.postattachment_set.all %}
              <li>
                <div class="file-item">
                    <div class="filename">{{ attachemnt.filename }}</div>
                    <a href="{{ attachemnt.attached_file.url }}"><i class='bx bxs-download'></i></a>
                </div>
              </li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
  </div>
  <div class="comments">
    <div class="heading">
      <i class='bx bxs-chat'></i><span>5 Comments</span>
    </div>
    <div class="comments-container">
      <ul class="comments-list">
        <li>
          <div class="comment">
            <div class="comment-inner">
              <div class="avatar"><img src="images/dp1.jpg" alt=""></div>
              <div class="comment-body">
                <div class="username">MSI Rony</div>
                <div class="time">7:10PM, 27 Oct 2022</div>
                <div class="comment-text">Lmet consectetur Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloremque dolorum autem. Nihil sint odit nesciunt, expedita inventore recusandae illum labore accusantium animi rerum, corporis eum. Sint doloremque blanditiis impedit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero fugiat porro eligendi unde atque enim? amet consectetur adipisicing elit. Natus, atque? adipisicing</div>
                <div class="reply-btn">
                  <button class="show-reply-box" id="comment-1_reply-shower" data-box_con_id="comment-1_reply-con"><i class='bx bx-reply' ></i><span>Reply</span></button>
                </div>
              </div>
            </div>
            <div class="replies">
              <ul class="reply-list" id="comment1-replyList">
                <li>
                  <div class="reply">
                    <div class="avatar"><img src="images/dp4.jpg" alt=""></div>
                    <div class="comment-body">
                      <div class="username user-teacher">Pete Mitchel</div>
                      <div class="time">7:10PM, 27 Oct 2022</div>
                      <div class="comment-text">Voluptate doloremque dolorum autem. Nihil sint odit nesciunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt ducimus, eius corrupti voluptas incidunt optio? Omnis delectus recusandae laudantium.</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="reply">
                    <div class="avatar"><img src="images/dp3.jpg" alt=""></div>
                    <div class="comment-body">
                      <div class="username">Cruize</div>
                      <div class="time">7:10PM, 27 Oct 2022</div>
                      <div class="comment-text">Voluptate doloremque dolorum autem. Nihil sint odit nesciunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt ducimus, eius corrupti voluptas incidunt optio? Omnis delectus recusandae laudantium.</div>
                    </div>
                </li>
              </ul>
            </div>
            <div class="reply-input" style="display: none;" id="comment-1_reply-con">
              <input type="text" name="" id="comment-1_reply" placeholder="Reply to this comment">
              <button class="post-comment-btn" id="comment-1_reply-btn" data-input_id="comment-1_reply" title="post reply"><i class='bx bx-send'></i></button>
            </div>
          </div>
        </li>
        <li>
          <div class="comment">
            <div class="comment-inner">
              <div class="avatar"><img src="images/dp2.jpg" alt=""></div>
              <div class="comment-body">
                <div class="username">Mason Barnard</div>
                <div class="time">6:11PM, 28 Oct 2022</div>
                <div class="comment-text">Adipisicing elit. Voluptate doloremque dolorum autem. Nihil sint odit nesciunt, expedita inventore recusandae illum labore accusantium animi rerum, corporis eum. Sint doloremque blanditiis impedit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero fugiat porro eligendi unde atque enim? amet consectetur adipisicing elit. Natus, atque? adipisicing</div>
                <div class="reply-btn">
                  <button class="show-reply-box" id="comment-2_reply-shower" data-box_con_id="comment-2_reply-con"><i class='bx bx-reply' ></i><span>Reply</span></button>
                </div>
              </div>
            </div>
            <div class="reply-input" style="display: none;" id="comment-2_reply-con">
              <input type="text" name="" id="comment-2_reply" placeholder="Reply to this comment">
              <button class="post-comment-btn" id="comment-2_reply-btn" data-input_id="comment-2_reply" title="post reply"><i class='bx bx-send'></i></button>
            </div>
          </div>
        </li>
      </ul>
      <div class="comment-input">
        <input type="text" name="" id="id_comment-box" placeholder="Write a comment">
        <button class="post-comment-btn" id="comment-post-btn" data-input_id="id_comment-box" title="post comment"><i class='bx bxs-send' ></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
{% load static %}
<script src="{% static 'classroom/scripts/post_detail.js' %}"></script>
{% endblock script %}
