{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'classroom/styles/edit_post.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Delete post</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' post.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' post.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' post.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' post.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}


{% block content %}
<div class="delete-post">
  <div class="home-links">
    <a href="{% url 'classroom:classroom_detail' post.classroom.id %}">{{post.classroom.name}}</a>
  </div>
  <div class="info-con shadow-lg">
    <i class='bg bx bx-bookmark-alt-minus'></i>
    <div class="info-text">Are you sure to delete this post and all the data associated with it?</div>
  </div>
  <div class="action">
    <a href="{% url 'classroom:classroom_detail' post.classroom.id %}" class="ico-btn btn btn-secondary"><i class='bx bx-chevrons-left'></i><span>Go Back</span></a>
    <button id="delete-post-btn" class="ico-btn btn btn-danger"><i class='bx bx-trash-alt'></i><span>Delete</span></button>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'classroom/scripts/delete_post.js' %}"></script>
<script>
  const post_delete_url = "{% url 'classroom:delete_post_api' post.id %}";
  const clssroom_url = "{% url 'classroom:classroom_detail' post.classroom.id %}";
  const csrftoken = "{{ csrf_token }}";
</script>
{% endblock script %}