<!DOCTYPE html>
<html lang="en">
<head> {% load static %}
	<meta charset="UTF-8">
	<title>{{classroom.name}}  Ranking</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'classroom/styles/ranking.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'classroom/styles/navbar.css' %}">
    <link rel="shortcut icon" href="{% static 'classroom/images/sl.svg' %}" type="image/x-icon">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-xl">
		  <div class="container-fluid">
			<a class="navbar-brand flexer-row ms-4" href="{% url 'classroom:homepage' %}">
                <img src="{% static 'classroom/images/sl.svg' %}">
                <div class="site-title">Flipped Classroom</div>
            </a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' classroom.id %}">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'classroom:classroom_connections' classroom.id %}">Participants</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Ranking</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
					</li>
				</ul>
			  <div class="user">
				<div class="avatar" style="background-image: url('{{ request.user.account.avatar_url }}');">
				</div>
				<a href="{% url 'accounts:view_profile' request.user.account.id %}" class="name">{{ request.user.account.user_first_name }}</a>
				<a href="" class="btn-1-outlined">Logout</a>
			  </div>
			</div>
		  </div>
		</nav>
	</header>
	<div class="alert-component">
		<div class="alert-inner">
			<ul id="notification-alert-list">
				{% comment %} <li>
					<div class="alert-con info shadow">
						<img src="./img/confetti.svg" alt="">
						<div class="alert-info ms-2">You've congratulated user for his first position</div>
					</div>
				</li>
				<li>
					<div class="alert-con dark shadow">
						<img src="./img/alert.svg" alt="">
						<div class="alert-info ms-2">You've already congratulated user for his rank in this week</div>
					</div>
				</li>
				<li>
					<div class="alert-con shadow with-dp">
						<img src="./img/user1.jpg" class="shadow dp">
						<div class="alert-info ms-2">User has congratulated you on your ranking</div>
					</div>
				</li> {% endcomment %}
			</ul>
		</div>
	</div>
	<div class="section-container">
		<div class="loader-container mt-5" id="loader-con" >
			<div class="loader">
				<div class="lds-facebook"><div></div><div></div><div></div></div>
			</div>
			<div class="info">Loading Data</div>
		</div>

		<section class="main-content" id="leaderboard-container" style="display: none;">
			
		</section>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
	<script>
		const ranking_api_url = "{% url 'classroom:get_ranking_api' classroom.id  %}";
		const congratulate_user_api_url = "{% url 'classroom:congratulate_user' classroom.id  %}";
		const csrftoken = "{{ csrf_token}}";
		const leaderboard = "{{static_images.leaderboard}}"
		const blank_dp = "{{static_images.blank_dp}}"
		const blank_champion = "{{static_images.blank_champion}}"
		const blank_medal = "{{static_images.blank_medal}}"
		const first_rank = "{{static_images.first_rank}}"
		const second_rank = "{{static_images.second_rank}}"
		const third_rank = "{{static_images.third_rank}}"
		const alert_icon_alert = "{% static 'classroom/images/ranking/alert.svg' %}"
		const alert_icon_confetti = "{% static 'classroom/images/ranking/confetti.svg' %}"
	</script>
	<script src="{% static 'classroom/scripts/ranking.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>