<!DOCTYPE html>
<html lang="en"> {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'classroom/styles/connections.css' %}">
  <link rel="shortcut icon" href="{% static 'classroom/images/sl.svg' %}" type="image/x-icon">
  <title>{{classroom.name}} Participants</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-xl bg-light">
      <div class="container-fluid">
        <a class="navbar-brand flexer-row ms-4" href="{% url 'classroom:homepage' %}">
          <img src="{% static 'classroom/images/sl.svg' %}">
          <div class="site-title">Flipped Classroom</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' classroom.id %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Participants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'classroom:view_assessment' classroom.id %}">Assessment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'classroom:classroom_about' classroom.id %}">About</a>
            </li>
          </ul>
          <div class="user">
            <div class="avatar" style="background-image: url('{{request.user.account.avatar_url}}');">
            </div>
            <a href="{% url 'accounts:view_profile' request.user.account.id %}" class="name">{{ request.user.account.user_first_name }}</a>
            <a href="{% url 'accounts:user_logout' %}" class="btn-1-outlined">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  <main class="container">
    <div class="section-title d-flex align-items-center p-3 my-4 text-white bg-secondary rounded shadow-sm">
      <i class='bx bx-shape-circle me-2'></i>
      <div class="info lh-1">
        <h1 class="mb-1 lh-1">Participants</h1>
        <small>Peoples connected with {{classroom.name}}</small>
      </div>
    </div>
  
    <div class="classroom-teachers my-3 p-3 bg-body rounded shadow-lg">
      <h6 class="border-bottom pb-2 mb-0">Teachers</h6>
      {% if request.user in classroom.teachers.all %}
      {% for teacher in classroom.teachers.all %}
      <div class="d-flex text-muted pt-2">
        <div class="dp me-2" style="background-image: url('{{teacher.account.avatar_url}}');"></div>
        <div class="pb-3 mb-0 my-auto small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark"><a class="user-profile name" href="{% url 'accounts:view_profile' teacher.account.id %}">{{teacher.account.user_full_name}}</a></strong>
          </div>
          <span class="d-block email">{{teacher.email}}</span>
        </div>
      </div>
      {% endfor %}
      <div class="add-teacher mt-3">
        <div class="inp-con">
          <input type="email" class="email-inp" id="add-t-email" placeholder="Email">
        </div>
        <button class="btn-1 ms-1 shadow-sm" id="add-teacher-btn">Add Teacher</button>
      </div>
      {% else %}
      {% for teacher in classroom.teachers.all %}
      <div class="d-flex text-muted pt-2">
        <div class="dp me-2" style="background-image: url('{{teacher.account.avatar_url}}');"></div>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark name">{{teacher.account.user_full_name}}</strong>
          </div>
          <span class="d-block email">{{teacher.email}}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  
    <div class="classroom-students my-3 p-3 bg-body rounded shadow-lg">
      <h6 class="border-bottom pb-2 mb-0">Students (<span id="student-count">{{classroom.students.count}}</span>)</h6>
      {% if request.user in classroom.teachers.all %}
      {% for student in classroom.students.all %}
      <div class="student text-muted" id="student-{{student.id}}-con">
        <div class="dp me-2" style="background-image: url('{{student.account.avatar_url}}');"></div>
        <div class="small lh-sm border-bottom py-2 w-100">
          <strong class="text-gray-dark"><a class="user-profile name" href="{% url 'accounts:view_profile' student.account.id %}">{{student.account.user_full_name}}</a></strong>
          <span class="d-block inst-id">{{student.account.institutional_id}}</span>
          <span class="d-block inst">{{student.account.institution}}</span>
        </div>
        <div class="btn-con">
          <button class="remove-btn" id="usr-{{student.id}}-remove-btn" data-std-id="{{student.id}}" data-con="student-{{student.id}}-con">remove</button>
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% for student in classroom.students.all %}
      <div class="student text-muted" id="student-{{student.id}}-con">
        <div class="dp me-2" style="background-image: url('{{student.account.avatar_url}}');"></div>
        <div class="small lh-sm border-bottom py-2 w-100">
          <strong class="text-gray-dark"><a class="user-profile name" href="{% url 'accounts:view_profile' student.account.id %}">{{student.account.user_full_name}}</a></strong>
          <span class="d-block inst-id">{{student.account.institutional_id}}</span>
          <span class="d-block inst">{{student.account.institution}}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  {% if request.user in classroom.teachers.all %}
  <script>
    const add_teacher_url = "{% url 'classroom:add_teacher' classroom.id %}"
    const remove_user_from_classroom_url = "{% url 'classroom:remove_user_from_classroom' classroom.id %}"
    const csrftoken = "{{csrf_token}}"
  </script>
  {% endif %}
  <script src="{% static 'classroom/scripts/connections.js' %}"></script>
</body>

</html>