<!DOCTYPE html>
<html lang="en">
<head> {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'weekly_test/styles/submit_answer.css' %}">
    <title>Already submitted</title>
</head>
<body>
    <div class="main">
        <div class="content">
            <i class='bx bx-error-circle bg-alert'></i>
            <div class="status-alert">You've Already Submitted Your Answer Sheet</div>
            <div class="sheet-id"><span>Sheet ID:&nbsp;</span><span id="id-answer-sheet-id">{{ answer_sheet.id }}</span></div>
            <div class="action">
                <a href="{% url 'weekly_test:view_answersheet' answer_sheet.id %}" class="nav-btn nav1"><i class='bx bx-spreadsheet'></i><span>View Result</span></a>
                <a href="{% url 'classroom:homepage' %}" class="nav2"><i class='bx bx-home-alt-2'></i><span></span></a>
            </div>
        </div>
    </div>
</body>
</html>