{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'weekly_test/styles/style.css' %}">
    <title>Create Test</title>
</head>
<body>
    <div class="marks-counter-container" id="id_marks-counter-container" style="visibility: hidden;">
        <div class="label">Total Marks</div>
        <div class="marks-count" id="id_marks-count">--</div>
    </div>
    <div class="main">
        <div class="container" id="id_container">
            <div class="home-links">
                <a href="{% url 'classroom:classroom_detail' weekly.classroom.id  %}" class="classroom">{{ weekly.classroom.name }}</a>
                <i class='bx bxs-chevron-right' ></i>
                <a href="{% url 'weeklies:weeklydetail' weekly.classroom.id weekly.weeknum %}" class="weekly">Week {{ weekly.weeknum }}</a>
            </div>
            <div class="create-test-header">
                <div class="title">Create Test for <span class='week'>Week {{ weekly.weeknum }}</span> {% if section %}<span class="section">{{ section }}</span>{% endif %}</div>
            </div>
            <div id="id_create-q-form-container">
                {% csrf_token %}
                <div class="test-info">
                    <div class="heading">Test Information</div>
                    <div class="input-container">
                        <div class="info-input">
                            <input type="text" class="textinput" id="id_test-title" name="name_test-title" placeholder=" ">
                            <label for="id_test-title" class="textinput__label">Test Headline</label>
                        </div>
                        <div class="info-input">
                            <input type="text" class="textinput" id="id_test-desc" name="name_test-desc" placeholder=" ">
                            <label for="id_test-title" class="textinput__label">Test Description or Instructions</label>
                        </div>
                        <div class="info-input time-input">
                            <input type="text" class="textinput" id="id_test-time" name="name_test-time" placeholder=" ">
                            <label for="id_test-title" class="textinput__label">Test Time (in minutes)</label>
                            <div id="id_time-error_info" class="time-error_info"><i class='bx bx-error-circle'></i><span>positive integer required</span></div>
                        </div>
                        <div class="inp-group">
                            <div class="schedule">
                                <div class="datepicker-container">
                                    <i class='bx bx-calendar'></i>
                                    <input type="datetime-local" id="test-schedule" placeholder="Schedule The Test">
                                    <span class="error-msg" id="error-msg-schedule" style="display: none;">*advance date and time required</span>
                                </div>
                            </div>
                            <div class="deadline">
                                <div class="datepicker-container">
                                    <i class='bx bxs-calendar-minus'></i>
                                    <input type="datetime-local" id="deadline-datetime" placeholder="Test Expiration">
                                    <span class="error-msg" id="error-msg-deadline" style="display: none;">*Expiration must be after the schedule</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test-questions" id="id_test-questions">
                    <div class="heading">Test Questions</div>
                    <div class="questions-container" id="id_questions-container">
                        <div class="q qtype-mcq" id="qid_0">
                            <div class="q-anchor" id="qid_0-anchor"></div>
                            <div class="qno-count-container">
                                <div class="qno-count-inner">
                                    <div class="label">Question number:&nbsp;</div>
                                    <div class="qno-count" id="qid_0_count">1</div>
                                </div>
                                <div class="qtype-info">MCQ</div>
                            </div>
                            <div class="meta">
                                <div class="q-title inset-float-textinput">
                                    <input type="text" id="qid_0-title" name="qid_0_title">
                                    <label for="qid_0_title">Question statement</label>
                                </div>
                                <div class="q-marks inset-float-textinput">
                                    <input type="text" class="q-marks-input" id="qid_0-marks" name="qid_0_marks">
                                    <label for="qid_0-marks">Marks</label>
                                </div>
                            </div>
                            <div class="options-container" id="qid_0-options-container">
                                <div class="option" id="qid_0-op0-con">
                                    <input type="radio" id="qid_0-op0-radio" name="qid_0-op">
                                    <label class="qid_0-op-label" id="qid_0-op0-radio-label" for="qid_0-op0-radio"  data-q_opid="0">A</label>
                                    <input type="text" class="option-text" id="qid_0-op0" data-iscorrect="0">
                                </div>
                                <div class="option" id="qid_0-op1-con">
                                    <input type="radio" id="qid_0-op1-radio" name="qid_0-op">
                                    <label class="qid_0-op-label" id="qid_0-op1-radio-label" for="qid_0-op1-radio"  data-q_opid="1">B</label>
                                    <input type="text" class="option-text" id="qid_0-op1" data-iscorrect="0">
                                </div>
                                <div class="option" id="qid_0-op2-con">
                                    <input type="radio" id="qid_0-op2-radio" name="qid_0-op">
                                    <label class="qid_0-op-label" id="qid_0-op2-radio-label" for="qid_0-op2-radio"  data-q_opid="2">C</label>
                                    <input type="text" class="option-text" id="qid_0-op2" data-iscorrect="0">
                                    <button class="op-del" id="qid_0-op2-del"><i class='bx bx-trash-alt' title="delete option"></i></button>
                                </div>
                                <div class="option" id="qid_0-op3-con">
                                    <input type="radio" id="qid_0-op3-radio" name="qid_0-op">
                                    <label class="qid_0-op-label" id="qid_0-op3-radio-label" for="qid_0-op3-radio"  data-q_opid="3">D</label>
                                    <input type="text" class="option-text" id="qid_0-op3" data-iscorrect="0">
                                    <button class="op-del" id="qid_0-op3-del"><i class='bx bx-trash-alt' title="delete option"></i></button>
                                </div>
                            </div>
                            <div class="actions">
                                <button class="add-option" id="mcq0-add-option" title="Add more options"><i class='bx bx-list-plus me-1'></i><span>Add Option</span></button>
                                <button class="delete-question" id="q0-del-option" title="Delete MCQ"><i class='bx bxs-trash-alt'></i><span>Delete MCQ</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="question-adder">
                        <button id="mcq-question-adder"><i class='bx bx-select-multiple'></i><span>Add MCQ</span></button>
                        <button id="des-question-adder"><i class='bx bx-expand-horizontal'></i><span>Add Descriptive Question</span></button>
                    </div>
                </div>
                <div class="save-q-container">
                    <div class="error-container" id="api-error-container" style="display: none;">
                        <div class="inner">
                            <i class='bx bx-error-circle'></i>
                            <div class="info" id="api-error-info">Lorem ipsum dolor sit amet</div>
                        </div>
                        <button id="api-error-hide"><i class='bx bx-comment-x'></i></button>
                    </div>
                    <button type="submit" id="id_create_q_button">
                        Create
                    </button>
                    <div class="loader" id="id_create_q_loader" style="display: none;">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script src="{% static 'weekly_test/scripts/create_q.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    const create_test_url = "{% url 'weekly_test_api:create_test' weekly.id %}?contentcode={{contentcode}}"
    $(document).ready(function(){
        let config = {
            altInput: true,
            altFormat: "d F Y, h:iK",
            dateFormat: "Z",
            enableTime: true,
        }
        flatpickr('#test-schedule', config)
        flatpickr('#deadline-datetime', config)
        $("#id_test-title").focus()
    })
</script>
</body>
</html>