<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0;background-color: #f5f5f5;">
    <div class="pagetitle-test" style="background-color: rgba(76, 141, 194, 0.1);
    color: #80a0a2;
    font-size: 20px;
    margin: 0;
    width: 100%;
    padding: 32px 0;
    font-family: 'Lato', sans-serif;
    text-align: center;">
    A new test announced in <span class="cls-name" style="font-size: 20px;
    font-weight: 600;
    color: #4c8dc2;
    text-shadow: 2px 3px 5px #d8d8e7;">{{test.weekly.classroom.name}}</span></div>
    <div class="weekinfo" style="  width: 100%;text-align: center;padding: 10px 0;color: #00cdbc;font-size: 16px;
    font-family: 'Silkscreen', Monospace;">Week {{test.weekly.weeknum}} <span style="font-size: 16px;font-family: 'Silkscreen', Monospace;color: #03b8a9;text-shadow: 2px 3px 5px #dbe4e7;">{% if test.preclass %}PreClass{% elif test.inclass %}InClass{% elif test.postclass %}PostClass{% endif %}</span></div>
    <div class="info" style="text-align: center;margin: 1rem 5%;padding: 2rem 5px;border-radius: 10px;font-family: 'Lato', sans-serif;
    border-left: 5px solid #4c8dc2;background-color: white;">
        <div class="title" style="padding: 3px 0;">
            <span style="font-weight: 600;">Test Title:</span>
            <span>{{test.title}}</span>
        </div>
        <div class="points" style="padding: 3px 0;">
            <span style="font-weight: 600;">Total marks:</span>
            <span class="value-boxed" style="padding: 3px 5px;background-color: gold;border-radius: 5px;">{{test.total_marks}}</span>
        </div>
        <div class="schedule" style="padding: 3px 0;">
            <span style="font-weight: 600;">Schedule:</span>
            <span class="value-time" style="font-family: 'Courier New', Courier, monospace;color: #80a0a2;">{{test.schedule}} UTC</span>
        </div>
        <div class="expiration" style="padding: 3px 0;">
            <span style="font-weight: 600;">Expiration:</span>
            <span style="font-family: 'Courier New', Courier, monospace;color: #80a0a2;">{{test.expiration}} UTC</span>
        </div>
    </div>
    <div class="site-info" style="text-align: center;font-family: 'Silkscreen', Monospace;color: #80a0a2;padding-bottom:16px">FlippedClassroom</div>
</body>
</html>