{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'weekly_test/styles/viewresult.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/loaders.css' %}">
{% endblock style %}
{% block title %}<title>Test report</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' weeklytest.weekly.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' weeklytest.weekly.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' weeklytest.weekly.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' weeklytest.weekly.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="info">
  <div class="home-links">
    <a href="{% url 'classroom:classroom_detail' weeklytest.weekly.classroom.id %}">{{weeklytest.weekly.classroom.name}}</a>
    <i class='bx bxs-chevron-right' ></i>
    <a href="{% url 'weeklies:weeklydetail' weeklytest.weekly.classroom.id weeklytest.weekly.weeknum %}">Week {{weeklytest.weekly.weeknum}}</a>
    <i class='bx bxs-chevron-right' ></i>
    <span class="current">{{weeklytest.weekly_section}}</span>
  </div>
</div>
<div class="test">
  <div class="test-title">{{ weeklytest.title }}<a href="{% url 'weekly_test:edit_test' weeklytest.id %}" class="edit"><i class='bx bxs-edit'></i></a> </div>
  <div class="info">
    <div class="num-ques"><span class="label">Number of questions:&nbsp;</span><span class="value">{{ weeklytest.num_questions }}</span></div>
    <div class="total-marks"><span class="label">Total marks:&nbsp;</span><span class="value">{{ weeklytest.total_marks }}</span></div>
  </div>
  {% comment %} <div class="created"><span class="time">10/23/2022, 10:34:32 pm</span></div>  {% endcomment %}
</div>
<div class="table-container">
    <div class="heading">Answer Sheets</div>
    <div class="inner" id="table-content">
    </div>
    <div class="loader" id="loader">
      <div class="lds-ripple"><div></div><div></div></div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'weekly_test/scripts/test_detail.js' %}"></script>
<script>
  const api_url = "{% url 'weekly_test_api:test_answersheets' weeklytest.id %}"
  const test_id = "{{ weeklytest.id }}"
  let csrftoken = "{{ csrf_token }}"
</script>
{% endblock script %}
