{% extends 'classroom/base.html' %}
{% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'weekly_test/styles/view_answersheet.css' %}">
<link rel="stylesheet" href="{% static 'classroom/styles/navbar.css' %}">
{% endblock style %}
{% block title %}<title>Answersheet</title>{% endblock title %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'classroom:classroom_detail' answersheet.test.weekly.classroom.id %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_connections' answersheet.test.weekly.classroom.id %}">Connections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:view_assessment' answersheet.test.weekly.classroom.id %}">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:classroom_about' answersheet.test.weekly.classroom.id %}">About</a>
  </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="view-submission-container">
  <div class="info">
    <div class="home-links">
      <a href="{% url 'classroom:classroom_detail' answersheet.test.weekly.classroom.id %}">{{answersheet.test.weekly.classroom.name|truncatechars:10}}</a>
      <i class='bx bxs-chevron-right'></i>
      <a href="{% url 'weeklies:weeklydetail' answersheet.test.weekly.classroom.id answersheet.test.weekly.weeknum %}">Week {{answersheet.test.weekly.weeknum}}</a>
      <i class='bx bxs-chevron-right'></i>
      <a href="{% url 'weekly_test:view_test' answersheet.test.id %}" class="current">{{answersheet.test.weekly_section}} Test</a>
    </div>
    <div class="score-card">
      <div class="obtained-points">
        {% if answersheet.total_score is none %}
        <div class="score-none">
          <i class='bx bx-info-circle'></i>
          <span>Result Pending</span>
        </div>
        {% else %}
        <div class="score-con">
          <i class='bx bx-trophy'></i>
          <div class="points">Score:<span class="point">{{answersheet.get_score}}</span></div>
        </div>
        {% endif %}
      </div>
      <div class="task-points"><span class="num-points">{{answersheet.test.total_marks}}</span></div>
    </div>
    <div class="task-title">{{answersheet.test.title}}</div>
    
    <div class="test-time">
      <div class="time-info">
        <span class="label">Started at:</span>
        <span class="time" id="as-{{answersheet.id}}-start">{{answersheet.issue_time|date:"c"}}</span>
      </div>
      <div class="time-info">
        <span class="label">Submitted at:</span>
        <span class="time" id="as-{{answersheet.id}}-submit">{{answersheet.submit_time|date:"c"}}</span>
      </div>
    </div>
  </div>
  <div class="bottom-pane">
    <div class="submitted-contents">
      <div class="title"><i class='bx bx-file'></i><span>Submitted Answers</span></div>
      {% if request.user in answersheet.test.weekly.classroom.teachers.all %}
      <div class="answers-container">
        {% for des_ans in answersheet.answers.des_answers %}
        {% if des_ans.question.ans_as_img %}
        <div class="q qtype-image">
          <div class="qno-count-container">
              <div class="qno-count-inner">
                  <div class="label">SN</div>
                  <div class="qno-count" id="aid_{{des_ans.id}}-count">-</div>
              </div>
              <div class="qtype-info">DESCRIPTIVE</div>
          </div>
          <div class="content">
              <div class="meta">
                <div class="q-title"><span class="label">Statement:</span>{{des_ans.question.statement}}</div>
                <div class="a-score inset-float-textinput">
                  <input type="text" class="q-marks-input" id="desid_{{des_ans.id}}-marks" data-q-marks="{{des_ans.question.get_mark}}" data-ans-id="{{des_ans.id}}" {% if des_ans.has_score %}value={{des_ans.get_score}}{% endif %}>
                  <label for="qid_{{des_ans.id}}-marks">Score - out of <span class="marks">{{des_ans.question.get_mark}}</span></label>
                </div>
              </div>
              <div class="ans-img">
                  <img src="{{des_ans.answer_img.url}}" alt="">
              </div>
          </div>
        </div>
        {% else %}
        <div class="q qtype-text">
            <div class="qno-count-container">
              <div class="qno-count-inner">
                  <div class="label">SN</div>
                  <div class="qno-count" id="aid_{{des_ans.id}}-count">-</div>
              </div>
              <div class="qtype-info">DESCRIPTIVE</div>
          </div>
          <div class="content">
              <div class="meta">
                <div class="q-title"><span class="label">Statement:</span>{{des_ans.question.statement}}</div>
                <div class="a-score inset-float-textinput">
                  <input type="text" class="q-marks-input" id="desid_{{des_ans.id}}-marks" data-q-marks="{{des_ans.question.get_mark}}"  data-ans-id="{{des_ans.id}}" {% if des_ans.has_score %}value={{des_ans.get_score}}{% endif %}>
                  <label for="qid_{{des_ans.id}}-marks">Score - out of <span class="marks">{{des_ans.question.get_mark}}</span></label>
                </div>
              </div>
              <div class="ans-text" alt="Answer">{{des_ans.answer_text}}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for mcq_ans in answersheet.answers.mcq_answers %}
        <div class="q qtype-mcq" id="qid_1">
          <div class="qno-count-container">
              <div class="qno-count-inner">
                <div class="label">SN</div>
                <div class="qno-count" id="mcqid_{{mcq_ans.id}}-count">-</div>
              </div>
              <div class="qtype-info">MCQ</div>
          </div>
          <div class="content">
              <div class="meta">
                <div class="q-title" id="mcqid_{{mcq_ans.id}}-title"><span class="label">Statement:</span>{{mcq_ans.question.statement}}</div>
                <div class="score-container">
                  {% if mcq_ans.is_correct_ans %}
                  <span class="correct">Correct<span class="score">{{mcq_ans.question.get_mark}}/{{mcq_ans.question.get_mark}}</span></span>
                  {% else %}
                  <span class="incorrect">Incorrect<span class="score">0/{{mcq_ans.question.get_mark}}</span></span>
                  {% endif %}
                </div>
              </div>
              {% for option in mcq_ans.options_data %}
              <div class="choice-container">
                <input type="radio" class="{{option.css_class}}" disabled="disabled">
                <label>{{option.choice_code}}</label>
                <div class="choice-text">{{option.option_text}}</div>
              </div>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
        {% if answersheet.num_des_answers %}
        <div class="submit-container">
          <button type="submit" id="save-score_btn">Save</button>
        </div>
        {% endif %}
      </div>
      {% else %}
      <div class="answers-container">
        {% for des_ans in answersheet.answers.des_answers %}
        {% if des_ans.question.ans_as_img %}
        <div class="q qtype-image">
          <div class="qno-count-container">
              <div class="qno-count-inner">
                  <div class="label">SN</div>
                  <div class="qno-count" id="aid_{{des_ans.id}}-count">-</div>
              </div>
              <div class="qtype-info">DESCRIPTIVE</div>
          </div>
          <div class="content">
              <div class="meta">
                <div class="q-title"><span class="label">Statement:</span>{{des_ans.question.statement}}</div>
                <div class="user-score-info">
                  {% if des_ans.has_score %}
                  <div class="score-container">
                    <span class="label">Score</span>
                    <span class="my-score">{{des_ans.get_score}} / {{des_ans.question.get_mark}}</span>
                  </div>
                  {% else %}
                  <div class="unchecked">
                    <span class="ans-info">Unchecked</span>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="ans-img">
                  <img src="{{des_ans.answer_img.url}}" alt="">
              </div>
          </div>
        </div>
        {% else %}
        <div class="q qtype-text">
            <div class="qno-count-container">
              <div class="qno-count-inner">
                  <div class="label">SN</div>
                  <div class="qno-count" id="aid_{{des_ans.id}}-count">-</div>
              </div>
              <div class="qtype-info">DESCRIPTIVE</div>
          </div>
          <div class="content">
              <div class="meta">
                <div class="q-title"><span class="label">Statement:</span>{{des_ans.question.statement}}</div>
                <div class="user-score-info">
                  {% if des_ans.has_score %}
                  <div class="score-container">
                    <span class="label">Score</span>
                    <span class="my-score">{{des_ans.get_score}} / {{des_ans.question.get_mark}}</span>
                  </div>
                  {% else %}
                  <div class="unchecked">
                    <span class="ans-info">Unchecked</span>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="ans-text" alt="Answer">{{des_ans.answer_text}}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for mcq_ans in answersheet.answers.mcq_answers %}
        <div class="q qtype-mcq" id="qid_1">
          <div class="qno-count-container">
              <div class="qno-count-inner">
                <div class="label">SN</div>
                <div class="qno-count" id="mcqid_{{mcq_ans.id}}-count">-</div>
              </div>
              <div class="qtype-info">MCQ</div>
          </div>
          <div class="content">
              <div class="meta">
                <div class="q-title" id="mcqid_{{mcq_ans.id}}-title"><span class="label">Statement:</span>{{mcq_ans.question.statement}}</div>
                <div class="score-container">
                  {% if mcq_ans.is_correct_ans %}
                  <span class="correct">Correct<span class="score">{{mcq_ans.question.get_mark}}/{{mcq_ans.question.get_mark}}</span></span>
                  {% else %}
                  <span class="incorrect">Incorrect<span class="score">0/{{mcq_ans.question.get_mark}}</span></span>
                  {% endif %}
                </div>
              </div>
              {% for option in mcq_ans.options_data %}
              <div class="choice-container">
                <input type="radio" class="{{option.css_class}}" disabled="disabled">
                <label>{{option.choice_code}}</label>
                <div class="choice-text">{{option.option_text}}</div>
              </div>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
    </div>
    <div class="submitting-student">
      <div class="title">Examinee</div>
      <div class="user">
        <div class="dp" style="background-image: url('{{answersheet.user.account.avatar_url}}');"></div>
        <div class="name">{{answersheet.user.account.user_full_name}}</div>
        <div class="inst-id">{{answersheet.user.account.institutional_id}}</div>
        <div class="inst">{{answersheet.user.account.institution}}</div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block script %}
<script src="{% static 'classroom/scripts/localtimes.js' %}"></script>
<script src="{% static 'weekly_test/scripts/view_answersheet.js' %}"></script>
<script>
  const update_score_url = "{% url 'weekly_test_api:update_score' answersheet.id %}"
  const csrftoken = "{{csrf_token}}"
</script>
{% endblock script %}
