// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;500&family=Montserrat:wght@300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: rgb(102, 102, 102);
}

@mixin flexer ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-items: center;
    align-items: center;
}

body {
    background-color: rgba(202, 224, 214, 0.932);
    .marks-counter-container {
        @include flexer(column);
        position: fixed;
        top: 4rem;
        left: 0;
        padding: 0.5rem 1rem;
        background-color: rgb(120, 160, 148);
        border-radius: 0 5px 5px 0;
        font-size: 0.8rem;
        box-shadow: 0 0 5px rgb(170, 168, 168);
        div {
            cursor: default;
            color: white;
        }
        .marks-count {
            font-size: 1.2rem;
            font-family: 'Gemunu Libre', sans-serif;
        }
    }
    .countdown-view {
        @include flexer(row);
        z-index: 9999;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 5rem;
        left: 0;
        border-radius: 0 5px 5px 0;
        overflow: hidden;
        .countdown-container {
            width: 6rem;
            padding-left: 9px;
            margin: auto;
            .time {
                @include flexer(row);
                margin: auto;
                text-align: center;
                span {
                    color: rgb(59, 170, 133);
                    font-family: 'Gemunu Libre', sans-serif;
                    display: inline-block;
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin-right: 3px;
                    text-shadow: 0 0 5px rgba(61, 180, 111, 0.2);
                    &::after {
                        color: rgb(136, 196, 163);
                        display: inline-block;
                        position: relative;
                        left: 2px;
                        right: 2px;
                        text-shadow: none;
                    }
                }
                #time_hr {
                    &::after {
                        content: ":";
                    }
                }
                #time_min {
                    &::after {
                        content: ":";
                    }
                }
            }
        }
        .toggler-container {
            .toggler {
                background-color: rgb(159, 187, 172);
                padding: 0.7rem 0;
                width: 15px;
                border: 0;
                font-weight: 500;
                font-size: 1rem;
                color: rgb(161, 252, 196);
            }
            .toggler-minimised {
                color: rgb(255, 255, 255);
                text-shadow: 0 0 5px rgb(255, 255, 255);
            }
            .toggler-warning {
                background-color: rgb(233, 240, 236) !important;
                color: red !important;
                text-shadow: 0 0 5px rgb(255, 10, 10) !important;
            }
        }
    }
    .main {
        @include flexer(column);
        margin: 2rem 10%;
        .container {
            @include flexer(column);
            width: 100%;
            .exam-header, .create-test-header {
                @include flexer(column);
                width: 100%;
                padding: 1.5rem 2rem;
                background-color: rgb(103, 133, 127);
                border: 1px solid rgba(139, 139, 139, 0.2);
                border-radius: 10px;
                position: relative;
                .title {
                    color: rgb(241, 241, 241);
                    .heading {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: inherit;
                    }
                    .description {
                        margin-top: 1rem;
                        box-shadow: inset 0 0 10px rgba(127, 214, 173, 0.3);
                        color: white;
                        background-color: rgb(103, 133, 127);
                        border-left: 5px solid white;
                        border-top: 1px solid white;
                        border-bottom: 1px solid white;
                        padding: 0.8rem 1.2rem;
                        border-radius: 4px;
                    }
                }
                .exam-info {
                    width: 80%;
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    top: 0;
                    .value {
                        font-weight: 500;
                        color: rgb(1, 238, 159);
                        cursor: default;
                    }
                    .label {
                        color: rgb(212, 255, 241);
                        cursor: default;
                    }
                    .timeunit {
                        color: #b7ccc6;
                        font-weight: 400;
                        margin-left: 1px;
                        margin-right: 3px;
                        cursor: default;
                    }
                }
            }
            .create-test-header {
                background-color: rgba(240, 255, 255, 0.3);
                padding: 1rem;
                .title {
                    color: rgb(132, 155, 147);
                    font-size: 1.2rem;
                    text-shadow: 0 0 5px rgba(2, 214, 144, 0.2);;
                }
            }
            #id_ans-q-form-container {
                margin-top: 1.5rem;
                width: 100%;
                .q {
                    width: 100%;
                    background-color: white;
                    // border: 1px solid rgba(139, 139, 139, 0.2);
                    box-shadow: 0 0 5px rgba(184, 184, 184, 0.5);
                    border-radius: 10px;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    .qno-count-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        background-color: #9ec5c33a;
                        .qno-count-inner {
                            @include flexer(row);
                            // background-color: rgb(161, 204, 190);
                            padding: 0.3rem 1rem;
                            div {
                                font-family: 'Gemunu Libre', sans-serif;
                                font-size: 1.2rem;
                                font-weight: 500;
                                color: rgb(113, 155, 139)
                            }
                            div.qno-count {
                                color: rgb(39, 184, 135)
                            }
                        }
                        .qtype-info {
                            font-family: 'Gemunu Libre', sans-serif;
                            margin: 0.5rem 1rem 0;
                            color: rgb(165, 189, 181);
                            // background-color: 
                        }
                    }
                    .content {
                        padding: 0.5rem 1.5rem 1.5rem;
                        .q-title {
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
                .qtype-mcq {
                    .choice-container {
                        margin-bottom: 0.5rem;
                        display: flex;
                        flex-direction: row;
                        input {
                            visibility: hidden;
                        }
                        label {
                            display: inline-block;
                            font-size: 0.8rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            font-weight: 500;
                            border: 2px solid rgba(128, 128, 128, 0.4);
                            color: gray;
                            text-align: center;
                            padding-top: 1px;
                            border-radius: 50px;
                            cursor: pointer;
                            transition: 0.3s all;
                        }
                        .choice-text {
                            margin-left: 0.5rem;
                            transition: 0.3s all;
                            cursor: default;
                        }
                        input:checked + label {
                            background-color: rgb(1, 161, 108);
                            border-color: rgb(1, 161, 108);
                            color: white;
                        }
                        input:checked ~ .choice-text {
                            color: rgb(1, 161, 108);
                            text-shadow: 0 0 5px rgba(119, 185, 163, 0.3);
                        }

                    }
                }
                .qtype-image {
                    .q-files {
                        border: 1px solid rgb(137, 192, 169);
                        @include flexer(row);
                        overflow: hidden;
                        border-radius: 5px;
                        input[type="file"] {
                            display: none;
                        }
                        input[type="file"]:active + label {
                            background-color: rgb(1, 161, 108);
                            color: rgb(231, 231, 231);
                            i {
                                color: rgb(231, 231, 231);
                            }
                        }
                        label {
                            @include flexer(row);
                            background-color: rgba(138, 179, 164, 0.555);
                            text-align: center;
                            padding: 0.5rem 1rem;
                            cursor: pointer;
                            transition: all 0.3s;
                            margin-right: 0.5rem;
                            i {
                                font-size: 1.5rem;
                                margin-right: 0.5rem;
                                transition: 0.3s all;
                            }
                            &:hover {
                                background-color: rgba(138, 179, 164, 0.4);
                            }
                            
                        }
                        .selected-file {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
                .submit-container {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    position: relative;
                    button[type="submit"] {
                        @include flexer(column);
                        border-radius: 5px;
                        background-color: #649292;
                        color: rgb(255, 255, 255);
                        padding: 0.7rem 2rem;
                        border: 0;
                        transition: all 0.3s;
                        &:hover {
                            background-color: #7aa5a5;
                        }
                    }
                }
            }
            #id_create-q-form-container {
                width: 100%;
                margin-top: 1.5rem;
                .test-info {
                    overflow: hidden;
                    box-shadow: 0 0 5px rgb(188, 218, 203);
                    background-color: white;
                    border-radius: 10px;
                    .heading {
                        background-color: rgba(58, 170, 129, 0.1);
                        text-align: left;
                        padding: 0.6rem 0 0.6rem 1.5rem;
                        color: rgb(1, 161, 108);
                        // font-weight: 500;
                        text-shadow: 0 0 5px rgba(1, 161, 108, 0.3);
                    }
                    .input-container {
                        padding: 1.5rem;
                        .info-input {
                            margin-bottom: 1.5rem;
                            position: relative;
                            label {
                                position: absolute;
                                font-size: 1rem;
                                top: 1rem;
                                left: 1rem;
                                background-color: white;
                                padding: 0 0.2rem;
                                border-radius: 5px;
                                transition: all 0.2s;
                            }
                            .textinput:focus ~ .textinput__label, 
                            .textinput:not(:placeholder-shown).textinput:not(:focus) ~ .textinput__label {
                                top: -0.6rem;
                                font-size: 0.8rem;
                                color: rgb(1, 161, 108);
                            }
                            .time-error_info {
                                @include flexer(row);
                                visibility: hidden;
                                background-color: white;
                                padding: 0 5px;
                                position: absolute;
                                bottom: -0.5rem;
                                left: 1rem;
                                font-size: 0.7rem;
                                i {
                                    font-size: 1.2rem;
                                    color: rgb(243, 48, 80);
                                    margin-right: 0.2rem;
                                }
                                span {
                                    color: rgb(243, 48, 80);
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .test-questions {
                    overflow: hidden;
                    box-shadow: 0 0 5px rgb(188, 218, 203);
                    background-color: rgb(231, 238, 237);
                    border-radius: 10px;
                    margin-top: 2rem;
                    .heading {
                        background-color: rgb(255, 255, 255);
                        text-align: left;
                        padding: 0.6rem 0 0.6rem 1.5rem;
                        color: rgb(1, 161, 108);
                        text-shadow: 0 0 5px rgba(90, 192, 158, 0.3);
                    }
                    .questions-container {
                        .q {
                            padding: 0;
                            margin: 1rem;
                            border-radius: 10px;
                            box-shadow: 0 0 5px rgb(189, 188, 188);
                            background-color: white;
                            position: relative;
                            .q-anchor {
                                position: absolute;
                                top: -50px;
                                left: -10px;
                            }
                            .qno-count-container {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                .qno-count-inner {
                                    @include flexer(row);
                                    // background-color: rgb(161, 204, 190);
                                    padding: 0.5rem 1rem 0;
                                    div {
                                        font-family: 'Gemunu Libre', sans-serif;
                                        font-size: 1.2rem;
                                        font-weight: 500;
                                        color: rgb(113, 155, 139)
                                    }
                                    div.qno-count {
                                        color: rgb(39, 184, 135)
                                    }
                                }
                                .qtype-info {
                                    font-family: 'Gemunu Libre', sans-serif;
                                    margin: 0.5rem 1rem 0;
                                    color: rgb(165, 189, 181);
                                    // background-color: 
                                }
                            }
                            .meta {
                                @include flexer(row);
                                padding: 1rem;
                                .q-title {
                                    width: 80%;
                                }
                                .q-marks {
                                    width: 18%;
                                    margin-left: 2%;
                                }
                            }
                            .actions {
                                @include flexer(row);
                                margin: 1rem;
                                padding-bottom: 1rem;
                                justify-content: space-between;
                                button.add-option {
                                    @include flexer(row);
                                    border: 0;
                                    padding: 0.2rem 1rem;
                                    border-radius: 5px;
                                    background-color: rgba(159, 192, 188, 0.55);
                                    box-shadow: 0 0 5px rgb(230, 230, 230);
                                    transition: all 0.3s;
                                    i {
                                        color: rgb(255, 255, 255);
                                        font-size: 1.5rem;
                                    }
                                    span {
                                        color: rgb(122, 160, 157);
                                        font-size: 0.9rem;
                                        font-weight: 500;
                                    }
                                    &:hover {
                                        background-color: rgba(159, 192, 188, 0.65);
                                    }
                                }
                                button.delete-question {
                                    @include flexer(row);
                                    border: 1px solid red;
                                    padding: 0.3rem 1rem;
                                    border-radius: 5px;
                                    background-color: white;
                                    transition: all 0.3s;
                                    i {
                                        color: red;
                                        font-size: 1.2rem;
                                        margin-right: 0.5rem;
                                        transition: all 0.3s;
                                    }
                                    span {
                                        color: red;
                                        font-size: 0.9rem;
                                        font-weight: 500;
                                        transition: all 0.3s;
                                    }
                                    &:hover {
                                        background-color: red;
                                        box-shadow: 0 0 5px rgb(230, 122, 122);
                                        i, span {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .qtype-mcq {
                            .options-container {
                                margin: 0 1rem;
                                .option {
                                    @include flexer(row);
                                    margin-top: 1rem;
                                    position: relative;
                                    input[type='radio'] {
                                        display: none;
                                        &:checked ~ label {
                                            background-color: rgb(1, 161, 108);
                                            border-color: rgb(1, 161, 108);
                                            color: white;
                                        }
                                        &:checked ~ input[type="text"] {
                                            background-color: rgba(36, 173, 128, 0.1);
                                        }
                                    }
                                    label {
                                        order: 0;
                                        display: inline-block;
                                        font-size: 0.8rem;
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        font-weight: 500;
                                        border: 2px solid rgba(128, 128, 128, 0.4);
                                        color: rgb(163, 162, 162);
                                        text-align: center;
                                        padding-top: 1px;
                                        border-radius: 50px;
                                        margin-right: 0.5rem;
                                        cursor: pointer;
                                        transition: 0.3s all;
                                    }
                                    input[type='text'] {
                                        order: 1;
                                        display: block;
                                        border-radius: 5px;
                                        border: 1px solid rgb(204, 204, 204);
                                        flex-grow: 100;
                                        padding: 0.3rem 2.2rem 0.3rem 0.5rem;
                                        &:focus {
                                            border-color: rgb(1, 161, 108);
                                            outline: 1px solid rgb(1, 161, 108);
                                            
                                        }
                                        &:focus ~ label {
                                            color: rgb(1, 161, 108);
                                            border-color: rgb(1, 161, 108);;
                                        }
                                        &::selection {
                                            background-color: rgb(36, 206, 149);
                                            color: white;
                                        }
                                    }
                                    button {
                                        order: 2;
                                        border: 0;
                                        position: absolute;
                                        right: 0.2rem;
                                        padding: 5px 5px 0;
                                        border-radius: 5px;
                                        margin-left: 5px;
                                        transition: all 0.3s;
                                        background-color: rgb(212, 208, 211);
                                        i {
                                            color: rgb(255, 255, 255);
                                            font-size: 1.2rem;
                                        }
                                        &:hover {
                                            background-color: rgb(245, 160, 160);
                                        }
                                    }
                                }
                            }
                        }
                        .qtype-descriptive {
                            .actions {
                                .switch {
                                    @include flexer(row);
                                    span {
                                        margin-left: 0.7rem;
                                    }
                                }
                            }
                        }
                    }
                    .question-adder {
                        width: 100%;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        display: flex;
                        justify-content: space-evenly;
                        button {
                            @include flexer(row);
                            justify-content: center;
                            padding: 0.4rem 1rem;
                            width: 33%;
                            border: 0;
                            background-color: rgb(44, 124, 148);
                            border-radius: 20px;
                            box-shadow: 0 0 5px rgb(182, 182, 182);
                            transition: all 0.3s;
                            i {
                                font-size: 1.2rem;
                                margin-right: 0.4em;
                                color: white;
                            }
                            span {
                                color: white;
                                
                            }
                            &:hover {
                                background-color: rgb(101, 145, 153);
                            }
                        }
                    }
                }
                .save-q-container {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    position: relative;
                    .error-container {
                        opacity: 0.9;
                        position: fixed;
                        top: 2.5rem;
                        right: 1rem;
                        padding: 0.5rem 1rem;
                        overflow: hidden;
                        background-color: rgb(209, 29, 29);
                        border-radius: 5px;
                        margin-right: 1rem;
                        box-shadow: 0 0 5px rgb(238, 143, 143);
                        @include flexer('row');
                        .inner {
                            @include flexer(row);
                            padding: 0 1rem;
                            i {
                                color: rgb(255, 255, 255);
                                font-size: 1.5rem;
                                margin-right: 0.5rem;
                            }
                            .info {
                                color: white
                            }
                        }
                        button#api-error-hide {
                            background-color: transparent;
                            border:0;
                            height: 100%;
                            margin-left: 0.3rem;
                            i {
                                font-size: 1.2rem;
                                color: rgb(216, 216, 216)
                            }
                        }
                    }
                    button[type="submit"] {
                        @include flexer(column);
                        border-radius: 5px;
                        background-color: #649292;
                        color: rgb(255, 255, 255);
                        padding: 0.7rem 2rem;
                        border: 0;
                        transition: all 0.3s;
                        &:hover {
                            background-color: #7aa5a5;
                        }
                    }
                    .loader {
                        position: absolute;
                        right: 8rem;
                        top: -1rem;
                    }
                }
            }
        }
    }
}


.textinput {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    &:focus {
        outline: 2px solid rgb(1, 161, 108);
        border-color: rgb(1, 161, 108);
        box-shadow: 0 0 5px rgb(161, 161, 161);
    }
    &::placeholder {
        color: rgb(158, 160, 159);
    }
    &::selection {
        background-color: rgb(36, 206, 149);
        color: white;
    }
}
.textinput.error, .error {
    border: 1px solid rgb(243, 48, 80) !important;
    &:focus {
        outline: 2px solid rgb(243, 48, 80) !important;
        box-shadow: none;
    }
}
.error + label {
    color: red !important;
}

.mcq-error {
    outline: 3px dashed rgb(247, 89, 89);
}


.inset-float-textinput {
    position: relative;
    input {
        width: 100%;
        padding: 1.5rem 1rem 0.5rem;
        border-radius: 5px;
        border: 1px solid rgb(182, 182, 182);
        &:focus {
            outline: 2px solid rgb(1, 161, 108);
            border-color: rgb(1, 161, 108);
            box-shadow: 0 0 5px rgb(161, 161, 161);
        }
        &:focus ~ label {
            color: rgb(1, 161, 108);
        }
        &::placeholder {
            color: rgb(158, 160, 159);
        }
        &::selection {
            background-color: rgb(36, 206, 149);
            color: white;
        }
    }
    label {
        position: absolute;
        font-size: 0.7rem;
        top: 0.2rem;
        left: 1rem;
    }
}

.switch {
    display: inline-block;
    label {
        background-color: rgb(243, 243, 243);
        box-shadow: inset 0 0 5px rgb(206, 206, 206);
        display: block;
        width: 50px;
        height: 22px;
        border-radius: 100px;
        cursor: pointer;
        &::after {
            content: "";
            display: block;
            width: 27px;
            height: 27px;
            background-image: linear-gradient(to bottom right, rgb(180, 190, 190), rgb(180, 190, 190));
            border-radius: 180px;
            position: relative;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all 200ms ease-out;
        }
    }
    input {
        width: 0;
        height: 0;
        display: none;
        &:checked + label {
            background-color: rgb(207, 240, 229);
            &::after {
                left: 55%;
                background-image: linear-gradient(to bottom right, rgb(1, 175, 166), rgb(1, 161, 108));
            }
        }
    }
}

.disabled-btn {
    opacity: 0.5;
    pointer-events: none;
}

// loader
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  